[2016-05-09 22:41] acorbi commented on #852
This issue was caused by an incompatibility with the magic-fields-2 plugin and the newest WP version 4.5. Fixed via https://github.com/OpenDevelopmentMekong/odm-frontend/commit/f5a9ec46d4a2db249774c0cb49f5f3f23666f30e

[2016-05-09 22:41] #852 closed

[2016-05-10 02:34] Huyeng opened #853 "Reference Document on sigle profile page won't display"
The referent document of dataset (Oid & Gas) won't display like ELCs.
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/15134020/5ca4c076-1692-11e6-9952-78dd12269b75.png)
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/15134021/5caea51e-1692-11e6-9079-eadb273fe559.png)

[2016-05-10 05:12] #853 closed

[2016-05-11 07:19] Huyeng commented on #623
The duplicated file formats of CSV, geoJSON, ZIP and SHP in the download box on profile page are improved by grouping the format of each extensions into one unique. If one format contains multiple URLs for downloading, the drop down list will show up. See the screenshot:
![screenshot_10](https://cloud.githubusercontent.com/assets/6613530/15172954/4839e76e-1783-11e6-80a7-d9e43470bb85.png)

[2016-05-11 08:17] prustar commented on #623
This solution seems like it would work fine, the only issue I see is finding a solution to present this on the front end which I know @acorbi and team are working on. If we have two separate shapefiles (1 point/ 1 polygon) then would it seem practical to send the user to separate 'screens' for each individually when in CKAN they are stored together with the same metadata?

[2016-05-11 08:21] acorbi commented on #623
@huyeng looks good to me. i would just try to keep that dropdown menu consistant with other elements of the UI in terms of design.

@prustar since the expected behaviour is to download the file directly ( and not being taken to another screen) i think there is no problem with this approach.

[2016-05-11 08:24] Huyeng commented on #623
What is design of the dropdown menu of the UI?

@prustar, like Alex said, those just link directly to download.

[2016-05-11 08:27] acorbi commented on #623
@huyeng zhere is no design proposal for it. i would say, keep it as unified as possible with the current UI elements

[2016-05-11 09:01] acorbi opened #856 "Artifact on resource download box in ELC profiles"
Note that 4 appearing in the box.

Happens both on:
https://cambodia.opendevelopmentmekong.net/profiles/economic-land-concessions/
https://cambodia.opendevelopmentmekong.net/kh/profiles/economic-land-concessions/
https://pp-cambodia.opendevelopmentmekong.net/profiles/economic-land-concessions/
https://pp-cambodia.opendevelopmentmekong.net/kh/profiles/economic-land-concessions/

![screenshot from 2

[2016-05-11 10:40] prustar commented on #747
In relation to this issue the River layer in ODC does not display the info windows at all. This seems to be only an issue in Chrome @punwath and others have experienced this.

[2016-05-11 11:05] Huyeng commented on #623
Done. please check and give comment on that.
https://cambodia.opendevelopmentmekong.net/kh/profiles/economic-land-concessions/#

[2016-05-11 14:14] acorbi commented on #623
@prustar reopened? not working as expected?

[2016-05-11 14:29] prustar commented on #623
@Huyeng This is great and reduces the confusion with the differing file types -- however none of the download files have metadata embedded in them, so we still need to find a way to direct the user to the metadata if they need it. I understand this is part of the redesign that @acorbi is working on.

[2016-05-11 14:29] prustar commented on #623
@acorbi @Huyeng  What are the interim solution options for this?

[2016-05-11 15:11] prustar opened #859 "Testing Profile pages in PP tables not visible"
The profile pages have the correct CKAN entry listed and the link works however it is not displaying the table on the front end:
![image](https://cloud.githubusercontent.com/assets/14996905/15185701/9d2807ee-179a-11e6-8321-82eef1dc5528.png)

CKAN CSV resource working see link: https://data.opendevelopmentmekong.net/dataset/protected-areas/resource/1dd25581-01bc-4ed6-a7cb-ea10c7192f8f?type=dataset

[2016-05-12 01:20] Huyeng commented on #859
The issue caused by CKAN. The information of profile is loaded from CKAN API. However, it seems to have a problem with Datastore of CKAN that caused errors.
@Punwath has uploaded the CSV of protected area to CKAN which link below:
https://data.opendevelopmentmekong.net/dataset/protected-areas/resource/1dd25581-01bc-4ed6-a7cb-ea10c7192f8f?type=dataset
However, getting resource from CKAN API results

[2016-05-12 01:20] Huyeng commented on #856
It was fixed.

[2016-05-12 01:20] #856 closed

[2016-05-12 01:25] Huyeng commented on #850
the main category is displaying in alphabetically order, and the sub categories are also displaying in the hierarchical order after restoring the related plugins.

[2016-05-12 01:25] #850 closed

[2016-05-12 01:36] Huyeng commented on #826
I'm also using the latest version of firefox, 46.0.1, but I don't see the error above.
@jpeizer1, Does the issue still exist?

[2016-05-12 02:11] Huyeng commented on #811
Well, those are the templates that were created for the Forest Cover pages on the new site. it won't use for the other country sites.

The ideas to create the Cambodia directory in the child theme are that just would like to separate the specific files/templates of the country from the universal templates because each country has different projects/pages likes Cambodia's forest cover, https://camb

[2016-05-12 02:59] Huyeng opened #860 "Embeded the metadata of dataset from CKAN to the profile page."
On the profile page, if users would like to view the metadata of the dataset, there is no way that users can access to the metadata.

[2016-05-12 06:42] acorbi commented on #859
@prustar @Huyeng you are right. Yesterday I discovered that datapusher was down and therefore those CSV files were not pushed to the datastore and therefore no results were found through the api. I coordinated with Proteus and now is fixed. Resources for other proifiles need to be pushed manually to the datastore in order to be exposed over the API. Steps:
1. Go to the resource
2. Click on manage

[2016-05-12 06:42] #859 closed

[2016-05-12 06:49] #811 closed

[2016-05-12 10:45] #860 closed

[2016-05-13 09:48] prustar opened #865 "Map explorer layers in Myanmar site no longer displaying"
![image](https://cloud.githubusercontent.com/assets/14996905/15244259/8fd493a2-1900-11e6-90b1-a5d38df2969f.png)
Tried in Chrome and Firefox.
When we tested adding a new layer today it displayed.

[2016-05-17 02:32] Huyeng opened #866 "Assign the default template for Profiles Custom post type"
The team frequently forget to set the template whenever they publish the profile page. To avoid the problem occurs again and again, the profile template should set for the custom post type of Profile as default.

[2016-05-17 02:47] #866 closed

[2016-05-17 03:17] Huyeng commented on #623
@prustar, each downloading file has metadata embedded in them, it will be confused to the user.
Why one dataset of ELC has several metadata.
With the current updated code, there is a link under the download that bring users to view the metadate of ELC dataset. Look at the below for example:
![screenshot_13](https://cloud.githubusercontent.com/assets/6613530/15310265/7bd612de-1c18-11e6-94c0-089380f

[2016-05-17 03:26] Huyeng opened #869 "The legend items on map container of profile have overlape each other"
![screenshot_14](https://cloud.githubusercontent.com/assets/6613530/15310363/5cadd6c0-1c19-11e6-8298-1d9280e1c7ce.png)

[2016-05-17 04:40] Huyeng commented on #835
To add the read more button on pop-up window, this task could be done on Cartodb side.
My suggestion, custom the html of infowindow of each layer and add the the html code below.
`<p><a href="https://cambodia.opendevelopmentmekong.net/profiles/economic-land-concessions/?map_id={{map_id}}" target="_blank" />View detail</a></p>`

Note: the url of the address need to change based on the profile link,

[2016-05-17 05:04] #869 closed

[2016-05-17 06:25] Huyeng commented on #865
@prustar, does the issue fix?

[2016-05-17 06:57] Huyeng commented on #483
@prustar does issue still exist?

[2016-05-17 07:14] Huyeng opened #871 "Reference Document on profile page won't display properly"
See the error:
![screenshot_17](https://cloud.githubusercontent.com/assets/6613530/15314042/aa9a96fa-1c39-11e6-9373-60b741cc4a3d.png)

[2016-05-17 07:26] acorbi commented on #871
@Huyeng which URL?

[2016-05-17 07:52] Huyeng commented on #871
oh sorry, I upload the wrong screenshot. It should be this one.
![screenshot_18](https://cloud.githubusercontent.com/assets/6613530/15314925/e479e4f2-1c3e-11e6-813e-adb8fa9bab48.png)

[2016-05-17 07:53] Huyeng commented on #871
It will update to show like this:
![screenshot_19](https://cloud.githubusercontent.com/assets/6613530/15314966/113b9e7c-1c3f-11e6-8961-9af5957fffa0.png)

[2016-05-17 08:30] #871 closed

[2016-05-17 08:38] Huyeng commented on #599
@prustar could you confirm on this issue?

[2016-05-17 09:09] Huyeng opened #873 "When Enable the new layer, each individual map layer always re-loading again and again"
Please check the script to enable the layers to load without re-loading each individual map again and again.

[2016-05-17 10:16] #801 closed

[2016-05-17 10:24] Huyeng commented on #328
All the configuration variables can remove, but the  "Tooltip Message" and "Notice Message appear above the slider" should keep them, they will need in used in some times.

[2016-05-17 10:36] acorbi commented on #328
thanks @Huyeng! I will ammend the PR then...

[2016-05-17 14:05] acorbi opened #875 "Expose template with extra strings to translate"
In order to expose for translation certain strings which are not present in the code, we need to include a php template file so translation software such as transifex detects them.

[2016-05-17 14:17] #875 closed

[2016-05-17 18:55] jpeizer1 opened #877 "Add Table Icon and Link to Map Explorer Layers with new Profile Concessions"
We need Table Icon Links added on the Map Explorer Layers that relate to the new Profile concessions being added just (note table icon on Economic Land Concessions Layer for example
![000065](https://cloud.githubusercontent.com/assets/16559612/15335204/50218728-1c3f-11e6-85b6-af8a168ba360.png)
)

[2016-05-17 20:30] prustar commented on #599
![image](https://cloud.githubusercontent.com/assets/14996905/15338067/925df970-1c7e-11e6-983a-96afdc596e0d.png)
![image](https://cloud.githubusercontent.com/assets/14996905/15338122/bd20aea0-1c7e-11e6-920a-71b75791d8ca.png)

Still happening on these layers but not this one:?
![image](https://cloud.githubusercontent.com/assets/14996905/15338104/b1f7f4ac-1c7e-11e6-915c-4998887f485b.png)

Could be my

[2016-05-17 20:35] prustar commented on #483
@Huyeng Yes this is still an issue and needs to be included somehow. The layers are taking so long to load and would be good to let people know that something is happening even if slow.

[2016-05-17 20:40] prustar commented on #865
@Huyeng I believe its just me and the Myanmar team. I checked now and still the layers don't show for me except for the test layer that was added. @yanoak @tnyoon @DragonVirus Do you guys still have the same issue or have the layers started to show up now? I'm using Chrome and Firefox, it's the same on both.

[2016-05-17 20:46] prustar commented on #835
Done! Thanks @Huyeng for the code tip!

[2016-05-17 20:46] #835 closed

[2016-05-17 20:54] prustar commented on #623
@acorbi the function is great except that it didn't allow the user to view the metadata because it didn't take them to the CKAN entry. Now with @Huyeng 's link on the bottom it makes more sense. Thanks looks great and more towards the new re-design style ;)

[2016-05-17 20:54] #623 closed

[2016-05-17 22:28] jpeizer1 commented on #483
Agreed -- I've had this issue too, you don't know if its working or not. If you are a user with a fast pc its particularly disconcerting because you just assume its not working.

[2016-05-18 03:09] rustedfish commented on #865
@prustar @Huyeng I deleted the map layer which we added together because Burmese fonts are not displaying. And uploaded new layers in Test Page but both languages are not displaying yet.

[2016-05-18 04:39] DragonVirus commented on #865
it works in pp-myanmar site. Still doesn't work in production site.
For the burmese fonts, i think we need to add font embedded to the site.

[2016-05-18 09:10] DragonVirus commented on #745
We should use a build system like gulp (http://gulpjs.com/) for this assets management.

[2016-05-18 09:21] acorbi commented on #745
Integrating gulp with wordpress might be a good option for this, yes. The main problem I see with these approach is that we would be adding node/npm to the list of dependencies for the wordpress components, at least for development. I haven't done it before but I have found some articles we could dig into:

http://mattbanks.me/gulp-wordpress-development/
https://ahmadawais.com/my-advanced-gulp-wor

[2016-05-19 03:24] Huyeng commented on #877
Those profile pages are on the PP-Site. They will be added on the Main site.

[2016-05-19 03:40] Huyeng commented on #865
Which working layer that is testing. I noticed that the filling information of layers for dual sites that need to publish on the map explorer layer  are not correctly at all. I will create the wiki document for guideline.

[2016-05-19 05:35] Huyeng commented on #865
Here is the brief guideline: https://wiki.opendevelopmentmekong.net/partners:map-explorer-page#layer_settings

[2016-05-19 06:25] acorbi commented on #865
@Huyeng FYI: I have linked your guide from the homepage of the wiki https://wiki.opendevelopmentmekong.net/start

[2016-05-19 07:06] #328 closed

[2016-05-21 07:19] jpeizer1 opened #878 "No download files for Oil & Gas Profile Page?"
![oil-gas](https://cloud.githubusercontent.com/assets/16559612/15447082/cadabf64-1f02-11e6-905e-ff7d49912dd0.JPG)

Using Firefox

[2016-05-22 17:50] acorbi opened #879 "Extract wpckan related widgets from this theme and host them in wpckan"
Currently, Jeo child theme is exposing the OD Query Resources and OD Related resources widgets which should be part of wpckan

[2016-05-22 18:05] #879 closed

[2016-05-23 02:09] Huyeng commented on #878
Found the problem, the dataset name on CKAN was changed but, the added link didn't update, as a result show nothing. Fixed with updated new url.

[2016-05-23 02:09] #878 closed

[2016-05-23 02:19] Huyeng commented on #865
Added. Can I close this issue?

[2016-05-23 07:21] punwath commented on #877
Issue was solved.

[2016-05-23 07:30] acorbi commented on #877
@Huyeng @punwath can we then close this issue?

[2016-05-23 08:14] punwath opened #881 "Convert English number to Khmer number for Khmer profile page."
Data nowadays uses English number. Therefore, for Khmer profile page, the numbers are appeared in English. Is there any possibility to convert from English to Khmer number ?

[2016-05-23 08:23] punwath opened #882 "The date shown in profile page is not correct."
![image](https://cloud.githubusercontent.com/assets/18112596/15464434/8584b55c-20f9-11e6-91c3-2a48379a793a.png)

The table  automatically generates the date with time and it shows YYYY MM DD-T00:00:00 while the CSV table is MM DD YYYY. Is it possible to make the date style to DD MM YYYY ?

[2016-05-23 09:08] prustar opened #883 "Legend on Mining map profile page not displaying correctly"
On Pre-Production:

![image](https://cloud.githubusercontent.com/assets/14996905/15465766/92d1fa26-20d6-11e6-859b-79bb97fe22fd.png)

[2016-05-23 09:22] prustar opened #884 "Profile Page // Detail profile pages shouldn't display all the 'Not Found' fields"
Currently there are many individual profile pages that display little to no detailed information and display 'not found' in the fields. For example:
![image](https://cloud.githubusercontent.com/assets/14996905/15466091/279d0b18-20d8-11e6-8932-0d421b6e127a.png)
This is due to the constraints of being able to research and find data in relation to these projects. It is important to state that this is

[2016-05-23 09:27] prustar opened #885 "Profile Page // Reference document links for mining page isn't working"
@punwath @samean Could one of you please check the CSV file to make sure that the references have been entered in correctly. They don't appear to be displaying on the site:

![image](https://cloud.githubusercontent.com/assets/14996905/15466309/368eecee-20d9-11e6-8693-052fb7505cf4.png)

[2016-05-23 09:28] prustar commented on #885
The documents haven't been fully published in CKAN yet. Thanks for the update @punwath

[2016-05-23 09:28] #885 closed

[2016-05-23 09:52] #877 closed

[2016-05-23 12:40] #882 closed

[2016-05-24 08:05] Huyeng commented on #883
To fix this issue, please go Cartodb and proceed the legend of map by getting the custom template.

[2016-05-24 08:05] #883 closed

[2016-05-24 10:15] DBishton opened #888 "CSS adjustment for tables in WordPress"
I'd like to request a CSS styling tweak to apply consistent styling to basic tables. Currently any tables created with the TablePress plugin have a very small font size for the header row, which looks odd with the larger table cell text.

[2016-05-24 11:35] jpeizer1 opened #889 ""English" Flag inconsistant across country sites"
I notice that on every country site including Mekong the language flag (top right) for English is the Union Jack (English), but in Cambodia its the Stars and Stripes (American). May I suggest this hybrid flag (below) across all pages to denote English? the benefit of this flag is that it immediately denotes a language rather than a country -- which will work better in the new V2 design if we use f

[2016-05-24 11:45] acorbi commented on #888
To be approached as part of the redesign. @DragonVirus Could you please add information about the styling for the tables on https://docs.google.com/document/d/1BYndbNy7ywyFZB1Rtq53RGuCTXN5YP2zClcGJ6T675w/edit

[2016-05-24 11:47] acorbi commented on #889
@jpeizer1 Agreed, I am adding this to the implementation plan document

[2016-05-25 10:33] Huyeng commented on #888
Fixed and Added.

[2016-05-25 10:33] #888 closed

[2016-05-26 08:32] acorbi opened #892 "Separate datastore_api related functions and add tests"

[2016-05-26 09:13] #892 closed

[2016-05-26 11:16] prustar commented on #865
@Huyeng I still don't get any layers appearing except for the test layer:

![image](https://cloud.githubusercontent.com/assets/14996905/15572847/8d361402-2343-11e6-9174-7bd1ce0bfc99.png)

[2016-05-27 09:34] S-mardii commented on #865
I believe the issue happen when you switch from https://myanmar.pp.opendevelopmentmekong.net/map-explorer/ to https://myanmar.opendevelopmentmekong.net/my/map-explorer/

[2016-05-27 09:39] S-mardii commented on #865
Therefore the solution for this is to add the missing info into: **Download URL (Burmese), CartoDB URL (Burmese)**  and  **Enter your HTML code to use as legend on the layer (Burmese)**.

[2016-05-27 09:40] S-mardii commented on #865
![edit layer open development myanmar wordpress 2016-05-27 16-37-19](https://cloud.githubusercontent.com/assets/18528756/15604281/ad9d1d3a-2429-11e6-8016-5e56ea45be6f.png)

[2016-05-27 09:42] S-mardii commented on #865
As Map Layers in Burmese font hasn't embedded, I would suggest you copy the URL of layers in English for the time being.

[2016-05-27 09:54] S-mardii commented on #865
Here is the Example:
First you have this:
![screenshot_1](https://cloud.githubusercontent.com/assets/18528756/15604578/591bcc00-242b-11e6-9997-20e7c59f06e3.png)
That is why the result is like this:
![screenshot_2](https://cloud.githubusercontent.com/assets/18528756/15604643/ae127cfe-242b-11e6-92e1-8ce62ccd75d0.png)

[2016-05-27 10:01] S-mardii commented on #865
My suggested solution is to copy the values in the red boxes and paste it in the green boxes according to the number in this screenshot.
![edit layer open development myanmar wordpress 2016-05-27 16-58-59](https://cloud.githubusercontent.com/assets/18528756/15604826/7eace4bc-242c-11e6-8137-acaecc131125.png)
The result will be like this:
![screenshot_3](https://cloud.githubusercontent.com/assets/18

[2016-05-27 10:50] Huyeng commented on #865
Thanks @S-mardii for your suggestion and solution.
The layers won't show in Burma page because of no data entry into, but on English page, they are.
@prustar Please coordinates the Myanmar team to add the map layers for Burma page.

Moreover, we noticed that there is some problems with Myanmar language due to not embeding the font. Please recommend the fonts to due for the site then we can embed t

[2016-05-27 11:06] acorbi commented on #865
## yeah, thanks a lot for your detail report with screenshots. very helpful to understand both problem and solution!

Gesendet von der myMail-App für Android Freitag, 27 Mai 2016, 00:50nachm. +02:00 von Huyeng  notifications@github.com :

[2016-05-27 14:19] prustar commented on #865
@Huyeng @S-mardii -- these layers were loaded before the changes to the WP was made to include the multi-lingual aspects were included. I believe @tnyoon has been working with @acorbi to finalise these - please correct me if I'm wrong. I have provided the training on how to localise the map explorer in wordpress, CKAN and CartoDB so once the language embedding has been finalise they can commence t

[2016-05-27 14:25] prustar commented on #799
@acorbi and everyone - thanks for fixing this.

[2016-05-27 14:25] #799 closed

[2016-05-27 14:28] prustar commented on #865
Just noticed on the Vietnamese site that there's a box for language selection which was present in the Cambodia site as well but no longer there and is missing in the Myanmar site. Is this box significant?

![image](https://cloud.githubusercontent.com/assets/14996905/15610887/f0ebe316-2427-11e6-93bf-f19b3b26626e.png)

[2016-05-27 14:33] prustar commented on #717
After discussions with Try today this seems to be a function that users have enjoyed because it had allowed them to view the concessions overlaid upon a satellite image and when hovered over a polygon with the mouse it became transparent. People liked the ability to have the option to change the base layers for their analysis. Could we please reinstate this function. See screen shots below of the

[2016-05-30 08:09] punwath opened #894 "Correct comma separation for number in SEZ profile page"
In special economic zone profile page the field cdc_num auto generates the comma when it is not require. Actually these numbers should not be separated by comma because they are the licence number.
![image](https://cloud.githubusercontent.com/assets/18112596/15643496/f06c33e4-2677-11e6-852d-f44b5e7fe450.png)

[2016-05-30 09:54] Huyeng commented on #865
The language selection is not available for Vietnam. It was come with migration, and ODC continues to use it to filter posts that belong to the language only.

@prustar  can the issue close?

[2016-05-30 09:54] #881 closed

[2016-05-31 08:19] #894 closed

[2016-06-02 09:25] prustar opened #896 "Map Explorer // Metadata info window not displaying correctly"
I checked the CKAN links and settings. They are all correct, but nothing displaying?

![image](https://cloud.githubusercontent.com/assets/14996905/15740230/4a010982-28b4-11e6-86e4-a43871973927.png)

[2016-06-03 03:57] Huyeng commented on #896
Please the URL of dataset, make sure that it is not 404.

[2016-06-03 05:49] prustar commented on #896
@Huyeng I thought so to but I checked and it was correct.

[2016-06-06 07:53] S-mardii opened #897 "Error: Khmer Unicode Wrapping on Firefox"
Some posts have a problem with Khmer Unicode Font wrapping.

The problem is as below:
![untitled](https://cloud.githubusercontent.com/assets/18528756/15815252/29db9ea2-2bf6-11e6-892a-bbf630a1a66d.png)
![untitled](https://cloud.githubusercontent.com/assets/18528756/15815273/505af7a8-2bf6-11e6-8093-0cba26017128.png)

[2016-06-06 17:55] jpeizer1 opened #899 "MAP Explorer -- OD MEKONG - "Map Layer" Title/color on Layer Window no longer displaying"
![capture](https://cloud.githubusercontent.com/assets/16559612/15831923/e6b2b636-2bed-11e6-989c-81d34b8abbce.JPG)

This is what it looks like displayed with title in Cambodia (although I'd suggest right-indenting the title here as well because its very close to the margin)
![capturea](https://cloud.githubusercontent.com/assets/16559612/15832010/505498f2-2bee-11e6-8572-6c4735a8d80b.JPG)

[2016-06-07 02:04] Huyeng opened #900 "Enhance social media sharing"
When sharing the post on Facebook, some posts show information not correctly.
Suggestion: Add the Open Graph tags to determine what information to display:
- Title of post
- Description should be the content of post
- Image should be the feature of post

[2016-06-08 09:06] Huyeng commented on #899
It will be fixed when the PR
https://github.com/OpenDevelopmentMekong/opendev-wptheme/pull/905 is merged and released.

[2016-06-08 09:08] acorbi commented on #899
Thanks @Huyeng Im reviewing that PR now

[2016-06-09 12:14] DBishton opened #906 "Map explorer metadata info window alignment"
The alignment of the metadata info window for map explorer data layers would look neater if aligned to the left rather than right.

![image](https://cloud.githubusercontent.com/assets/1206387/15929253/4b70781c-2e76-11e6-8624-10f286d99b36.png)

[2016-06-09 12:18] DBishton opened #907 "Map explorer layer info windows should close when a layer is deactivated"
It is unintuitive for the info window to remain when the layer is no longer being displayed. Please see example in screenshot below

![image](https://cloud.githubusercontent.com/assets/1206387/15929382/de3817fe-2e76-11e6-801f-644520104a6c.png)

[2016-06-09 13:43] acorbi commented on #907
@huyeng, im assigning this task to you. However it does not have high priority, please focus on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/717 before

[2016-06-09 13:47] acorbi commented on #899
Fixed via 050704a44ecbf28c1f4ee0e29b50b1b18fb9a02a

[2016-06-09 13:47] #899 closed

[2016-06-09 13:49] acorbi commented on #906
Related issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/896

[2016-06-09 13:50] acorbi commented on #873
Fixed via 050704a44ecbf28c1f4ee0e29b50b1b18fb9a02a

[2016-06-09 13:50] #873 closed

[2016-06-09 13:51] acorbi commented on #865
@prustar @Huyeng can we close this Issue? Did it get solved with configuration or with the latest improvements on Map explorer?

[2016-06-09 13:51] acorbi commented on #841
Fixed

[2016-06-09 13:51] #841 closed

[2016-06-09 13:53] acorbi commented on #826
@jpeizer1 can you still reproduce this Issue? This is something that we are going to fix with the upcoming front-end redesign and has low prio anyway but it would be helpful to know if still there in order to consider it a low-hanging fruit and tackle it

[2016-06-09 13:53] acorbi commented on #819
Closing, this is going to be approached on the frontend redesign

[2016-06-09 13:53] #819 closed

[2016-06-09 13:54] acorbi commented on #733
Not applicable anymore, closing

[2016-06-09 13:54] #733 closed

[2016-06-09 13:54] acorbi commented on #745
Fixed on new frontend redesign, closing

[2016-06-09 13:54] #745 closed

[2016-06-09 13:55] acorbi commented on #483
Fixed via 050704a44ecbf28c1f4ee0e29b50b1b18fb9a02a

[2016-06-09 13:55] #483 closed

[2016-06-09 13:56] acorbi commented on #434
Breadcrumbs have been fixed now

[2016-06-09 13:56] #434 closed

[2016-06-09 15:57] prustar commented on #865
@acorbi Left it running for 5 whole minutes and nothing in either Chrome or Firefox. The test layer is the only one that displays. Also the info windows still not displaying. Love the spinning wheel tells me that when I selected the layer something was at least triggered.

![image](https://cloud.githubusercontent.com/assets/14996905/15936431/506e0d08-2e6b-11e6-8117-16e089c6adb7.png)

[2016-06-09 16:40] jpeizer1 commented on #826
I can still reproduce -- but note it happens differently at different levels of zooming -- sometimes it happens, sometimes not, sometimes partially -- if new design fixes it we should wait for that.

[2016-06-09 16:49] acorbi commented on #826
@jpeizer1 does it appear on **normal** zoom level ( clicking CTRL + 0 resets the zoom level ) ???

[2016-06-09 16:54] jpeizer1 opened #908 "Map Explorer -- The Foundation Map Layer has vanished in all countries"
![maps-vanish](https://cloud.githubusercontent.com/assets/16559612/15938332/bf3a4df8-2e40-11e6-97a4-d0cfafb819a0.JPG)

![capturea](https://cloud.githubusercontent.com/assets/16559612/15938389/e41ecfae-2e40-11e6-9b41-893878ac4055.JPG)

![capture3](https://cloud.githubusercontent.com/assets/16559612/15938420/04fa782c-2e41-11e6-96c0-31a47de2b8ac.JPG)

![capturerf](https://cloud.githubusercontent.com/

[2016-06-09 16:58] acorbi commented on #908
@jpeizer1 please try refreshing your browser with CTRL + F5 or browsing the site in incognito mode, I believe this is a cache issue...

[2016-06-09 18:17] jpeizer1 commented on #908
Thanks Alex - that did it (CTRL+F5) - I had to do it for each country map instance  -- The question is how many other users experience this same thing without knowing how to clear it and move on instead... Is it that my browser was up when a change was made? Had I completely closed and restarted my browser would this error have cleared automatically? IS it useful to say somewhere "if you have trou

[2016-06-09 18:21] jpeizer1 commented on #826
No its fine at normal size -- but oddly the problem only seems to happen on the Mekong instance not the countries

[2016-06-11 12:33] acorbi commented on #908
I believe some user might have similar issues but would dissapear once the browser caching would be cleared. This can be triggered in many ways, without needing the action of the user. So I would not worry that much.

I would not do that...

Closing this Issue now, please reopen if you can reproduce it in the future.

[2016-06-11 12:33] #908 closed

[2016-06-11 13:37] acorbi opened #910 "Map explorer's JS breaks when adding cartodb layers to the base-layer category"
@Huyeng's improvements with the base layers of the map explorer allow to add **wms** and **tms** layers to the **base-layer** category in order for the user to select the base layer on the map explorer.

However, adding a **cartodb** layer to the base-layer breaks the js code when the user selects it
![screenshot from 2016-06-11 15-26-58](https://cloud.githubusercontent.com/assets/384894/15985350/

[2016-06-11 13:49] acorbi opened #911 "Add base-layer category per default"
Improve the map-explorer's logic to ensure there is always a Layer category for the Base Layers. This ways user's do not need to create it themselves.  Optimally, this layer category cannot be deleted

[2016-06-11 13:55] acorbi opened #912 "Remove default Map layer from map explorer's base layer selection if other layers have been added"
Currently, if the user has added some layers with thumbnails to the base-layer category on map explorer, the layout does not appear consistent because the Map layer does not have any thumbnail.

![screenshot from 2016-06-11 15-54-58](https://cloud.githubusercontent.com/assets/384894/15985429/e57f5924-2fec-11e6-8b71-3a17b6d8bf41.png)

In order to make this possible I would suggest to remove the def

[2016-06-13 02:14] Huyeng commented on #911
That's good idea.

[2016-06-13 07:14] #911 closed

[2016-06-13 07:14] #912 closed

[2016-06-13 08:58] S-mardii commented on #897
The problem occur because of the Firefox browser which might remove or not read the Zero width space. Anyway, the problem is solved when I copy the Khmer wrapped file into Text Mode instead of Visual Mode. I think the content poster should work on that manually.

[2016-06-13 08:58] #897 closed

[2016-06-13 09:06] S-mardii opened #916 "Mixed Khmer and English Number"
on ទំហំផ្ទៃក្រឡាតំបន់ការពារធម្មជាតិគិតជាហិចតា column, the number appear in both khmer and english.
![screenshot_3](https://cloud.githubusercontent.com/assets/18528756/16002239/d267d952-3180-11e6-925e-bb9a0dbe6e8a.png)

[2016-06-13 09:08] S-mardii commented on #916
https://cambodia.opendevelopmentmekong.net/kh/profiles/natural-protected-areas/

[2016-06-13 09:09] #910 closed

[2016-06-13 09:10] acorbi commented on #916
@S-mardii I would say this happens because there is no khmer value on the dataset for those rows and therefore the code fallsback to english, which would be the expected behaviour. Can you please check if the dataset contains that information?

[2016-06-13 09:10] S-mardii commented on #916
@acorbi  Thanks for the clue. I will check it out.

[2016-06-13 10:10] S-mardii opened #917 "News sources do not display"
There used to be a new source label on each news post. However, I cannot find it on any news post.

[2016-06-13 13:37] acorbi commented on #865
@prustar  @huyeng @jpeizer please try refreshing the burmese map explorer via CTRL+F5 (windows) or CMD+R (osx) or browsing it in incognito mode, clearing the cache or using a broser you have not used before... do the maps now appear?

[2016-06-14 03:52] DBishton opened #918 "OD Mekong map explorer loading never completes"
When loading the map explorer on OD Mekong, the screen doesn't load completely, and a white box is visible on the screen -- see screenshot below.

![image](https://cloud.githubusercontent.com/assets/1206387/16030674/c6eba552-321d-11e6-883c-bd418e03183b.png)

Layers will render, but the white box remain and the browser still indicates that the page hasn't completed loading.

![image](https://cloud.

[2016-06-14 04:30] Huyeng commented on #918
It's loading fine to me.

![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/16031255/53b96e4c-3223-11e6-8b73-346c2dee9c8f.png)

[2016-06-14 06:59] S-mardii commented on #916
After checking the data, the issue happened due to the fact that the dataset posted by the mapper consist of a comma in the number (e.g. 2,000,000), so that the function detect those data with comma as strings not numeric.

The issue is now fixed as the mapper has deleted the comma from the data in that column.

[2016-06-14 06:59] #916 closed

[2016-06-14 07:16] acorbi commented on #918
yeah, that looks like a small glitch that caused that particular tile not to load. probably refreshing with CTRL + F5 or moving the map or changing the zoom level so other tiles are loaded should fix. im closing this issue, thanks for reporting @DBishton !

[2016-06-14 07:16] #918 closed

[2016-06-14 07:19] acorbi commented on #916
@S-mardii good catch, thanks!

[2016-06-14 18:48] jpeizer1 commented on #918
@acorbi @DBishton @prustar If a number of us are WHO KNOW THE SYSTEM  are having these issues which are resolved by CTRL+F5 - but we report them not realizing they can be resolved by CTRL+F5 then you can bet a lot of users are having these same issues -- and their resolution may simply be not to use the system because they assume it doesn't work. And if it resolves itself for a user on one day, an

[2016-06-14 21:36] acorbi opened #919 "Integrate wpsparql on Land topic pages"

[2016-06-14 21:42] prustar opened #920 "Profile Page // SEZ info window fonts and legend"
@punwath Please see screenshot below, the info window fonts sizes are not consistent and the legend is not displaying the symbol.

![image](https://cloud.githubusercontent.com/assets/14996905/16060708/72325a12-3289-11e6-85af-2b774e09bc76.png)

[2016-06-15 02:03] punwath commented on #920
Solved already.

[2016-06-15 04:43] Huyeng commented on #906
The error occurred if the get empty from CKAN dataset. To avoid showing like above, code will be updated to not showing the toggle info box if empty data retrieved.

I don't think it is different if the box is aligned to left. In addition, the info box should show next to the info button that is clicked. Why we need to click on right side, and then read the information on left side. I don't think

[2016-06-15 06:15] Huyeng commented on #920
Thanks for solving this @punwath.

[2016-06-15 06:15] #920 closed

[2016-06-15 07:48] DBishton opened #922 "Decrease font size for WordPress reference footnotes"
Try has requested that we visually distinguish footnotes from the body text of the page for aesthetic reasons. Please decrease the font size for footnotes (references) by two points.

![image](https://cloud.githubusercontent.com/assets/1206387/16071907/34f787b0-3308-11e6-838d-8995574b1009.png)

[2016-06-15 09:11] Huyeng opened #924 "Enhance the styling of the base layers"
After adding a few base layers onto the map explorer, it noticed that, the items won't show inline due to the the long texts and adding thumbnail of base layers. See the screenshot below:
![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/16074047/eea267c0-3312-11e6-8d55-bb154b71ebe7.png)

Suggesting design:
![screenshot_10](https://cloud.githubusercontent.com/assets/6613530/16074

[2016-06-15 13:10] acorbi commented on #924
fixed via 40cfbca09a1567c74510378429c34c05090ac157

[2016-06-15 13:10] #924 closed

[2016-06-15 13:11] acorbi commented on #922
Fixed via 49897eeae9af96d44b9e9d91402e05cddc45754c

[2016-06-15 13:11] #922 closed

[2016-06-15 13:12] acorbi commented on #917
Fixed via d5832c1850057c3a7bbea794e4563a048af42db1

[2016-06-15 13:12] #917 closed

[2016-06-16 08:17] jpeizer1 opened #927 ""Read MORE" link on ODC SLIDER for new ELC Data resolves to 404"
When i click read more on this below I get the 404 page rather than going to profiles...

![elc-slider-404](https://cloud.githubusercontent.com/assets/16559612/16109977/8b0cea84-3379-11e6-8277-348df573d298.JPG)

@Huyeng (Also wouldn't it be better to put newly updated slider pages as the first slider page (or after map explorer first slide) so that new information is presented quickly to the user

[2016-06-16 08:32] jpeizer1 opened #928 "Map Explorer -- ODC -- Energy map layers not showing or turning off in ENVI/LANDSAT/TOPO mode"
I can't see any of the ENERGY layers showing up on either the ENVI, Landsat or TOPO maps and if I switch between the TOPO, LANDSAT maps while these Energy layers are "on" I also cannot turn the layers off even though I dont see them appear on the base maps (e.g. I can't uncheck the energy layer radio buttons).

![layer-issues](https://cloud.githubusercontent.com/assets/16559612/16110289/11d5dd22-3

[2016-06-17 07:26] S-mardii commented on #928
@jpeizer1 Which browser do you use?

[2016-06-17 07:56] jpeizer1 commented on #928
Firefox latest versions.

[2016-06-17 09:11] Huyeng commented on #927
Yes, you are right. The updated information should be presented on the first or second slide.
Since the new function of profile page is implemented, the link was changed, but we forget to update the link on slider. Right now, it was updated.

[2016-06-17 09:11] #927 closed

[2016-06-17 11:01] prustar opened #929 "Myanmar language switcher flag is incorrect"
The flag for the language switcher on the platform for Myanmar needs to be updated to the recent 2010 flag see:

https://en.wikipedia.org/wiki/Flag_of_Myanmar

[2016-06-17 16:01] prustar opened #930 "Map Explorer // Base Layers"
The original base layer when you load a map is this:
![image](https://cloud.githubusercontent.com/assets/14996905/16156527/05a1c558-34b5-11e6-86ef-0116729c7057.png)

However when you switch to one of the options how do you switch back to the original base layer? There is no option for this?

![image](https://cloud.githubusercontent.com/assets/14996905/16156554/2530ddf0-34b5-11e6-9544-8a805be9304e.

[2016-06-17 16:06] acorbi commented on #930
@prustar @Huyeng I would solve this by adding that default base layer to the list of options, that way users can always select it back.

[2016-06-18 08:00] DBishton opened #931 "Remove "bullets" from Feature Box"
Hi @Huyeng, please remove the "bullets" styling from the links  in the Feature Box plugin. Many thanks!

![image](https://cloud.githubusercontent.com/assets/1206387/16169783/4f3f39ba-3565-11e6-8343-67fa9f7d159b.png)

[2016-06-18 08:05] DBishton opened #932 "Featured Articles pro plugin error"
@acorbi Can you look into the status of the FA PRO slider plugin? There's a notification that an update is available, and trying to add a new slider gives this error:

![slider error](https://cloud.githubusercontent.com/assets/1206387/16169798/063f6630-3566-11e6-9820-0db2d664a98e.png)

[2016-06-18 08:10] DBishton opened #933 ""Related news" widget not appearing"
The related news widget is not displaying on the "Land" landing page draft: https://opendevelopmentmekong.net/?post_type=topic&p=177464&preview=true

Settings option is set to "Related to the topics".

@Huyeng, what are the criteria for displaying news? Shouldn't the most recent articles with any "land" tag appear here?

[2016-06-19 15:23] acorbi commented on #932
@DBishton Could you please indicate detail steps to reproduce the Issue? I could actually create a test slider successfully and since I do not know which parameters you are trying to use, I cannot help you with this issue further.

Also, @DBishton  and @davidmhill Can you please cleanup the sliders marked as test? In general, you should not use the production instance for maintaining test content

[2016-06-20 01:22] jpeizer1 commented on #930
@acorbi @prustar @huyeng I'd agree adding the default base to options would be best. I had same problem @prustar did and by trial and error realized that clicking any map base layer option more than once was like turning it on and off (with "off" being the default base layer) but the more logical/user intuitive way would be to have the default layer as one of the options.

[2016-06-20 04:13] vatana92 opened #934 ""Geo Tag" of News"
News article on Geo Tag does not switch to Khmer language when we switch the site in Khmer page.

[2016-06-20 04:22] Huyeng commented on #933
@DBishton, the related news will show if the page is viewed with the real url like this: https://opendevelopmentmekong.net/topics/land
The reason is that, the news will be queried from the specific category based on the page slug "land".
Thus, if the page is preview, the related new won't appear. if you view the real url, it will be there.

[2016-06-20 04:24] DBishton opened #935 ""wpckan query resources" widget throws error"
Adding "wpckan query resources" widget to ODMm topic page causes error:

"Warning: require(/var/www/html/wp-content/plugins/wpckan/utils/../templates/ddataset-listphp): failed to open stream: No such file or directory in /var/www/html/wp-content/plugins/wpckan/utils/wpckan-utils.php on line 304

Fatal error: require(): Failed opening required '/var/www/html/wp-content/plugins/wpckan/utils/../templ

[2016-06-20 04:26] Huyeng commented on #932
According my observation, the problem caused by the permission issue. No matter the permission is assigned to the any user roles, those users can't update the slide even the administrator users.
Only, the supper admin user can update the sliders.
I'm not sure when did the issue happen.
FYI: @acorbi, the new version of the Feature Article Pro is released, we should test and upgrade to the new versi

[2016-06-20 04:28] DBishton commented on #933
@Huyeng Fantastic, thank you for the explanation.

[2016-06-20 04:28] #933 closed

[2016-06-20 04:47] DBishton opened #936 "WordPress "bullet" text line spacing is inconsistent"
When using "bullet" formatting on text in WordPress, the line spacing is different to the body text:

Please make it the same.

![image](https://cloud.githubusercontent.com/assets/1206387/16183502/c2fca3d8-36dc-11e6-8db7-d3afaf374b03.png)

[2016-06-20 05:33] DBishton opened #937 "Related news widget throws error"
Adding the "related news" widget to the Myanmar page throws error:

"Fatal error: Call to undefined function qtrans_useCurrentLanguageIfNotFoundUseDefaultLanguage() in /var/www/html/wp-content/themes/jeo-odm/inc/od-related-recent-news-widget.php on line 44"

![image](https://cloud.githubusercontent.com/assets/1206387/16184040/17717708-36e3-11e6-9929-83fe44d5cd0c.png)

[2016-06-20 06:51] acorbi commented on #932
@DBishton can you confirm @Huyeng 's hypothesis?

[2016-06-20 06:54] DBishton commented on #932
@acorbi @Huyeng I have just started editing with the superadmin account and
no issues so far. When using my usual admin credentials, it would
intermittently allow access to different editing screens of the plugin, but
frequently result in the error in the original issue.

E.g.
https://opendevelopmentmekong.net/wp-admin/post.php?post=1911664&action=edit

Trying to edit this slide from the admin acc

[2016-06-20 07:36] acorbi opened #938 "Ensure all contents are pulled from HTTPS sites to avoid SSL warning"
Currently, on https://opendevelopmentmekong.net browsers are presenting a warning due to the fact that some contents are being pulled from non HTTPS sites. Particularly, the tiles of the map on the news container and probably on the map explorer are producing the issue.

![screenshot-200616](https://cloud.githubusercontent.com/assets/384894/16186373/65008928-36ca-11e6-9ef4-d8d080d16d58.png)

![scr

[2016-06-20 08:59] S-mardii commented on #934
@vatana92 Can I have one example?

[2016-06-20 09:02] acorbi commented on #929
Fixed via https://github.com/OpenDevelopmentMekong/odm-frontend/commit/25d15ae4416b270f2919fbc48b09b7c125fa7a80

[2016-06-20 09:02] #929 closed

[2016-06-20 09:18] S-mardii commented on #934
To my idea, the problem is that Geo tag has not yet translated.

English version:
![screenshot_6](https://cloud.githubusercontent.com/assets/18528756/16189038/9dedb9ee-3702-11e6-9b3d-d6bfd068f659.png)

when switch to khmer in dashboard:
![screenshot_7](https://cloud.githubusercontent.com/assets/18528756/16189045/a9aee366-3702-11e6-83a1-7231e58b2898.png)

[2016-06-20 09:24] acorbi commented on #935
@DBishton @Huyeng Fixed.

The problem was that the only post on the myanmar country site, which was the default test hellow orld post from wordpress, was not multiligual. closing....

[2016-06-20 09:25] acorbi commented on #935
reopening, wrong issue

[2016-06-20 09:26] acorbi commented on #937
@DBishton @Huyeng Fixed.

The problem was that the only post on the myanmar country site, which was the default test hellow orld post from wordpress, was not multiligual. closing....

[2016-06-20 09:26] #937 closed

[2016-06-20 11:50] vatana92 commented on #934
![front end eng](https://cloud.githubusercontent.com/assets/19201022/16193173/d157b46e-3717-11e6-924b-9976a3a29060.PNG)
![front end kh](https://cloud.githubusercontent.com/assets/19201022/16193174/d15db9ae-3717-11e6-9a33-bbe1cac2476f.PNG)

[2016-06-20 11:52] vatana92 commented on #934
![front end eng](https://cloud.githubusercontent.com/assets/19201022/16193239/20007588-3718-11e6-9fdd-aa63974c89eb.PNG)
![front end kh](https://cloud.githubusercontent.com/assets/19201022/16193238/1ffe9c36-3718-11e6-8303-c860e57843f9.PNG)

[2016-06-20 11:57] vatana92 commented on #934
![in news page eng](https://cloud.githubusercontent.com/assets/19201022/16193336/c3777900-3718-11e6-83ca-706b60fa0fc2.PNG)
![in news page](https://cloud.githubusercontent.com/assets/19201022/16193337/c377ec28-3718-11e6-9394-52cfaf848596.PNG)

[2016-06-20 14:58] acorbi commented on #934
@vatana92 I believe @S-mardii is right in his assumption.

Also, can you elaborate a bit on those 2 screenshots? That seems to be relating to a different problem. If so, please open a different Issue

[2016-06-20 16:29] #935 closed

[2016-06-20 21:00] acorbi commented on #928
@jpeizer1 can you still reproduce this issue? does it get solved when you refresh with CTRL + F5 ?

[2016-06-20 21:12] jpeizer1 commented on #928
@corbi I can confirm it has been fixed - the layers show up on top of all the various background layers and the layers now click on and off without getting stuck in on position.

[2016-06-20 22:16] acorbi commented on #928
Then we close this issue :cactus:

[2016-06-20 22:16] #928 closed

[2016-06-21 00:19] #919 closed

[2016-06-21 02:35] Huyeng commented on #936
Code is updated!

[2016-06-21 04:00] vatana92 commented on #934
The issue is about the language of News Article showing on Geo Tag. You can see on the first 2 screenshoots of the home page of Cambodia. When we switch the site to Khmer page, the News Article on Geo Tag still shows in English (Note: That News has both Khmer and English version). Another issue is on News page. You can see on the last 2 screenshoots. The News Article is only show in Khmer Language

[2016-06-21 04:14] punwath opened #944 "The legends of map explorer are not shown for in sub category layers"
When add the sub category layer into ODC map explorer, the legend doesn't pop up but the layers  in main category show the legend well.

[2016-06-21 09:12] prustar opened #945 "MAP EXPLORER // Info windows in VNM site need to be updated"
The display of the info window's in the ODV have not been styled like the ODC site see example:

![image 1](https://cloud.githubusercontent.com/assets/14996905/16224086/cff7ee16-37a0-11e6-824b-2c5090adde5d.png)
![image 2](https://cloud.githubusercontent.com/assets/14996905/16224088/d2589264-37a0-11e6-8a88-f8c1430fa8e2.png)

[2016-06-21 09:19] prustar commented on #906
@DBishton @Huyeng -- I raised this as at ask in TMWP: https://odinitiative.teamworkpm.net/tasks/6533277

It should be included in the overall re-design and edition of the site to make all the fonts, styles etc consistent and more appealing. @acorbi can you give estimate of time frame? I note that on ODC, ODM, ODV and ODMm the map explorer functionality is inconsistent and this needs to be rectifie

[2016-06-21 09:31] acorbi commented on #936
@Huyeng can we close this now then? @dbishton?

[2016-06-21 09:51] DBishton opened #946 "WPCKAN suggestions not firing"
Currently suggestions are not working on the WPCKAN admin interface, meaning we can't add resources to the pages.

![image](https://cloud.githubusercontent.com/assets/1206387/16225337/631dd4b0-37d0-11e6-9bf4-bd914795e657.png)

Screenshot is from the admin screen for https://opendevelopmentmekong.net/topics/land but @prustar reports that the ODC team has experienced it today also.

[2016-06-21 10:00] prustar opened #947 "PROFILE PAGE // ODV SITE"
ODV will be presenting their new Hydropower Research at a workshop this Thursday and they are cleaning and translating the data as we speak. I wanted them to simply make the dataset available on CKAN for users to use but they would like to upload into WP as a profile.

I created a draft page already but there is no menu for profiles yet on the ODV site. Could this please be added URGENTLY, the wor

[2016-06-21 10:00] acorbi commented on #946
![screenshot from 2016-06-21 11-58-54](https://cloud.githubusercontent.com/assets/384894/16225609/c6e7803c-37a7-11e6-959b-b49a25d095e4.png)

CKAN URL on wpckan config needs to be https

Closing

[2016-06-21 10:29] prustar commented on #865
@Huyeng @S-mardii @acorbi -- All working now. Closing.

[2016-06-21 10:29] #865 closed

[2016-06-21 11:43] DBishton opened #948 "WPCKAN library items being displayed as datasets"
Filtered WPCKAN resources on the OD Vietnam land page (https://vietnam.opendevelopmentmekong.net/topics/land) displays all resources as datasets, when spot -checking reveals that many are library items. No "related library items" widget appears on the page.

![image](https://cloud.githubusercontent.com/assets/1206387/16228200/d0e66854-37df-11e6-8283-cee2e98b14e9.png)

Widget appears to be configur

[2016-06-21 13:26] acorbi commented on #948
@DBishton actually, all the related datasets added to the vietnamese land page are library records. the inconsistency relied on the fact that the widget had a wrong title. Now it is fixed and the related resources appear on the **Related library records**.

Closing

[2016-06-21 13:26] #948 closed

[2016-06-21 13:29] acorbi commented on #936
Fixed via 64f59b6746e277a0997dd2967f8212e8731f45f9

[2016-06-21 13:29] #936 closed

[2016-06-21 13:33] acorbi commented on #947
@prustar you need to publish that Profile Page before we can link it from the menu. Once done, please ping me or @DBishton and we will added the link on the header

[2016-06-21 13:43] acorbi commented on #931
Fixed via https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/939

[2016-06-21 13:43] #931 closed

[2016-06-21 13:44] acorbi commented on #717
Closing this Issue, it is already implemented

[2016-06-21 13:44] #717 closed

[2016-06-21 14:00] acorbi commented on #930
@prustar please follow the guide I put together on https://wiki.opendevelopmentmekong.net/partners:map-explorer-page#adding_a_new_base_layer for making base layers available on the map explorer

[2016-06-21 15:26] prustar commented on #947
@acorbi Thanks will do. It's in draft format currently now with nothing in it.

[2016-06-22 08:08] Huyeng commented on #884
ODC team still would like to keep displaying the fields in consistent.

[2016-06-22 08:31] acorbi commented on #938
Fixed via e22d17d762dbe4d562256b2e08808058b1b8d447. @jpeizer1 there should be no problems with https anymore? @Huyeng can you ping your friends who were reproducing the issue on their browsers to see if it is still there?

[2016-06-22 08:31] #938 closed

[2016-06-22 09:28] Huyeng commented on #930
Two ways to add the default map option on the Map explorer:
1- Create new post/base layer as the same of default map, the it will be showed up.
2- Using script to add the default base layer, but no thumbnail.

[2016-06-22 09:35] acorbi commented on #930
I would go for the most configurable option which would be 1.

[2016-06-22 09:46] acorbi commented on #930
@Huyeng if we create that base layer manually. Would it be loaded automatically when the map explorer is loaded? or would the default layer (jeo parent with no https support) be loaded?

I think option 1 is the best one. However, the map explorer would need to load the first base-layerof the list on start and fallback to JEO's default base layer if no base-layers are specified

[2016-06-23 11:00] Huyeng commented on #907
Fixed with #717.

[2016-06-23 11:00] #907 closed

[2016-06-23 15:17] prustar opened #951 "ODC PROFILE // INDIGENOUS COMMUNITY"
@ChandaraKhun @samean -- I like the new Indigenous community land profile page.
Could you please however edit the map to zoom a little more into Cambodia. Edit the legend to include the colours of the various dots and apply info windows using the standard template. Please include the information:
IP Name,
IP land area,
Title land area,
No. of families.

![image](https://cloud.githubusercontent.com

[2016-06-23 15:43] acorbi commented on #95
Fixed via fb8f5cbbe814ff09ed90b72f8065a3921a0f613f

[2016-06-23 15:43] #95 closed

[2016-06-24 05:42] Huyeng opened #952 "The English texts not translate properly in Khmer site"
Those English texts are translated if you look at the Po file in the language directory (Line: 2970 to 3036). However, the english texts still appear in Khmer site, https://cambodia.pp.opendevelopmentmekong.net/kh/profiles/economic-land-concessions/.
https://github.com/OpenDevelopmentMekong/odm-frontend/blob/master/wp-content/languages/km.po

![screenshot_2](https://cloud.githubusercontent.com/ass

[2016-06-24 08:44] Huyeng commented on #951
The JSON API of cartodb has error with custom legend , the color of legends doesn't appear if customized. Suggestion: please do not custom it.

[2016-06-24 08:44] #951 closed

[2016-06-24 08:51] Huyeng opened #953 "Legend error if layer is mutiple click to activate it"
The enable layers by click multiple times, the legend keep adding to the legend box, and map layer still active, it can't disable.
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/16332924/d18a21f2-3a22-11e6-9d96-70cf50e73408.png)

[2016-06-24 10:01] #945 closed

[2016-06-24 10:01] #947 closed

[2016-06-24 10:05] prustar opened #955 "MAP EXPLORER // CartoDB legend"
@Huyeng -- I added a title to the legend on the profile page of the new IP communal land map and it removed the colours for the points? This has to be a bug because in the Map explorer it works fine.

![image](https://cloud.githubusercontent.com/assets/14996905/16334867/da4b6676-3a03-11e6-82c2-07173cf68340.png)

[2016-06-24 10:29] #953 closed

[2016-06-24 11:17] Huyeng commented on #944
Fixed now.

[2016-06-24 11:17] #944 closed

[2016-06-24 11:18] Huyeng commented on #889
Changed them all.

[2016-06-24 11:18] #889 closed

[2016-06-24 11:26] Huyeng commented on #955
Fixed.

[2016-06-24 11:26] #955 closed

[2016-06-24 15:31] prustar commented on #930
@Huyeng -- an alternative for presenting the Base Layer as I don't like having them included in the category box. Many maps will have a separate dropdown box that lists the available background layers.
See this example from CartoDB:

![image](https://cloud.githubusercontent.com/assets/14996905/16342203/2fad0e08-3a31-11e6-85d2-72f08ae2d527.png)

I like the thumb symbol on the top left, if we can ma

[2016-06-27 02:44] Huyeng opened #957 "Hierarchical function for layers to shift layer categories within the layer box"
Provide ability to organize the  map menu items of those layers and category by drag and drop on backup.

[2016-06-27 14:46] acorbi commented on #952
@Huyeng those translations on the .po file on https://github.com/OpenDevelopmentMekong/odm-frontend/blob/master/wp-content/languages/km.po#L2970 are commented out...

The important .po files are actually those present on the **i18n** folder of each of the repositories, see:

https://github.com/OpenDevelopmentMekong/opendev-wptheme/tree/master/i18n
https://github.com/OpenDevelopmentMekong/jeo/tree/

[2016-06-28 01:28] Huyeng commented on #952
Thanks for checking.
The file is not the last updated. I will push the latest one.

[2016-06-28 04:21] Huyeng opened #958 "The map explorer can not view on safari browser"
Map explorer viewed on Safari browser:

![error](https://cloud.githubusercontent.com/assets/6613530/16403722/f7030296-3cac-11e6-9ac7-997d35816197.jpg)

[2016-06-28 07:42] Huyeng commented on #957
Right now, just sort by alphabetical order of name because it will take long to create this function.

[2016-06-28 10:10] prustar opened #961 "METADATA // Form template for display"
@acorbi  @Huyeng The following CKAN metadata fields should be presented on wordpress in the following order. This order should be standardised across the platform for profiles, map explorer and catalogue.

- Description
- Source
- Date Created
- Temporal Range
- Process
- Logical consistency
- Completeness
- Access use and Constraints
- Copyright
- License
- Attributes.

[2016-06-28 11:07] Huyeng commented on #900
The page or url that need to share on Facebook or other social network should contain the the title, description, thumbnail (if available). Current, it still shows the site url only.

[2016-06-29 04:32] Huyeng commented on #934
@acorbi, @vatana92 mentioned about the issue related to the pop-up of news on map of the home-page and single page. If i'm not wrong, the issue is that the info-window is displaying incorrect version between English and Khmer. It means that sometimes, the Khmer texts show up on English page, and English texts appear on Khmer page instead.

[2016-06-29 07:23] punwath opened #962 "Layer of the embed map is disappeared"
The data layer was disappeared when create new map for embed on topic page.
Here is the Link to the SEZ topic page. https://cambodia.opendevelopmentmekong.net/kh/?post_type=topic&p=75076&preview=true

![screenshot_9](https://cloud.githubusercontent.com/assets/18112596/16443820/05939d30-3e05-11e6-91a3-24a3b8cf7d50.jpg)

[2016-06-30 04:52] S-mardii opened #963 "Error Khmer Translation on Laws Page"
The summary of data above the table is not translated when switch into Khmer Language.

![screenshot_2](https://cloud.githubusercontent.com/assets/18528756/16477094/f90b89ce-3eb8-11e6-85f6-e1538048363a.png)

[2016-06-30 08:07] Huyeng opened #965 "Map Explorer: list only the layers that available in the current language"
Currently, the layers on the map explorer are listed all.
Suggestion: Using the language box to list only the layers that are available to current language only.

[2016-06-30 09:54] jpeizer1 opened #966 "ODC MAP EXPLORER Hydro Power Reservoir DOWNLOAD gives 404 error"
When you click the download error for Hydro reservoir map layer in ODC Map Explorer you get a 404 error

https://data.opendevelopmentmekong.net/dataset/hydropower-reservoirs-in-cambodia-1999-2010?type=dataset

![image](https://cloud.githubusercontent.com/assets/16559612/16484360/ce2e86de-3e86-11e6-8355-12fe1cb783e1.png)

BTW I decided to test *ALL* the ODC downloads for each layer that has one and

[2016-06-30 09:59] acorbi commented on #966
@jpeizer1 fixing....

[2016-06-30 10:02] acorbi commented on #966
@jpeizer1 the problem relied on the dataset's name having changed. this is an Issue that got fixed a while ago but there could be other download links not working. can you please check them all? and reopen/report on this Issue if you find any other 404?

[2016-06-30 10:02] #966 closed

[2016-06-30 16:52] jpeizer1 commented on #966
@acrobi -- please note my comment at bottom of original posting under graphic- "BTW I decided to test ALL the ODC downloads for each layer that has one and this was the only 404 I found."

[2016-07-01 01:51] S-mardii opened #967 "Error Khmer Translation and Duplicate Category widget + Inconsistant English Flag"
Error Khmer translation on News and announcement archive
Duplicate category widget on news, category and topic.

![screenshot_4](https://cloud.githubusercontent.com/assets/18528756/16509610/f84f918c-3f68-11e6-9376-2434f80f99f9.png)
![screenshot_3](https://cloud.githubusercontent.com/assets/18528756/16509611/fb660838-3f68-11e6-89f7-32de2bf57d50.png)
![screenshot_5](https://cloud.githubusercontent.c

[2016-07-03 20:08] acorbi opened #969 "Use wpckan function from wpckan plugin"

[2016-07-03 20:20] #969 closed

[2016-07-04 02:30] S-mardii opened #971 "Error Khmer Translation on Profile Page"
![87fc7150-3f74-11e6-9fa4-bf51acb70e4c](https://cloud.githubusercontent.com/assets/18528756/16549475/d71d769c-41c9-11e6-8d4c-465f97f7e89f.png)

![a9955d5c-3f71-11e6-8dd1-18ccba4bfeb4](https://cloud.githubusercontent.com/assets/18528756/16549479/da4c3038-41c9-11e6-9ba3-1aaa4a0b46df.png)

[2016-07-04 07:16] acorbi commented on #963
Fixed via https://github.com/OpenDevelopmentMekong/opendev-wptheme/pull/968

[2016-07-04 07:16] #963 closed

[2016-07-04 10:21] #958 closed

[2016-07-04 10:22] Huyeng opened #973 "Allow editors to create "thematic" map explorer instances"
Allow editors to create "thematic" map explorer instances

Based on the functionality exposed by JEO which allows to group layers into maps/maps groups. The page template for map explorer should we adapted so it lists a series of layers belonging to a specific map on JEO.
This way we can create different pages, assigning them the "Map explorer" template and specifying a map where the list of layer

[2016-07-05 02:27] #967 closed

[2016-07-05 08:25] acorbi commented on #965
Fixed via 36ae7ffca99c71a58f73eb79a85ed0f289b68605

[2016-07-05 08:25] #965 closed

[2016-07-07 10:20] #973 closed

[2016-07-07 14:34] acorbi opened #977 "Clustered markers not being hidden"
![screenshot from 2016-07-07 16-30-57](https://cloud.githubusercontent.com/assets/384894/16656845/7613d9b0-4460-11e6-9706-93b521df9a25.png)

on https://cambodia.opendevelopmentmekong.net/maps/families-with-less-than-1ha-rice-land/#!/story=post-95562&loc=11.92110315424958,104.765625,7, there are both **single** and **clustered**. When I click **Hide news icons** , only the **single** markers disapp

[2016-07-08 04:59] Huyeng opened #979 "Sub-category on Map explorer disapper"
After pushing updated code, the sub category on map won't show up.

[2016-07-08 05:57] Linnie08 opened #980 "Error link for the Cambodia daily English news (double http)"
There is a problem with link copied from the Cambodia Daily English news source, which resulted in unable access to the original source from ODC site. (https://cambodia.opendevelopmentmekong.net/unionists-freed-after-strike-called-off-in-kampot/#!/story=post-95646). From back end, editor has copied the exact address which appeared on the target news, but how it is presented from the front end of t

[2016-07-12 09:09] Huyeng opened #983 "Include the child theme's scripts that removed from the core.php"
Some of child theme's scripts for files were included into the core.php of parent theme will include on child theme instead.

[2016-07-12 09:46] DBishton opened #984 "ODM News map basemaps not working"
Hi all,

OSM basemaps are not working on ODM news explorer currently: https://opendevelopmentmekong.net/#!/

![image](https://cloud.githubusercontent.com/assets/1206387/16762715/e7363ab4-484f-11e6-85da-6a0ac10f714e.png)

Error message states 'Mapquest direct tile access has been discontinued from July 11', but ODC does not seem to present this problem. and is using an ODM basemap:  https://a.tile.

[2016-07-12 10:14] acorbi commented on #984
@DBishton @Huyeng Changed basemap to OSM on ODM as well. mapquest has cut access to its tile server.

@prustar please indicate it OSM is good for the moment or we should think about using other base map as default one. Please mind that the news section on the v2.0 is going to be on https://pp.opendevelopmentmekong.net/news-article

[2016-07-12 10:14] #984 closed

[2016-07-13 04:28] zhawari opened #986 "Script Error on Tableau window on Land Page in Safari"
The Agriculture Land Areas window shows this error: "An unexpected error occurred. If you continue to receive this error please contact your Tableau Server Administrator. Script error." This only occurs in Safari. Chrome works as expected.

Browser: Safari Version 10.0 (12602.1.38.2) This occurs on both my desktop and laptop, both of which are running a beta version of macOS 10.12 Sierra.
![screen

[2016-07-14 08:43] DBishton opened #987 "Editor functionality missing on OD Myanmar WP instance"
ODMm editor does not feature extended functionality, please see screenshots below:

OD Mynamar:

![image](https://cloud.githubusercontent.com/assets/1206387/16833274/c1b02b62-49d8-11e6-8725-4061e86b42f8.png)

OD Mekong:

![image](https://cloud.githubusercontent.com/assets/1206387/16833307/e9822c94-49d8-11e6-9e64-85a0d426f4ff.png)

[2016-07-19 06:54] punwath opened #988 "The the sub menu doesn't show correctly"
When add more sub manus, the main menu doesn't show correctly.
Those 4 sub manus should be under the Hydropower
![image](https://cloud.githubusercontent.com/assets/18112596/16941067/0c9aec10-4db8-11e6-96a7-a563a517f022.png)

[2016-07-19 10:07] prustar opened #989 "Profile Page: Hydropower set"
The current profile page for hydropower would be better served if the user could enable the display of the entire set (dams, reservoirs, transmission lines, sub-stations) upon the profile as they do in the map explorer.

Is this possible in the current template? Otherwise it's a very disjointed dataset.

[2016-07-19 11:11] #989 closed

[2016-07-20 08:38] acorbi commented on #988
@huyeng @punwath fixed and deployed on PROD.
![screenshot from 2016-07-20 10-35-41](https://cloud.githubusercontent.com/assets/384894/16980368/ed221e18-4e65-11e6-89df-b187301d0fac.png)

[2016-07-20 08:38] #988 closed

[2016-07-20 10:16] Huyeng commented on #977
fixed.

[2016-07-20 10:16] #977 closed

[2016-07-22 08:47] Huyeng opened #991 "Miss Contact button and Footer of site"
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/17051592/9da86f1c-5023-11e6-9c8f-6c47599f96e7.png)

[2016-07-22 08:54] acorbi commented on #991
@Huyeng I checked and plugin is enabled for ODC PROD...

[2016-07-22 09:05] Huyeng commented on #991
it may affect from any css. I just update the css to display the footer and button.

[2016-07-22 10:24] acorbi commented on #991
Fixed. @huyeng, @DragonVirus, @S-mardii  do not forget to close the issues. For doing that automatically, you can specify `Fixes #ISSUE_NUMBER` as part of the description of the Pull request and github will close the issue for you :-)

[2016-07-22 10:24] #991 closed

[2016-07-22 10:48] DBishton opened #993 "Styling of feature box obsolete"
New styling of feature box plugin appears non-functional on 2.0:

![image](https://cloud.githubusercontent.com/assets/1206387/17055045/8b3efa88-5034-11e6-9c08-94a695533d22.png)

https://pp.opendevelopmentmekong.net/topics/land/

[2016-07-22 12:06] DBishton opened #994 "Implement styling options for "On this category" widget"
It would be ideal if layout options for custom post type widget were available in the "on this category widget" to account for different positioning (sidebar, horizontal, homepage, etc.)

![image](https://cloud.githubusercontent.com/assets/1206387/17056679/2bdea894-503f-11e6-949d-384ba9bc1d3a.png)

https://pp.opendevelopmentmekong.net/stories/test-story/

Ideal functionality would be for the widge

[2016-07-22 19:06] jpeizer1 opened #995 "ODC main menu "MAP" function is showing 404"
Please note -- If you click MAPS on main ODC MENU you get a 404 error

It points to:
https://cambodia.pp.opendevelopmentmekong.net/map-layers

Instead of:
https://cambodia.pp.opendevelopmentmekong.net/map-explorer/

[2016-07-25 14:43] prustar opened #996 "MAP EXPLORER// VN map explorer layers are not loading?"
@ngohaily Reported issue with VN map explorer - the layers aren't loading.

Both wms and cartodb layers.

@Huyeng  could this be the same issue as previous with the cartodb layers not displaying?

[2016-07-26 02:03] Huyeng commented on #996
I will check it. Thanks for log this issue.

[2016-07-26 07:00] #979 closed

[2016-07-26 08:07] Huyeng opened #997 "Map Explorer: The layer lable on Khmer site show English texts instead of Khmer texts"
See the screen.
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/17130449/b79fccfe-5342-11e6-9fb4-08608a41b7c4.png)

[2016-07-26 08:38] prustar commented on #996
@Huyeng - I just checked this morning and the English site appears to be loading but the Vietnamese site appears to only load wms layers and not the Cartodb layers. Also not sure what the white box is that pop's up when you click on the map?

![image](https://cloud.githubusercontent.com/assets/14996905/17131269/11848b54-531d-11e6-9268-704d8673e5ae.png)

[2016-07-26 08:49] sigvn commented on #996
Hi,
Thank you. It runs now.

Nice day!

Best,
Hai Ly

2016-07-26 15:38 GMT+07:00 prustar notifications@github.com:

##

---

_This communication, together with any attachment, may contain confidential
information and/or copyright material and is intended only for the
person(s) to whom it is addressed. If you are not the intended recipient of
this communication, or if you received it in error, you

[2016-07-26 09:04] #997 closed

[2016-07-27 01:50] Huyeng commented on #996
@prustar, it was different issue. There are some code were updated both child theme and parent theme. However, only the updated code of child theme is pulled to server that caused the error.

[2016-07-27 01:50] #996 closed

[2016-07-27 01:56] Huyeng commented on #995
The url was changed to the map explorer instead.

[2016-07-27 01:56] #995 closed

[2016-07-27 01:58] Huyeng commented on #994
@DBishton, is it the issue of the current testing site on PP? If so please move the issue to new repository: https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/

[2016-07-27 03:31] Huyeng commented on #987
The second bar is there now.
if it is was hidden, please click toggle toolbar likes the screenshot below.
![screenshot_8](https://cloud.githubusercontent.com/assets/6613530/17163015/532ccf80-53e5-11e6-8980-136edb5c0e99.png)

[2016-07-27 03:31] #987 closed

[2016-07-27 03:32] #983 closed

[2016-07-27 03:36] Huyeng commented on #980
fixed.

[2016-07-27 03:36] #980 closed

[2016-08-01 10:27] Huyeng opened #999 "The drop down menu on the top bar of OD Mekong is not presenting properly"
![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/17291285/3054f768-580d-11e6-8a37-5ec9f2082b84.png)

[2016-08-01 11:25] #999 closed

[2016-08-02 05:49] Huyeng opened #1001 "Font color on sidebar and content are too light"
Update the color of item list on sidebar to the background-color instead bright-color.
On the content, the hyperlink color should be bright color, otherwise, the color sof the linked texts and generate texts look the similar. It is hard to distinguish between linked and unlinked texts.

[2016-08-02 08:22] Huyeng commented on #1001
The ODMekong's texts color will be blue that has color code: #0066CC
The ODCambodia's texts color will be green that has color code:  #00A600

[2016-08-02 10:56] Huyeng opened #1005 "Category on Topic page not translated properly"
The category of taxonomy next to under fields, sometimes they are translated, but sometimes, they are not.
![screenshot_15](https://cloud.githubusercontent.com/assets/6613530/17326219/12771ea6-58da-11e6-9ffc-b696abe5154f.png)

[2016-08-02 11:22] #952 closed

[2016-08-02 17:11] jpeizer1 opened #1007 "MAP EXPLORER - ODC & MEKONG -- INFO selection Has Multiple WARNINGS"
These warnings are now being displayed for almost every map layer when you click the INFO icon for map layers

![info-odc](https://cloud.githubusercontent.com/assets/16559612/17337805/6538593e-58b2-11e6-9956-6e07ef1a6be3.JPG)

![info-mekong](https://cloud.githubusercontent.com/assets/16559612/17337810/693a29ae-58b2-11e6-866d-ef9a2ce8f1bf.JPG)

I noticed this on following layers:

ODC
===
Environme

[2016-08-04 02:33] #1001 closed

[2016-08-09 09:44] Huyeng commented on #1007
@jpeizer1, could you help to check and confirm that the issue above have gone.

[2016-08-22 11:09] Huyeng opened #1008 "Khmer texts won't wrap properly"
![screenshot_4](https://cloud.githubusercontent.com/assets/6613530/17852845/8e2a83e4-6893-11e6-82e4-2435fb8923f1.png)

[2016-08-22 11:34] acorbi commented on #1008
? @Huyeng

[2016-08-22 11:36] Huyeng commented on #1008
See the texts on khmer page won't warp:
https://cambodia.opendevelopmentmekong.net/kh/topics/government-services/

[2016-08-22 11:37] acorbi commented on #1008
oh, ok, this is the old theme. I would focus on the new theme which I am intending to deploy into PROD this week.

[2016-08-22 11:42] Huyeng commented on #1008
Yes. Do you find the way to fix it?
Actually, we try to use the tool to warp the texts before publishing, it works fine, but when it was switched to view on the Visual and update the page, those wrapped texts won't work.

[2016-08-22 11:45] acorbi commented on #1008
It should be fixed on the new theme. See https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/107

[2016-08-22 11:48] Huyeng commented on #1008
Well, it works fine on Chrome if using the word-wrap: break-word;, but not firefox.
If we use "word-break: break-all", it will wrap the khmer texts well, but not correctly in Khmer format.

[2016-08-22 11:52] acorbi commented on #1008
word-wrap: break-word works good for me on firefox on cambodia.pp.opendevelopmentmekong.net/km

In case you can reproduce a problem with it, please re-open OpenDevelopmentMekong/wp-odm_theme#107 and provide steps to reproduce it

[2016-08-22 11:56] Huyeng commented on #1008
I will do it too.

[2016-08-23 05:24] acorbi opened #1009 "The display errors of the language pages"
Hi everyone,
In fact now, we have the errors of language display. Vietnam open development have 2 pages: english and vietnamese. But now there are the posts (or news) in english are displayed in the vietnamese page or reserve the news in vietnamese is displayed in the english page. So could you help us fix this error, please? Thank you very much!
This is the vietnames page
![englishpage](https://c

[2016-08-29 09:18] Huyeng opened #1010 "Profile Page errors with total count of map_id"
![blob](https://cloud.githubusercontent.com/assets/6613530/18046877/2dc26d16-6e04-11e6-8d74-bd6faf8e2e1a.png)

[2016-09-01 12:22] DBishton opened #1012 "wpsparql Land Library resources not appearing on land topic pages"
Resources from Land Portal's land library are not appearing in the topic page sidebars on production.

![image](https://cloud.githubusercontent.com/assets/1206387/18167068/c9fe5f0c-7078-11e6-8af1-7f78fea08236.png)

This is true for:
https://cambodia.opendevelopmentmekong.net/topics/land/
https://opendevelopmentmekong.net/topics/land/
https://opendevelopmentmekong.net/topics/land-laos
https://vietn

[2016-09-01 12:23] acorbi commented on #1012
@DBishton this is not the correct repo. please move the issue to https://github.com/OpenDevelopmentMekong/wp-odm_theme and close this

[2016-09-01 12:24] #1012 closed

[2016-09-02 05:51] gimmemochi opened #1013 "[News] Geotagging errors? These news appear to be in Russia (?)"
@acorbi @DBishton While most of the news are geotagged for Cambodia, Laos, Thailand, Vietnam, and Mekong, there're some that appear way too North. See the map on the news archive page: https://opendevelopmentmekong.net/news#!/story=post-2572736&loc=56.0000002,103.9999998,7
See screenshot.
![screen shot 2016-09-02 at 12 46 29  @pm](https://cloud.githubusercontent.com/assets/6489398/18193851/ac6be1b

[2016-09-05 07:11] vatana92 opened #1014 "Add "Revision" on back end"
Please add Revision on back end of News archive and Topics.

[2016-09-05 07:17] acorbi commented on #1014
Hi vatana.
2 comments regarding your feature request:
- please log it on the wp-odm_theme repository. this repository is not maintained anymore.
- please provide a **detailed** description of what you are requesting. i do not understand what you mean by

  --
  Gesendet von der myMail-App für Android Montag, 05 September 2016, 09:11vorm. +02:00 von Vatana  notifications@github.com :

[2016-09-05 07:26] vatana92 commented on #1014
![capture](https://cloud.githubusercontent.com/assets/19201022/18240324/281e84c8-7375-11e6-81a4-e954e5fb0e47.JPG)
Hi acorbi

Before I can trace who have working on the "Edit news articles" and "Edit topics" by seeing on "Revision" navigation. But now there is no Revision on back-end as before, and I cannot see who has worked on particular topic or news before me anymore.

[2016-09-05 07:37] acorbi commented on #1014
Hi Vatana, i believe you can show that information by checking the corresponding box on **Screen Options** on the top-right corner of the Wordpress dashboard.

[2016-09-05 07:50] Huyeng commented on #1014
Closed the issue and moved to new theme.
https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/377

[2016-09-05 07:50] #1014 closed

[2017-03-13 08:54] vatana92 opened #1015 "Lost bullet point on the Topic page navigation on Khmer site"
![screenshot_5](https://cloud.githubusercontent.com/assets/19201022/23847508/4834d756-0805-11e7-8b46-dccdc5cb5fe1.png)
![screenshot_4](https://cloud.githubusercontent.com/assets/19201022/23847509/48362408-0805-11e7-8d26-3603386fe18e.png)

[2017-03-14 02:22] Huyeng commented on #1015
Move to https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/779

[2017-03-14 02:22] #1015 closed

[2017-07-13 08:11] punwath opened #1016 "Print function doesn't work in full screen mode"
When I click the prints button in the full-screen mode of map explorer, there is nothing happen and it shows like this:
![image](https://user-images.githubusercontent.com/18112596/28156463-09bf7f52-67dd-11e7-92ff-4f833ba70965.png)
However, if I turn off the full-screen mode, the print function works well.
![image](https://user-images.githubusercontent.com/18112596/28156524-51c899c8-67dd-11e7-9ce9-

[2017-07-13 09:08] acorbi commented on #1016
@punwath can you please specify which browser are you using? Thanks

[2017-07-13 09:10] Huyeng commented on #1016
Thanks @punwath for raising this issue.
@acorbi, to produce the error:
- Go to Map explorer
- Click view full screen
- Click print map
- Then you will see the error as @punwath reported.
I'm taking a look now.

[2017-07-13 10:32] Huyeng commented on #1016
Move to https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/1097

[2017-07-13 10:33] #1016 closed

[2018-01-24 23:21] The-Andrew-Vincent commented on #19
Yep. It does.

[2018-04-12 01:38] prustar commented on #851
@Huyeng What's the progress on this? It's still listed as a task in Teamworkpm and I wanted to clear things out? Could you please let me know if I can close this? Thanks, P

[2018-04-12 01:44] prustar commented on #747
@derwas - seems that this issue will be corrected once we upgrade the geospatial components. If so please close.

[2018-04-12 01:50] prustar commented on #697
Really old issue and I'm sure it's been rectified by now.

[2018-04-12 01:50] #697 closed

[2018-04-15 14:16] Huyeng commented on #851
Those draft posted are automatically imported by the Importer plugin from different sources. Then, the editor of ODM will review those imported news and published them manually. I don't know how do you work on adding news article current. There are a lot of the numbers of draft posts currently, 29k.
If you would like to remove them, please let me know and do it yourself.

[2018-04-20 07:18] prustar commented on #851
@mailannguyen -- do you use this function?

[2018-04-24 08:32] mailannguyen commented on #851
@prustar Yes, I sometimes use it, but not so frequently.
@Huyeng It s nice if you can help delete the old drafts. Besides, I want to reduce the number of news sources (just select some popular news site) to reduce number of draft posts. Should I send the revised list of news sources to you?

[2018-04-27 10:56] Huyeng commented on #851
Ok. I will delete those draft posts.
You can update the list of importing news sources here, https://opendevelopmentmekong.net/wp-admin/edit.php?post_type=rssmi_feed

[2020-10-12 13:50] punwath commented on #747
This no longer an issue.

[2020-10-12 13:50] #747 closed