[2016-01-11 09:21] acorbi commented on #376
@kathi-aeviator @jpeizer1 thanks for your feedback. I will implement your suggestions within this Issue, no need to open a new one.

[2016-01-11 10:10] jpeizer1 commented on #376
@kathi-aeviator  You can do a comma or even just a little more blank space between the numbers is fine.  Perhaps instead of 12345…24   you have 1 2 3...24  or 1,2,3...24  (so not 1-5 showing but 1-3)

Please note that if you click 5   -- the next number that show are 6,7,8   -- eg. only three numbers. So it is more consistent to show  1,2,3..  and if someone clicks 3  then 4,5,6 is shown

[2016-01-11 11:41] acorbi opened #394 "Discrepancies between logo fonts"
@chris-aeviator after merging and deploying https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/commit/a5d9dabd1cb985cd126662b55b90480d0d9e2e4c , the logos have now different fonts.

![screenshot from 2016-01-11 12-38-21](https://cloud.githubusercontent.com/assets/384894/12232652/acd7b3b8-b860-11e5-8724-7f90084012b2.png)

![screenshot from 2016-01-11 12-38-32](https://cloud.githubusercontent.

[2016-01-11 18:33] acorbi opened #395 "Layout should not break if odm-taxonomy is not there"
The nav concept relies on the odm-taxonomy repostiroy to be included as submodule during deployment, if the files are not there, UI breaks. this should not happen....

[2016-01-11 23:06] acorbi opened #396 "Records by type should not rely on CKAN groups"
The "records by type" menu element should not take the user to groups. We decided to deprecate the use of groups in favour of dataset_types. Also, links to laws and library records are already provided in bar.

I would suggest to remove that option from the menu

![screenshot from 2016-01-12 00-05-21](https://cloud.githubusercontent.com/assets/384894/12249573/d6329178-b8c0-11e5-8ed2-cc60da2ed465.p

[2016-01-11 23:11] #396 closed

[2016-01-11 23:13] acorbi commented on #396
@kathi-aeviator @chris-aeviator I have removed the records by type option of the menu for reasons specified above. In case of wish to add link to maps, a proposal should be done.

[2016-01-12 08:36] kathi-aeviator opened #400 "Records by type should not rely on WP groups"
Same issue as happend in CKAN musst be done for WP.

You can see here:

https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/issues/13#

[2016-01-12 08:46] acorbi commented on #400
Did already on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/396, this is duplicated. closing.

[2016-01-12 08:46] #400 closed

[2016-01-12 08:47] kathi-aeviator commented on #400
tno.

[2016-01-12 10:04] kathi-aeviator commented on #394
in the logo:
- "opendevelopment" in CKAN -> not the right font is loading -> please change!
  -> use :  "Open Sans","Helvetica","Arial",sans-serif;
- bringing "opendevelopment" and "Mekong" on one line - same in WP!
- conform font-sizes of the "Mekong" on WP + CKAN
  -> use:

#od-head h2.side-title {
font-family: 'Droid Serif';
font-size: 24px;}

[2016-01-12 10:23] #395 closed

[2016-01-12 12:21] kathi-aeviator commented on #358
assigned chris for this issue.

[2016-01-12 12:27] acorbi commented on #394
@kathi-aeviator I cannot harmonize both with your instructions.

on https://pp.opendevelopmentmekong.net/#!/ the font-family is "Droid Serif" and not "Open Sans","Helvetica","Arial",sans-serif; ????

[code]

how do you mean?

**Please provide complete css modification proposals for following elements/classes**

## CKAN

.masthead hgroup h1.header-text
.header-text span

## WP

#od-head h1
#od-head

[2016-01-12 12:31] kathi-aeviator commented on #376
I agree with JP! But from my side a "," is much more effective visually and in a typographically logic as well. @acorbi please can you implement this?

[2016-01-12 12:32] kathi-aeviator commented on #378
@DBishton please feedback this issue.

[2016-01-12 12:35] kathi-aeviator commented on #379
ok did the review of the side at another machine and its working fine. @acorbi a we should keep that in mind for responsive action! Close issue.

[2016-01-12 12:36] #379 closed

[2016-01-12 13:01] chris-aeviator commented on #368
@kathi-aeviator working on this at the moment, will be deployed today

[2016-01-12 13:35] kathi-aeviator commented on #394
@acorbi this is more a dev- then a design-part. ping me on skype if you are reachable. We will handle that out together.

[2016-01-12 16:04] jpeizer1 opened #402 "crunched together"
@acorbi @kathi-aeviator   (Moved item per Alex request -- original closed)
These seem very crunched together
![prev-1-next](https://cloud.githubusercontent.com/assets/16559612/12183554/722f0c3a-b55d-11e5-9b22-be1cda1a83cc.JPG)

[2016-01-12 19:31] jpeizer1 commented on #356
@acorbi @kathi-aeviator @chris-aeviator I implemented these changes above. Please note:

1- PROBLEM I understood from Chris classes have to be created for these submenus -- So I could not preview the links i created IN WP -- But when I looked in the DATA menu under CKAN all these submenus that I had created that were not (but supposed to be) showing up VERTICALLY under the MORE INFO button in WP w

[2016-01-12 19:37] jpeizer1 opened #403 "Search Site Text"
Because you just implemented a Menu at the top in CKAN with a SEARCH FIELD that says Search Datasets...

I think the SEARCH field in the WORDPRESS front end should say SEARCH SITE or SEARCH FULL SITE   -- just so the difference is clear

![search-site](https://cloud.githubusercontent.com/assets/16559612/12274650/d72a9124-b939-11e5-87fc-bb1cf0150365.JPG)

[2016-01-12 19:44] jpeizer1 opened #404 "Map Explorer on MEKONG CKAN menu is a bad link - Server not found"
https://pp-mekong.opendevelopmentmekong.net/map-explorer

![me-mekong-ckan-error](https://cloud.githubusercontent.com/assets/16559612/12274869/ee10efae-b93a-11e5-8d91-fca3a29d56f3.JPG)

[2016-01-12 19:51] #402 closed

[2016-01-12 19:54] #377 closed

[2016-01-12 20:01] jpeizer1 commented on #367
@kathi-aeviator   If the end result really looks like:
https://cloud.aeviator.cc/public.php?service=files&t=1f6b24dd8bdc99c36a6d2b14400d7e21&path=%2FPK3-Map_Explorer

It will satisfy all my concerns for this item and you can close it.

[2016-01-12 20:02] jpeizer1 commented on #366
If Final looks like https://hackpad.com/Feedback-for-PKG3-Map-Explorer-oLapLqCuWD7  my issues will be addressed and you can close this.

[2016-01-12 20:07] jpeizer1 opened #405 "Map Explorer -- 12.1.15"
Is there a better place to move CONTACT Button so that it doesn't overlap a key - and/or really reduce it?

![bildschirmfoto 2016-01-13 um 01 13 04](https://cloud.githubusercontent.com/assets/16559612/12275410/015ad982-b93e-11e5-869a-c95a8ae56008.png)

[2016-01-12 20:13] jpeizer1 commented on #355
@DBishton  @kathi-aeviator @chris-aeviator @acorbi  Spoke  to Dan about this and he seemed to think it was in scope. Please see what the production site search looks like (IMAGE BELOW) (no shaded box over first line entries that also encompasses second line of Title labels, images are showing, etc..)

If we end up with the SAME search that is currently in production I am fine and we can close this

[2016-01-12 20:21] jpeizer1 commented on #354
@DBishton @kathi-aeviator @chris-aeviator Spoke to Dan about this and he seemed to think it was in scope.

How difficult is it to format a single drop down menu of items so that when we put a new site into production this doesn't look like a cheesey oversight?

[2016-01-12 20:38] jpeizer1 opened #406 "CCS Link Text Issue - Cambodia"
I know I have posted this before - The issues is still a problem and I can;t find a closed issue for it.

The LInk text for Cambodia site is the same color as the background font making it impossible to see.
Also For Vietnam, Thailand and Thailand the link text color chosen is really quite light -- any possibility of checking and darkening a few shades.

![css-link-text](https://cloud.githubuserco

[2016-01-13 08:21] jpeizer1 opened #407 "Broken Thumbnails"
While reviewing

https://pp-data.opendevelopmentmekong.net/dataset?extras_odm_spatial_range=cambodia

I noticed lots of broken thumbs on the returned search list, but if you click on a  record in the list with a borken thumbnail (whether the record has 1 or multiple attached documents -- the thumbnails actually displays correctly)

![brokenthumbs](https://cloud.githubusercontent.com/assets/1655961

[2016-01-13 09:52] DBishton commented on #357
There is some inconsistent behaviour of this sort on https://cambodia.opendevelopmentmekong.net which seems to vary by page.

@acorbi @jpeizer1 it's password protected and not public-facing right now but Pinkie showed me this morning.

@gimmemochi can you post some examples? I don't have access to the pages.

[2016-01-13 10:19] Huyeng commented on #382
Since ODI run on the https, so the base map should request from https too: http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png

[2016-01-13 10:19] #382 closed

[2016-01-13 10:35] acorbi commented on #407
@jpeizer1 the reason for this is (old) images being referenced by http (new ones are behind https) which causes a **Loading mixed (insecure) display content** warning on the browser

![screenshot from 2016-01-13 11-35-10](https://cloud.githubusercontent.com/assets/384894/12291860/e7df90d6-b9e9-11e5-9808-bd945f5f3978.png)

The same problem should happen on prod.

Possible solutions:
1.  Do a redire

[2016-01-13 10:35] #407 closed

[2016-01-13 10:44] acorbi commented on #406
@jpeizer1 the related issue you saw is https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/338, i have closed and moved my infos from there to here.

[2016-01-13 10:45] acorbi commented on #338
Closing, duplicated on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/406

[2016-01-13 10:45] #338 closed

[2016-01-13 10:46] acorbi commented on #405
@jpeizer1 @chris-aeviator @kathi-aeviator I would suggest somewhere on the left sidebar.

[2016-01-13 11:00] acorbi commented on #404
Fixed via https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/commit/9af3dd726486ffc83797af8998d60742a456b283

[2016-01-13 11:00] #404 closed

[2016-01-13 12:10] acorbi opened #409 "Fallback to existing titles if those on the current language not available"
![screenshot from 2016-01-13 13-09-24](https://cloud.githubusercontent.com/assets/384894/12293913/ef20d776-b9f6-11e5-8eb5-12a43743fce5.png)

Those laws records ave just titles in khmer, since the current selected language is english, they do not appear....

[2016-01-13 15:48] #376 closed

[2016-01-13 15:53] acorbi commented on #378
@kathi-aeviator I do not think the solution should involve shortening the header texts, what about the Law's titles??? they are 3x longer....

In my opinion, this should be addressed from the design perspective ( i.e using icons on layout or small screens ). Since there is no proposal for those yet, I would close this issue.

[2016-01-13 16:03] #361 closed

[2016-01-13 16:22] acorbi opened #412 "Load translated texts into WP"
UI elements for the laws pages have already been translated for Khmer on https://www.transifex.com/open-development-mekong/odm-wp-laws-pages/dashboard/, the translated strings should be loaded into WP

[2016-01-13 16:22] acorbi commented on #412
@chris-aeviator the same should be done for Map explorer. Let's coordiante gathering the newly-added strings on the MP explorer UI and its localization

[2016-01-13 16:46] #409 closed

[2016-01-13 17:04] #341 closed

[2016-01-13 17:10] acorbi commented on #222
Groups are not maintaned any more , closing

[2016-01-13 17:10] #222 closed

[2016-01-13 17:43] acorbi opened #415 "Finalize layout and usability for tabular form in Laws Page"
@kathi-aeviator Taking your comment in https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/376#issuecomment-170460572 as starting point, I am opening this Issue to discuss the finalization of the layout and the definition on how the user interacts on the Laws Page's table. That other Issue was related to font-sizes so i find more convenient address this topic in a separate thread.

On

[2016-01-13 17:44] acorbi commented on #415
@DBishton @jpeizer1 your opinion is also welcome here.

[2016-01-13 18:41] jpeizer1 opened #416 "Logo Menu Item Overlap CKAN"
Logo overlaps first menu item (or visa versa)
![logomenu-overlap](https://cloud.githubusercontent.com/assets/16559612/12303903/e51f0c9e-b9fa-11e5-8deb-b984fede81ba.JPG)

[2016-01-13 18:43] acorbi commented on #416
This won't be reproduced once we deploy the new look-and-feel. closing....

[2016-01-13 18:43] #416 closed

[2016-01-14 03:15] Huyeng commented on #388
Sharing function on the NE is not working. It works depend on the Embedded sharing map. However the sharing embedded map is disable for a while.

I tried to test the sharing function by enable the "sharing embedded map" option, but the function doesn't working well, got 404 when shared link is clicked.

What do you think if we use the function of sharing social media on right side of topic page:
h

[2016-01-14 03:17] Huyeng commented on #389
I thought that it is too same size. Let see the default current size I have, if you think that the size of date should reduce than, I will do it. (Note, I will pull the update soon.)

[2016-01-14 03:53] #390 closed

[2016-01-14 03:59] Huyeng commented on #388
It seems to me that the Hyperlink label of reading more article link is not consistent on the sites.
@DBishton or @gimmemochi, could you both identify this issue whether we should use "read more...", "more..." or "Keep reading..."?

[2016-01-14 04:06] DBishton commented on #388
@Huyeng The standard we have been using on ODM has been "Keep reading".

On Thu, Jan 14, 2016 at 10:59 AM, Huyeng notifications@github.com wrote:

##

_Daniel Bishtonmobile:  +855968153317 | Twitter:
http://twitter.com/DanielBishton http://twitter.com/DanielBishton |
LinkedIn: http://linkd.in/Uf2YKt http://linkd.in/Uf2YKt_

[2016-01-14 04:36] Huyeng commented on #388
Great, thanks @DBishton. I will use "Keep reading".

[2016-01-14 04:43] Huyeng commented on #384
What did you refer to the chronological order?

[2016-01-14 04:44] Huyeng commented on #385
It has done while working on the issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/331

[2016-01-14 04:44] #385 closed

[2016-01-14 07:18] acorbi commented on #384
@Huyeng I guess it is meant that the news should be sorted by publication date

[2016-01-14 08:04] chris-aeviator commented on #405
@jpeizer1 we are aware of that issue, thanks for reporting!

---

Von unterwegs gesendet

[2016-01-14 08:08] acorbi commented on #346
Related issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/344

[2016-01-14 09:03] kathi-aeviator commented on #384
@Huyeng @acorbi yes. alex is right. It has to be sorted by publication date. First is biggest.

[2016-01-14 09:03] kathi-aeviator commented on #385
Agree with closing

[2016-01-14 09:09] kathi-aeviator commented on #388
@Huyeng @DBishton sorry for late answer but its realy important to use just "more"! we will have problems for mobile and small screens after. So please HE change that once again please. @dan Do you argree with that in trust of me?;)

[2016-01-14 09:11] Huyeng commented on #321
the function of sharing post on the NE doesn't work well, so I decide to turn it off and use social icon of Facebook, Tweet and G+ instead. Let me know if you all thought that they should take away.

[2016-01-14 09:13] Huyeng commented on #384
Yes, of course. As the default, they sorted by the published date, but if there are some posts are stick, they will show first.

[2016-01-14 09:13] #321 closed

[2016-01-14 09:25] kathi-aeviator opened #421 "Header is destructered! CSS problems"
Something went wrong on
https://pp.opendevelopmentmekong.net/#!/

see screenshot below.

1. the header is destructured
2. logo is missing

![image](https://cloud.githubusercontent.com/assets/15011163/12320440/0a3a24e2-baa9-11e5-86a7-bbf73c2c36cc.png)

[2016-01-14 09:26] Huyeng commented on #421
it looks fine to me. Does anyone have the same problem?
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/12320531/b12c57ca-badb-11e5-8922-2fd1dd66c5ad.jpg)

[2016-01-14 09:29] acorbi commented on #421
## Looks like this on mine

![screenshot from 2016-01-14 10-29-00](https://cloud.githubusercontent.com/assets/384894/12320576/ab34a16a-baa9-11e5-8faa-7d58f84be6ab.png)

## News explorer looks good

![screenshot from 2016-01-14 10-31-33](https://cloud.githubusercontent.com/assets/384894/12320650/07b243f2-baaa-11e5-9bd0-2246edfe60d0.png)

## View zoomed out

![screenshot from 2016-01-14 10-31-21](ht

[2016-01-14 09:29] kathi-aeviator commented on #421
We still have that problem! alltough the sidebar is overlapping the newscontainer!

[2016-01-14 09:33] acorbi commented on #421
Seems to me like the approach is basically check the css of the header and fix the issue, no? News explorer looks good

[2016-01-14 09:33] kathi-aeviator commented on #421
HE what browser do you use?

[2016-01-14 09:35] Huyeng commented on #421
I tested with both Chrome and Firefox.

[2016-01-14 09:38] Huyeng commented on #421
Local screenshot:
![screenshot_4](https://cloud.githubusercontent.com/assets/6613530/12320802/3704b062-badd-11e5-86e3-c42dbc683cb2.jpg)

[2016-01-14 09:40] chris-aeviator opened #422 "Perfomance Issues on news explorer"
On our smallest machine, performance of the news explorer is very poor.

Please check if javascript/jQuery functions that are manupulating the height of every ```div.sticky-item```` ( about every second) is neccessary, as it might influence performance in a bad way.

[2016-01-14 09:41] acorbi commented on #422
@chris-aeviator good point

[2016-01-14 09:46] Huyeng commented on #422
what does it mean "manupulating the height of every div.sticky-item"?

[2016-01-14 10:18] kathi-aeviator opened #423 "LAWS-Pagination"
![image](https://cloud.githubusercontent.com/assets/15011163/12321762/2e26f4d2-bab0-11e5-80ec-c0f2522418b5.png)

"Showing 1 to 25 of 588 entries" and "Show  entries Previous12345…24Next" should be in one line!

[2016-01-14 10:23] kathi-aeviator commented on #415
First of all - some questions for @acorbi

In the sceershot as you seen here

![image](https://cloud.githubusercontent.com/assets/15011163/12321713/f1900428-baaf-11e5-9251-e60e0238bffb.png)
1. what is the "undefined" line for? maybe a bug?
2. please fix that issue: https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/423
3. the download buttons for KH should be all in one line
4. Please

[2016-01-14 10:36] kathi-aeviator commented on #415
@acorbi

what's the problem with the pagination? The tables (as we gave them to you) have been separate tables for each and every document type. Pagination should work with a global 'controller' element that set's the corresponding choice on all tables pagination elements

[2016-01-14 10:38] kathi-aeviator commented on #415
@acorbi

just saw, current iteration looks fine!

[2016-01-14 10:47] kathi-aeviator opened #424 "WP-Navigation // Changing the a word"
@acorbi @chris-aeviator

After discussion with dan we came to the point to choose "maps" instead of "map explorer"

-> please change that!

I made a seperate issue to change it in CKAN here:
https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/issues/37

[2016-01-14 11:54] jpeizer1 commented on #358
As per Kathi's suggestion we comment here: In addition we'd like the live site Main pages (Mekong/Cambodia/Vietnam? @DBishton please confirm for Vietnam and what we do with their extra bottom feature widget)  to look like this:

![mockup5](https://cloud.githubusercontent.com/assets/16559612/12323644/2c2fb85a-ba8b-11e5-8487-0cf80383bfb2.jpg)

This mockup basically places the current production home

[2016-01-14 14:39] kathi-aeviator commented on #358
@jpeizer1 just that we not missunderstanding each other. You are talking just about
 the Logo, did you? If this is right I can give css proposals to the dev team.

[2016-01-14 14:53] chris-aeviator commented on #422
@Huyeng
`.sticky-item` is the div of every news-item

The yellow highlighted height value's are changed through a jquery script. Please try to unload it and ask if you have any questions or if it takes too much time for you to find out

![bildschirmfoto 2016-01-14 um 21 49 57](https://cloud.githubusercontent.com/assets/11522213/12327405/ef92745e-bb08-11e5-8772-501316434a12.png)

[2016-01-14 14:59] chris-aeviator commented on #358
@jpeizer1

can you please expain a bit more on your suggestion with the mockup? Are you talking about implementing news explorer & slideshow on vietnam site (including images) ?

[2016-01-14 15:00] chris-aeviator commented on #358
implementing logo..

[2016-01-14 15:01] kathi-aeviator opened #426 "News-Explorer // Change color of the Pins"
![image](https://cloud.githubusercontent.com/assets/15011163/12327581/ad52dbd2-bad7-11e5-85ef-dd7a7fcaa005.png)

Please change the color of the not actual pins

RGB (235,100,32)

[2016-01-14 15:04] kathi-aeviator commented on #389
yes. thank you Huy Eng! We do it like this. Closing issue.

[2016-01-14 15:04] #389 closed

[2016-01-14 15:05] kathi-aeviator commented on #384
Ok allright. Can we close this issue then HE?

[2016-01-14 15:11] kathi-aeviator commented on #382
ah sorry you are right. Thanks.

[2016-01-14 15:18] kathi-aeviator commented on #403
Thank you @jpeizer1 I made an issue for that days ago and we tried to fix it but there is still a Problem with the upper and lowercases. I will label that as a bug.

so changings are:
1. using lower cases for Searchbar example text before before
2. changing text into "search site..."
3. changing background of the searchbar into #FFFF

[2016-01-14 15:21] jpeizer1 commented on #358
@chris-aeviator @kathi-aeviator  Ok -- Kathi asked me to put the logo and the mockup issue together in this issue - they are related but separate issues.

LOGOS: All the pages with logos now in the new design should have logos that conform as much as they can to the various country logos on each PRODUCTION page of the current system. So current production page Vietnam logo to NEW PAGE Vietnam logo

[2016-01-14 15:38] kathi-aeviator commented on #421
Problem solved thanks to alex. closed!

[2016-01-14 15:47] jpeizer1 commented on #403
@kathi-aeviator Lower case "search site..."  -- the meaning of the words are most important to describe what people can expect.

If the bug is really a problem that proves very time consuming to fix may I suggest just changing CKAN search field to say  "search datasets..." so the letter case is consistent in the two search boxes -- this is the more important thing I think.

[2016-01-14 16:11] kathi-aeviator opened #427 "VIETNAM WP-home-side"
![image](https://cloud.githubusercontent.com/assets/15011163/12329873/a84b2a9e-bae2-11e5-9cfa-674654759001.png)

Notes from JP:

MOCKUP -- I understand MEKONG and CAMBODIA will go live with these type of page I suggest (with Slider and Huy Engs new News container). VIETNAM is a partner country and if you look at their Production page right now you will see an equivalent type of page - It has a sli

[2016-01-14 16:18] kathi-aeviator commented on #358
@jpeizer1 I understand, thanks for making that clear.

LOGOS: We implemented standard-Logos to all countrysides. Not deployed yet.

opened issue for CKAN Logo:
https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/issues/38

Closing issue after deploying.

MOCKUPS: made a new branch for the mockup issue here:
https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/427

sorry JP for miss

[2016-01-14 16:49] #358 closed

[2016-01-14 17:16] kathi-aeviator commented on #427
@jpeizer1

Dan is going to speak to Open Development Vietnam Team to coordinate with us about inputing theier content into PP Wordpress.

All features are available to all country sites, but they need to be activated!

[2016-01-14 17:23] kathi-aeviator commented on #403
Ok thanks JP. I'll coordinate that tomorrow! Last thing of the day: deploying changes of mapexplorer and logo-changes.

[2016-01-14 17:28] kathi-aeviator commented on #355
Ok. Sorry JP. You are right. Didn't noticed! We have to declare it as a bug!

[2016-01-14 17:29] kathi-aeviator commented on #355
@acorbi @chris-aeviator @Huyeng could someone fix that bug -> change back as it is on production side!

[2016-01-14 17:31] kathi-aeviator commented on #368
that issue is fixed! deploying the status of mapexplorer in about an hour.

[2016-01-14 17:31] #368 closed

[2016-01-14 17:34] kathi-aeviator commented on #346
@acorbi can you close that issue if not necessary?

[2016-01-14 18:27] chris-aeviator opened #431 "Logo misspositioning on certain firefox versions"
@acorbi @DBishton @jpeizer1 @kathi-aeviator
Please test on all firefox systems available

logo correct placed

![bildschirmfoto 2016-01-15 um 01 26 31](https://cloud.githubusercontent.com/assets/11522213/12333494/0e25bc1e-bb27-11e5-9e04-52f66f0b5719.png)

Logo displaced (screenshot from alex' linux firefox)
![photo_2016-01-15_01-27-11](https://cloud.githubusercontent.com/assets/11522213/12333509/2

[2016-01-14 18:42] chris-aeviator commented on #421
Re-opened this one as there are still problems on cambodia-pp.opendevelopmentmekong.net
![bildschirmfoto 2016-01-15 um 01 42 29](https://cloud.githubusercontent.com/assets/11522213/12333868/4b9e3920-bb29-11e5-8522-b265f737ac7c.png)

[2016-01-14 19:53] acorbi opened #432 "Filter out law records with document tye = UNDEFINED"
In order to avoid them appear in the table as pictured below

![f1900428-baaf-11e5-9251-e60e0238bffb](https://cloud.githubusercontent.com/assets/384894/12335697/cf9133a0-bb00-11e5-9f51-b5801821c714.png)

[2016-01-14 20:35] jpeizer1 opened #433 "Map Explorer: Make Key Labels on Right scrollable"
I brought up multiple map layer categories just to see what would happen if you opened multiple maps in different categories
![mexplore](https://cloud.githubusercontent.com/assets/16559612/12336765/268896a8-bad4-11e5-97ee-6d20dc23fe9d.JPG)

Note that the bottom-most Open Layer Indicator Category LAND (in BLUE) falls off the bottom of the screen when space runs out for a new layer to be added

[2016-01-14 21:08] jpeizer1 opened #434 "How to navigate back from new law section"
I just went into the new laws and agreements front end
![lawnavi](https://cloud.githubusercontent.com/assets/16559612/12337445/28859ae2-bad8-11e5-8a31-7b79b5cccb62.JPG)

and pressed the first subdecree link in
https://pp.opendevelopmentmekong.net/laws/?odm_taxonomy=Social%20development

Now the problem is how do i get back? I am now in CKAN and I look at the screen and intuitively press LAWS and A

[2016-01-14 21:10] acorbi commented on #434
@jpeizer1 this is related to navigation and to https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/391, you marked it correctly with PK1.

[2016-01-14 21:13] acorbi commented on #433
Being able to scroll vertically through those boxes would be great IMO... something like a transparent scrollable area

[2016-01-14 22:37] acorbi opened #436 "Adapt layout for HUGE screens"
Preview on @jpeizer1 screen:

![imgpsh_fullsize](https://cloud.githubusercontent.com/assets/384894/12339823/702b5258-bb17-11e5-96f8-646a994b3eb7.jpeg)

Layout should adapt to any kind of screen. For that, responsive design classes and mechanisms **already shipped** with jeo parent theme should be re-used. ( based on http://getskeleton.com/)

[2016-01-14 22:39] #421 closed

[2016-01-14 23:15] #432 closed

[2016-01-14 23:43] #423 closed

[2016-01-14 23:48] acorbi opened #439 "Add "clear" button to clear filter"
In order to remove the search filter applied after clicking on a taxonomic term or document type

[2016-01-14 23:59] #439 closed

[2016-01-15 00:10] acorbi commented on #415
@kathi-aeviator

FIxed

Fixed

Can you provide a mockup or describe your suggestion? I do not understand what you mean exactly, the download buttons are all in one line.

Is this Issue still present? I cannot reproduce it, see below:

![screenshot from 2016-01-15 01-09-48](https://cloud.githubusercontent.com/assets/384894/12341827/c18f81ca-bb24-11e5-8129-a42dd44abb93.png)

[2016-01-15 02:43] Huyeng commented on #427
I will do it for cambodia site in PP.
However, I have a few comments for the mockup above.
- Does the news feature slider is required to show on the homepage?
  ![screenshot_8](https://cloud.githubusercontent.com/assets/6613530/12343711/d7030ae2-bb68-11e5-9758-07501e52413c.jpg)
- The news posts on the News feature Slider are also listed in the NE.
  On the product site, according to the script, th

[2016-01-15 06:19] DBishton opened #441 ""Add border" feature for text on topic pages"
We currently use a plugin called "WP Feature box" (https://wordpress.org/plugins/wp-feature-box/) to mark out special areas of text on topic pages. It's not very good for this -- size can't be adjusted, text can't be styled.

![featurebox](https://cloud.githubusercontent.com/assets/1206387/12346796/493b7baa-bb8a-11e5-8ae3-31c523f0676b.png)

What we needed is a feature, ideally integrated into the

[2016-01-15 06:24] DBishton opened #442 "Line spacing broken by superscript"
Adding superscript text (our standard for footnotes) causes a misalignment of line spacing, as in the image below:

![linespacing](https://cloud.githubusercontent.com/assets/1206387/12346911/290730ee-bb8b-11e5-9d0e-f4d134dbeb1a.png)

This could be resolved by adjusting the line spacing for all text to be slightly greater.

[2016-01-15 06:59] DBishton commented on #431
@chris-aeviator
On my Windows 10 machine, monitor is 1440x900 with Firefox 43.0.4:
![ppodmhomepagefirefox4304](https://cloud.githubusercontent.com/assets/1206387/12347304/48b0c9f6-bb8f-11e5-8b31-1739351e7eb8.png)

Same machine and monitor, Chrome 47.0.2526.111 m:
![ppodmhomepagechrome47](https://cloud.githubusercontent.com/assets/1206387/12347362/978cb418-bb8f-11e5-8a4d-2465a0cade79.png)

On my 13

[2016-01-15 07:06] DBishton commented on #427
@Huyeng Thank you for clarifying!

[2016-01-15 07:11] kathi-aeviator commented on #436
From my screen 13'' mac, not retina, firefox - it looks like this on home-site:
![bildschirmfoto 2016-01-15 um 14 10 15](https://cloud.githubusercontent.com/assets/15011163/12347575/befe1364-bb91-11e5-8c1a-ef714f35b0e0.png)

... and like this on laws site:
![bildschirmfoto 2016-01-15 um 14 03 50](https://cloud.githubusercontent.com/assets/15011163/12347556/86dce794-bb91-11e5-9f85-f1c581bae196.png)

[2016-01-15 07:11] chris-aeviator commented on #392
@DBishton @kathi-aeviator

Currently you are able to keep the categories open by clicking on the name of the category instead of hovering it. Should this behaviour be maintained?

[2016-01-15 07:11] kathi-aeviator commented on #436
@acorbi I will make short scribbles...

[2016-01-15 07:14] chris-aeviator commented on #370
@jpeizer1
Answered all your questions in response to your private eMail
I would like to file those as separate issue, from my understanding it would be:
1. make active layer boxes scrollable
2. Implement functionality to sort layers

[2016-01-15 07:24] kathi-aeviator commented on #436
Bring boxes in one line like this:
![bildschirmfoto 2016-01-15 um 14 03 50](https://cloud.githubusercontent.com/assets/15011163/12347715/39aed00c-bb93-11e5-9446-bfad24cd4c33.png)
![bildschirmfoto 2016-01-15 um 14 10 15](https://cloud.githubusercontent.com/assets/15011163/12347714/39aec15c-bb93-11e5-8c79-452f7374d4d9.png)

For huge screens:

Please work with the flex tag in css! We will set that fo

[2016-01-15 07:26] DBishton opened #443 "Country-specific menu submenu items behave incorrectly"
When configuring a country-specific menu item, sub items are currently not appearing on WordPress, but the highlighted area for that area is expanded when submenu items are added:

![headermenuitemerror](https://cloud.githubusercontent.com/assets/1206387/12347774/a84b7f42-bb93-11e5-86f8-4517ceec7903.png)

On CKAN the country-specific menu items currently don't display at all:

![headerckanitemmiss

[2016-01-15 07:32] kathi-aeviator commented on #443
add on to this issue from design-side:

please correct the width of the "more information" button! Depends allthough on css classes.

[2016-01-15 07:35] kathi-aeviator opened #444 "NEWS-Explorer showing pictures for Testing"
@Huyeng Is it possible to show drop in some layout-pics for the testing? Should'nt be the finals but gives us a better feeling how it works.

[2016-01-15 07:40] kathi-aeviator opened #445 "NEWS-Explorer exchange social icon buttons"
please exchange the social-button icons! Take the icomoon icons there:

![bildschirmfoto 2016-01-15 um 14 39 22](https://cloud.githubusercontent.com/assets/15011163/12347985/ce00eb44-bb95-11e5-9785-e8fab1e1715c.png)
![bildschirmfoto 2016-01-15 um 14 39 13](https://cloud.githubusercontent.com/assets/15011163/12347986/ce08bf54-bb95-11e5-9e8a-72f153d9a313.png)
![bildschirmfoto 2016-01-15 um 14 41 18]

[2016-01-15 07:41] chris-aeviator commented on #352
@DBishton

Social icon links are controlled by the country pages 'Open Development' Settings page (should be under appearance). Icons will not appear when no link is set.

Please coordinate width editorial staff what should be presented!

Putting priority to p2

[2016-01-15 07:44] chris-aeviator commented on #366
@jpeizer1
We can keep it open till implemented

[2016-01-15 07:44] kathi-aeviator commented on #445
dropping to the relevant issue here: https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/388. close issue.

[2016-01-15 07:45] #445 closed

[2016-01-15 07:45] kathi-aeviator commented on #388
please exchange the social-button icons! Take the icomoon icons there:

![bildschirmfoto 2016-01-15 um 14 39 22](https://cloud.githubusercontent.com/assets/15011163/12347985/ce00eb44-bb95-11e5-9785-e8fab1e1715c.png)
![bildschirmfoto 2016-01-15 um 14 39 13](https://cloud.githubusercontent.com/assets/15011163/12347986/ce08bf54-bb95-11e5-9e8a-72f153d9a313.png)
![bildschirmfoto 2016-01-15 um 14 41 18]

[2016-01-15 07:56] chris-aeviator commented on #436
@acorbi

please ping me when you are online, we should coordinate on all responsive tasks as it is not clear who solves what at the moment as you are doing work of things that are assigned to me.

[2016-01-15 08:05] kathi-aeviator commented on #380
@acorbi can you give short answer or suggestion on that issue?

[2016-01-15 08:06] jpeizer1 commented on #436
@acorbi @chris-aeviator  If you need any HUGE screen screenshots for particular urls to test results tell me -- I'm working on a 24 inch monitor with Firefox.

[2016-01-15 08:09] kathi-aeviator commented on #436
Thanks for that offer @jpeizer1 ! Would be good to have laws page screen view at that moment! Please put it in that issue. I'll piing you if something is missing in future!

[2016-01-15 08:10] chris-aeviator commented on #436
Perfect, we were not aware of that issue, will (back) implement skeleton classes to solve it for all other configured screen sizes.

[2016-01-15 08:38] chris-aeviator opened #446 "NEWS-EXPLORER // Wrong border set"
when not all news articles are present the box in the 2nd row does not have a border at the bottom.

![bildschirmfoto 2016-01-15 um 15 34 08](https://cloud.githubusercontent.com/assets/11522213/12348891/edea2a30-bb9d-11e5-8a8e-1276a6dac1e3.png)

[2016-01-15 08:42] chris-aeviator commented on #436
@acorbi

did you do those changes to 'Opendevelopment Mekong' Header text?

Code from yesterday evening should look like the following screenshot:
![bildschirmfoto 2016-01-15 um 15 38 45](https://cloud.githubusercontent.com/assets/11522213/12348955/5bca61aa-bb9e-11e5-91bf-4be0550bd860.png)

If so please please coordinate before touching functional parts (like header text which was finished with my

[2016-01-15 08:45] chris-aeviator commented on #436
**let's follow up on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/346**

[2016-01-15 08:45] chris-aeviator commented on #346
https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/344

[2016-01-15 08:45] kathi-aeviator commented on #442
@chris-aeviator @acorbi can you fix that bug? - please allthough label this as the correct milestone (I'm not able to do this with my account, cannot fix it - please keep in mind)

[2016-01-15 08:47] chris-aeviator commented on #344
**lets follow up on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/346**

[2016-01-15 08:48] chris-aeviator commented on #325
**let's follow up on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/346**

[2016-01-15 09:01] kathi-aeviator commented on #441
The easiest way to deal with would be to make a temporary solution for this issue. Otherwise it would be a huge new construction site - better to drop into part 2 of milestone 7... But totally understand your needs!

Questions:

-> are there any possibilities to adapt the content to the general look and feels with the plugin?
-> we would like to postpoem a custom-plugin for Part 2

[2016-01-15 09:04] chris-aeviator opened #447 "Map Explorer: Make map full height"
On HUGE screen sizes the map is not set to occupy full height of the screen.

![Map explorer height](https://cloud.githubusercontent.com/assets/16559612/12336765/268896a8-bad4-11e5-97ee-6d20dc23fe9d.JPG)
Screenshot taken from https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/433

[2016-01-15 09:12] kathi-aeviator commented on #391
Yes @acorbi it should be one design/css stile on CKAN and WP. I agree with css recommendation! Choose fastet way to implement. Most prio is here to make it global - more than right color-size!

Keep in mind: please use the right logo-icon from icomoon:

![image](https://cloud.githubusercontent.com/assets/15011163/12349497/6b078c2a-bb70-11e5-9549-6b217fa0cb13.png)

[2016-01-15 09:19] kathi-aeviator commented on #378
@acorbi working on it...

[2016-01-15 09:29] acorbi commented on #391
@kathi-aeviator I would be happy to undertake this, but I am prioiritising PK2 (profile pages) and I do not expect to have time for more. This is part of PK1.

[2016-01-15 10:06] gimmemochi opened #448 "TOPIC AREAS: appears in English on the Khmer site"
![screen shot 2016-01-15 at 5 03 34 pm](https://cloud.githubusercontent.com/assets/6489398/12350529/257d9a3e-bbaa-11e5-84d9-66593a509286.png)

Make it appear in Khmer on ODC Khmer page.

[2016-01-15 10:13] gimmemochi opened #449 "RELATED RESOURCES: resources linked to WP pages from CKAN are not dated"
Law, data, and related library items that are added from CKAN to the topic or landing pages should be dated. An option is to use the year. Suggestion is in red. This would also avoid presenting different versions of the same law  as duplicates. See screenshots.
![screen shot 2016-01-15 at 5 02 28 pm](https://cloud.githubusercontent.com/assets/6489398/12350672/074ab582-bbab-11e5-8ed2-a9ae7f6e1299.p

[2016-01-15 10:14] jpeizer1 commented on #436
@kathi-aeviator Could you be clearer for me to make things easier?
1. Please give me link to Screen you need
2. Please give me github link to place you want me to post
Thanks!
"Thanks for that offer @jpeizer1 ! Would be good to have laws page screen view at that moment! Please put it in that issue. I'll piing you if something is missing in future!"

[2016-01-15 10:17] gimmemochi opened #450 "RELATED RESOURCES: labels should be in Khmer"
1. RELATED RESOURCES should appear in Khmer on the Khmer page.
2. Label (title) of resources linked from CKAN to WP should in Khmer.
![screen shot 2016-01-15 at 5 03 02 pm](https://cloud.githubusercontent.com/assets/6489398/12350806/e1f4c5f6-bbab-11e5-84cb-6c8c765601a6.png)

[2016-01-15 12:03] kathi-aeviator commented on #436
1. @jpeizer1 please use this link:

https://pp.opendevelopmentmekong.net/laws to make the Screenshot of huge screen
1. You can set the screenshot directly below this post as a comment.

[2016-01-15 12:05] kathi-aeviator commented on #391
Ok. I'll keep it in mind.

[2016-01-15 12:35] chris-aeviator opened #451 "NEWS-EXPLORER // Strange scrolling"
Currently scrolling on News Explorer feels "un-natural", if you scroll just a little bit from the bottom (tested on a macbook touchpad) you wil be moved almost to the top. This makes it almost impossible to scroll to a selected news entry.
![ne_scroll_bug](https://cloud.githubusercontent.com/assets/11522213/12352991/2b0b0faa-bbbd-11e5-9b15-d8409db1f075.gif)

Please bring back the standard scrollin

[2016-01-15 13:07] jpeizer1 commented on #436
![alawscreen](https://cloud.githubusercontent.com/assets/16559612/12353692/02685796-bb5f-11e5-91b6-a9c82dccc45d.JPG)

here you go -- Sorry doing 18 things at once and tryinbg to get back to check this every so often

[2016-01-15 14:17] acorbi opened #452 "PROFILE PAGES: Implement basic page layout and template"
Following desing proposals on https://cloud.aeviator.cc/public.php?service=files&t=1f6b24dd8bdc99c36a6d2b14400d7e21&path=%2FPK2-ODM_CP

[2016-01-15 14:18] acorbi opened #453 "PROFILE PAGES: Embed cartodb interactive map"
Embed https://odm.cartodb.com/viz/2fe03f02-bb25-11e5-b96a-0e5db1731f59/map using the cartodb js api

[2016-01-15 14:19] acorbi opened #454 "PROFILE PAGES: Increase resolution of polygon geometries on map"
For more accurate data viz on https://odm.cartodb.com/viz/2fe03f02-bb25-11e5-b96a-0e5db1731f59/map

[2016-01-15 14:24] acorbi opened #455 "PROFILE PAGES: Pull and display data from CSV file stored in CKAN"
- [ ] Create a new reference record in pp-data.opendevelopmentmekong.net
- [ ] Upload ELC metadata as CSV resources, both in Khmer and English
- [ ] Expose data through datastore API
- [ ] Pull data into php page template and display using datatables.net as in /laws

[2016-01-15 14:26] acorbi opened #456 "PROFILE PAGES: Implement filtering logic"
As described in the design concepts on https://cloud.aeviator.cc/public.php?service=files&t=1f6b24dd8bdc99c36a6d2b14400d7e21&path=%2FPK2-ODM_CP implement search box for filtering content.

Elements on the cartob map should be restricted to those filtered by search queries and available in the table.

[2016-01-15 14:28] acorbi opened #457 "PROFILE PAGES: Implement profile detail view"
Once the user clicks a record and according to the design proposals on https://cloud.aeviator.cc/public.php?service=files&t=1f6b24dd8bdc99c36a6d2b14400d7e21&path=%2FPK2-ODM_CP a detail screen should be presented with extended information.

On the bottom of the page, detailed information about history tracking changes and related reference documents should be listed as well.

[2016-01-15 15:47] jpeizer1 commented on #436
Guys I am glad to see the logo taking shape. I notice on wide screen the text separates WAAAAAAAAYYYY over to the middle and away from the logo.

Can we please make sure the LOGO text stays LEFT-aligned so its near the logo on whatever sized screens?

![logo-wide-screen](https://cloud.githubusercontent.com/assets/16559612/12357322/326e5150-bb75-11e5-85c0-cca4074e536b.JPG)

[2016-01-15 17:55] acorbi opened #458 "LAWS PAGES: Filter only by existing document type / taxonomy"
Currently, filter options for particular taxonomies and/or document types are offered allthough they do not return any result. Implement function to generate these links out of the existing dataset.

![screenshot from 2016-01-15 18-54-01](https://cloud.githubusercontent.com/assets/384894/12360633/5b81158e-bbb9-11e5-9fa7-10ec8e96711b.png)

[2016-01-15 17:57] acorbi commented on #454
Fixed, uploaded map to cartoDb with 15 decimal digits
https://odm.cartodb.com/tables/elc_high_res

[2016-01-15 17:57] #454 closed

[2016-01-15 18:41] acorbi opened #459 "PROFILE PAGES: Integrate strings for translation"

[2016-01-16 03:14] chris-aeviator commented on #436
@jpeizer1
Alex made some necessary technical changes to the header which caused this behavior. We gonna correct this together with all responsive layout adaption tasks this weekend.

[2016-01-16 06:46] #447 closed

[2016-01-16 06:47] chris-aeviator commented on #447
@jpeizer1
Updated map explorer on PP,
please test the map on 24" screen if it now occupies all of your screen size and does not leave any white space like in the screenshot above!

[2016-01-16 09:03] Huyeng commented on #444
Some images are added for testing.  Please check.

[2016-01-16 09:03] #444 closed

[2016-01-16 09:09] Huyeng commented on #388
I used these icons as they already used on the topic page: https://opendevelopmentmekong.net/topics/economy-and-commerce
If change them, so we need to change those icons on the topic pages to make it consistency.

If it is not necessary, I suggest to do it after launching because there are a lot of tasks need to complete for lauching.

[2016-01-16 09:09] #384 closed

[2016-01-16 09:10] Huyeng commented on #383
Based on what has done, @kathi-aeviator do you think that we can close this issue.

[2016-01-16 10:23] acorbi opened #462 "Unify styling between Laws pages and Profile pages"
They share a lot of elements, use the same css file and properties

[2016-01-16 11:07] #452 closed

[2016-01-16 11:51] #462 closed

[2016-01-16 12:05] jpeizer1 commented on #447
It looks good wide screen - The logo is still not aligned to the left which I would expect is a pretty trivial fix in the larger scope of things and is a continuing source of political frustration for me because the powers-that-be look at that simple fix to the logo which still doesn't fully look right on  the big screen as a reflection of other elements of the work -- But i have conveyed that a n

[2016-01-16 12:16] jpeizer1 opened #466 "Logo reaction to Browser size"
I reduced my browser in my large screen and noted the second line overlap with the logo and was concerned on laptops or older PC's this could occur dependent on display dimensions.
![pagecrunch](https://cloud.githubusercontent.com/assets/16559612/12372356/bea04eca-bc20-11e5-828c-72161f50a0be.JPG)
lap

You know about the issues of space between logo and text already.
![logo-crunch](https://cloud.gi

[2016-01-16 12:17] kathi-aeviator commented on #451
@Huyeng did you see that issue and is it possible to change that with same function and design like other scrollbars in this project?!

[2016-01-16 12:20] kathi-aeviator commented on #422
@Huyeng please give a short update about that issue!

[2016-01-16 12:29] chris-aeviator commented on #447
@jpeizer1

Thanks for confirming!
Please see the topic of this issue. The issue only deals with the **height of the map container**, nothing else. We cannot start to mix up work, as I explained in the corresponding issue it was new functionality causing that issue, and we will deal with it in the right place on the right time. Now mapper staff is waiting for map explorer to be finished. As already

[2016-01-16 12:32] acorbi commented on #447
@jpeizer1 @chris-aeviator @DBishton I second @chris-aeviator point. Map explorer should go out first. UI finetunning is a quick thing and should be approached once major issues/features are complete

[2016-01-16 12:37] #453 closed

[2016-01-16 12:58] kathi-aeviator commented on #466
Duplicate of this issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/346#issuecomment-171717066. Closing.

[2016-01-16 12:58] #466 closed

[2016-01-16 13:00] kathi-aeviator commented on #388
Ok. Agree with doing after launch. Labeled to P2

[2016-01-16 13:06] jpeizer1 commented on #447
@corbi @chris-aeviator @DBishton I can actually deal with that operational set of priorities because its a necessity and as long as its clearly communicated to me, and in fact it happens like that its fine  -- But when I have to tell the people I report to that this will be done on X date because that's what I have been told and then communication is not forthcoming and they see this stuff it puts

[2016-01-16 13:34] #455 closed

[2016-01-16 13:53] kathi-aeviator commented on #378
From my side it needs to be shorter. Just "number" and "date" is specifically enought.

[2016-01-16 14:04] kathi-aeviator opened #470 "LAWS PAGES: Downloadbutton in one line"
@acorbi please list every downloadbutton from laws-page list in one line below each other. So KHs are one line, EN -one line, ...

[2016-01-16 14:15] kathi-aeviator opened #471 "LAWS PAGES: final arrangement of HL and subHL"
https://pp.opendevelopmentmekong.net/laws
@acorbi css proposals for this issue:

1. please delete the margin top!
.row {margin-top: 0px;}

2. lower distance between "LAWS" HL and info class

[2016-01-16 15:33] acorbi commented on #450
Suggestions for fixing this:
1. The string "Related resources" should be added to the localization workflow (if not done yet) and files with translated files (.po) should be deployed so that string appears translated when the user changes languages.
2. Code for those widgets should be adapted so wpckan returns the field "title_translated" (along with other metadata) and the string presented should

[2016-01-16 15:34] acorbi commented on #449
Analog to point 2 on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/450 ( see my comment). the call to wpckan for those widgets should be adapted so wpckan returns also the date.

[2016-01-16 15:35] acorbi commented on #448
Analog to 1 in https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/450 ( see my comment) the string "TOPIC AREAS" should be added to the localization workflow, translated (if not done yet) and deployed

[2016-01-16 15:51] acorbi commented on #471
@kathi-aeviator this is not an Issue specific to the Laws pages and as described in https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/391 this should be approached as part of PK1. Closing...

[2016-01-16 15:51] #471 closed

[2016-01-16 17:24] #433 closed

[2016-01-16 19:37] jpeizer1 opened #473 "Navigation -- wrong turn?"
While perusing laws I clicked on KH (587) in Country section navigation (on left)
![navigation-issue1](https://cloud.githubusercontent.com/assets/16559612/12374059/56b22fac-bc5e-11e5-9f69-65fae2d0fd00.JPG)

I ended up here - in datasets with a different number of non-law (11) datasets
![navigation-issue2](https://cloud.githubusercontent.com/assets/16559612/12374061/5cf9aef8-bc5e-11e5-9c41-b52ae78c

[2016-01-16 20:36] acorbi commented on #473
@jpeizer1 This is a good spot, i believe I know the fix but please move this to https://github.com/OpenDevelopmentMekong/ckanext-odm_dataset, it belongs there. thanks

[2016-01-16 21:19] jpeizer1 commented on #473
Alex I needed to get out a few hours  I have to move when I get back or please close move if if issue  sent by phone. Jp

[2016-01-16 21:19] acorbi commented on #473
OK , i close it myself and moved to https://github.com/OpenDevelopmentMekong/ckanext-odm_dataset/issues/254

[2016-01-16 21:19] #473 closed

[2016-01-16 23:22] #456 closed

[2016-01-16 23:24] acorbi opened #475 "PROFILE PAGES: Style popup window"
When user clicks on a polygon, popup shows detailed information. this popup needs to be styled.

[2016-01-17 02:39] acorbi commented on #459
Fixed via 7d606142f42ef3152713319eaf73f851adcabf9a

[2016-01-17 02:39] #459 closed

[2016-01-17 03:16] Huyeng commented on #451
Well, I will fix it soon.

[2016-01-17 04:02] Huyeng commented on #451
I have already disable it now. Please check it.

[2016-01-17 04:08] Huyeng opened #477 "Navigation: What is the more information under the top topic navigation"
If mouse hover on the icons of the topics, there is a words "MORE INFORMATION" overlap the list of the topic, see the screenshot below.  Please remove it if not necessary.
![screenshot_15](https://cloud.githubusercontent.com/assets/6613530/12375904/4f1ba49c-bd0a-11e5-8616-d7ab62d83d98.jpg)
![screenshot_14](https://cloud.githubusercontent.com/assets/6613530/12375903/4f10358a-bd0a-11e5-8082-9c46b5bc

[2016-01-17 04:30] chris-aeviator opened #478 "Map Explorer: Submenu unaccessible"
When hovering e.g. the 'Data' Menu, the map explorer overlaps the expanding submenu

[2016-01-17 05:03] Huyeng commented on #448
should the country navigation need to translate too, right? If so, I need to wrap the text in gettext function.
 ![screenshot_16](https://cloud.githubusercontent.com/assets/6613530/12376027/0dfca710-bd12-11e5-9d47-770e7ead4319.jpg)

[2016-01-17 06:00] chris-aeviator opened #483 "Map Explorer: Implement loading indicator for layers"
When loading a layer takes too long the user is confused by the not appearing/late appearing layer. It would be benefitial to the user if layer loading would be indicated by a 'spinner' or something similar.

[2016-01-17 06:02] chris-aeviator opened #484 "Map Explorer: Horizontal scrolling bug"
Remove horizontal scrolling bug in active layers that happens in certail Browser versions.

![horiz_scroll_bug](https://cloud.githubusercontent.com/assets/11522213/12376205/8429e706-bd1a-11e5-8e64-4ddba1da0957.jpg)

[2016-01-17 07:51] #450 closed

[2016-01-17 07:53] Huyeng opened #487 "RELATED NEWS: labels should be in Khmer"
In Khmer site the headline "RELATED NEWS" should be in Khmer
 ![screenshot_17](https://cloud.githubusercontent.com/assets/6613530/12376501/ffae2e0a-bd29-11e5-96ca-43526366c37c.jpg)

[2016-01-17 08:10] #487 closed

[2016-01-17 08:12] Huyeng commented on #406
Fixed!

[2016-01-17 08:12] #406 closed

[2016-01-17 08:13] Huyeng opened #489 "Country Names on left navigation: labels should be in Khmer texts on Khmer site."
See highlighted:
 ![screenshot_16](https://cloud.githubusercontent.com/assets/6613530/12376027/0dfca710-bd12-11e5-9d47-770e7ead4319.jpg)

[2016-01-17 08:21] Huyeng commented on #448
The issue of country navigation is created, see: https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/489

[2016-01-17 08:21] #448 closed

[2016-01-17 08:45] Huyeng commented on #489
Fixed

[2016-01-17 08:45] #489 closed

[2016-01-17 09:21] acorbi opened #494 "Map explorer: Map covering topics menu"
![screenshot from 2016-01-17 10-16-02](https://cloud.githubusercontent.com/assets/384894/12376742/fc2a881c-bd03-11e5-9ffb-ec9560db772d.png)

[2016-01-17 09:23] prustar commented on #366
Can I also add line space between each layer title, should be reduced a little to save more space.

[2016-01-17 10:17] prustar commented on #370
![catmenu](https://cloud.githubusercontent.com/assets/14996905/12376939/e2d854ae-bd0b-11e5-9551-7ffd2d7fe417.JPG)

[2016-01-17 10:19] prustar commented on #370
@kathi-aeviator @chris-aeviator Please see above screen capture. Now that you can see how many layers there may be in one category it's really important to reduce the line/paragraph space between layer names and have a scroll function.

[2016-01-17 10:22] prustar commented on #373
Please also switch the colours for the categories ensuring that Environment is green, hydrology - blue at the minimum - I don't have preference for allocating colours to the other catagories.

[2016-01-17 10:38] acorbi commented on #373
@prustar @chris-aeviator I would say those category selection areas should be shorter and offer scrolling possibilities

[2016-01-17 11:38] kathi-aeviator commented on #370
@prustar: Question: how many layers and how many categories you want to add in in final before launch?
It's unfortunately not as useful to put in more scrollbars. Could be confusing the user on one hand and design (including colours,...) is not layouted for more than 4-5 categories

[2016-01-17 12:13] chris-aeviator commented on #494
closing,

duplicate of https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/478

[2016-01-17 12:13] #494 closed

[2016-01-17 12:13] chris-aeviator commented on #478
![screenshot from 2016-01-17 10-16-02](https://cloud.githubusercontent.com/assets/384894/12376742/fc2a881c-bd03-11e5-9ffb-ec9560db772d.png)

[2016-01-17 12:58] prustar commented on #370
@kathi-aeviator due to limitations in this design I'm going to reduce as best I can to 4-5 catagories for now for the launch. I will also have to cut number of layers down as well so that it's visually more appealing. This is not ideal overall and will need a re-think after we launch.

[2016-01-17 13:07] #457 closed

[2016-01-17 13:19] acorbi commented on #451
@Huyeng @kathi-aeviator is this fixed? BTW @Huyeng do you deploy your changes on PP? do you use the odm-automation or do it manually?

[2016-01-17 13:39] jpeizer1 opened #498 "ELC-Downloads CSV, GeoJson, KML"
CSV provides download screen when clicked -- GeoJson, KML send user back to
https://pp.opendevelopmentmekong.net/economic-land-concessions

![elc-downloads](https://cloud.githubusercontent.com/assets/16559612/12377741/8b1fbc2c-bcf5-11e5-90af-52b0a43622a0.JPG)

[2016-01-17 13:42] jpeizer1 opened #499 "ELC - White buttons"
In Firefox the buttons for sharing and zooming maps are blank in both individual ELC's and scroll list of ELC's

![elc-navback](https://cloud.githubusercontent.com/assets/16559612/12377751/fd9a2a62-bcf5-11e5-8e97-40efa409debb.JPG)
![elc-wb2](https://cloud.githubusercontent.com/assets/16559612/12377754/2bc1bb9e-bcf6-11e5-9312-781591cfaf2f.JPG)

[2016-01-17 13:49] jpeizer1 opened #500 "ELC-Navigation back - Breadcrumb Navback issue?"
When in an individual concession record I see no easy way back to
https://pp.opendevelopmentmekong.net/economic-land-concessions
Unless I hit back on browser  -- Shouldn't the breadcrumb for an individual land concession have clickable links where:
1. the last part of crumb is the Title (or partial title...) of individual record you are in
2. the one prior is Economic Land Concessions which clicks

[2016-01-17 13:51] jpeizer1 opened #501 "ELC -- Cambodia?"
@acorbi @DBishton Just want to be sure we are all on the same page. E.g. That the:

Final ELC implementation will show up as a menu item only on Cambodia, not Mekong or in other countries? Dan please confirm.

[2016-01-17 13:57] jpeizer1 opened #502 "Map Explorer -- IPAD Mini - Screen -- Sample"
![ipad-mini](https://cloud.githubusercontent.com/assets/16559612/12377817/5a3ad9e0-bcf8-11e5-8fca-ec242003ae8c.png)

[2016-01-17 14:27] prustar opened #504 "MAP EXPLORER: Category menu"
Info window displays the description when you click with the option of more - clicking more displays the legend, clicking less removes the display of the legend but not the description.

Also all the text is in cap - can we remove the cap please.

![catmenu](https://cloud.githubusercontent.com/assets/14996905/12377933/aab9fb0e-bd2e-11e5-95d9-d4adb13ca234.JPG)

[2016-01-17 14:41] Huyeng opened #505 "Map Explorer: Provide additional options to add WMS layers in Khmer"
Currently, the we can add only a layer in either English, but not other language.
Thus, add a text-box to allow user able to add localization layer
![screenshot_18](https://cloud.githubusercontent.com/assets/6613530/12376676/2f7c4d0c-bd33-11e5-8364-4c8329b6e4a6.jpg)

[2016-01-17 15:38] acorbi commented on #501
@jpeizer1 @DBishton yes, please dan confirm

[2016-01-17 15:41] acorbi commented on #470
@kathi-aeviator with the current size of the buttons that would make the rows longer in height. Also, in the other elements of the system resource download buttons are always arranged horizontally.

![screenshot from 2016-01-17 16-40-54](https://cloud.githubusercontent.com/assets/384894/12378276/273ed4ec-bd39-11e5-97e3-2c128a9d6082.png)
![screenshot from 2016-01-17 16-41-06](https://cloud.githubus

[2016-01-17 15:43] acorbi commented on #415
@kathi-aeviator should we close this issue and move forward with the current layout?

[2016-01-17 15:45] acorbi opened #506 "PROFILE PAGES: Implement field order"
Proposed by @gimmemochi on https://docs.google.com/spreadsheets/d/113gs2d8lG7vihIrdqElRaWnaGYiuqmIUGtVF61ra-bI/edit#gid=41281557

[2016-01-17 15:50] DBishton commented on #501
@acorbi @jpeizer1 Correct. We currently only have concessions data for
Cambodia, and will only give acess to this functionality from the Cambodia
instance.

On Sun, Jan 17, 2016 at 10:38 PM, Alex Corbi notifications@github.com
wrote:

##

_Daniel Bishtonmobile:  +855968153317 | Twitter:
http://twitter.com/DanielBishton http://twitter.com/DanielBishton |
LinkedIn: http://linkd.in/Uf2YKt http://link

[2016-01-17 15:51] acorbi commented on #378
@kathi-aeviator I do not think that is a good idea, for a law knowing that it is the promulgation date and not the date it was uploaded to the system is important. @gimmemochi can provide more context than me though. @gimmemochi can you shed some light on the final name for the metadata fields on https://pp.opendevelopmentmekong.net/laws/ ?

[2016-01-17 16:00] acorbi commented on #501
:+1:

[2016-01-17 17:10] DBishton opened #507 "ELC titling tweaks"
1. The title of a detail page of a concession currently reads (for example):

"Economic Land Concessions
<concession name>"

Please adjust this to read:

"Economic Land Concession profile:
<concession name>"

2. Change spelling of "Ammendments" to "Amendments"

[2016-01-17 17:10] jpeizer1 opened #508 "Map Explorer- Main Menu Navigation Glitch -- Submenus"
I note that the DATA menu/submenu is not working just on mapexplorer page -- I assume that when the MORE INFORMATION menu is complete the same issue will have to be addressed with the submenu dysfunction
![000030](https://cloud.githubusercontent.com/assets/16559612/12378656/52442a6e-bd13-11e5-907d-b1be4252ac33.png)

[2016-01-17 17:22] prustar opened #509 "Map Explorer: WMS shadow"
When a WMS layer is activated and subsequently deactivated the info windows are still clickable.
![map-explorer1](https://cloud.githubusercontent.com/assets/14996905/12378715/33ecf044-bd47-11e5-8331-0c6a948d8306.JPG)
The layer has been switched off yet the info window is stilled displayed:

![map-explorer4](https://cloud.githubusercontent.com/assets/14996905/12380768/2fe37b92-bd7b-11e5-87b9-9c92ab

[2016-01-17 17:53] #507 closed

[2016-01-17 18:08] prustar opened #511 "MAP Explorer: Full screen function"
Expanding to full map view the menu options disappear. It would be nice to be able to play with layers in the full view as the smaller view can get a little cramped.
![map-explorer2](https://cloud.githubusercontent.com/assets/14996905/12378923/a41c1f42-bd4d-11e5-9150-83df017933b6.JPG)

[2016-01-17 18:25] prustar opened #512 "Map Explorer: Info Window obscured by the page header"
If an info window opens at the top of the map it is obscured by the head of the page and you can't see the top text or select to close the window.

![map-explorer3](https://cloud.githubusercontent.com/assets/14996905/12378999/1434b350-bd50-11e5-926e-b4e15ff1d3e6.JPG)

[2016-01-17 19:45] jpeizer1 opened #513 "Map Explorer -- Contact Form Tab Question"
This CONTACT FORM Tab seem to really be making a nuisance of itself ;-)

I am wondering if it wiould be better to move it up just below the blue frame at the top of the map and just above above the first key box which always seems to appear in the same place on the right of the map when a layer is chosen. If we shortend the width of the contact form just a little and it lived inthat top corner of

[2016-01-17 19:52] jpeizer1 commented on #513
Related to #405 Closed

[2016-01-17 19:52] #513 closed

[2016-01-17 19:53] jpeizer1 commented on #405
This CONTACT FORM Tab seem to really be making a nuisance of itself ;-)

I am wondering if it would be better to move it up just below the blue frame at the top of the map and just above above the first key box which always seems to appear in the same place on the right of the map when a layer is chosen. If we shortend the width of the contact form just a little and it lived inthat top corner of t

[2016-01-17 21:25] jpeizer1 commented on #370
Could I suggest something?  Right now you have words underneath the color bars... But what if the words were IN THE COLOR BARS - wouldn't that provide you enough space for two rows of four?

Another possibility is the following: your top row of bars at the bottom currently sit _IN_ the map. If your color bars had the words in them you could in fact place four rows of color bars at the top of the m

[2016-01-17 22:17] acorbi commented on #501
Fixed. ELC pages can be added as a page on wordpress and referenced within the country specific menu of the cambodia site. See example in staging http://cambodia.opendevelopmentmekong.net/

[2016-01-17 22:17] #501 closed

[2016-01-17 23:11] #506 closed

[2016-01-17 23:23] acorbi commented on #434
@chris-aeviator I could not implement this tonight. please address it as part of finalization of navigation concept.

[2016-01-17 23:24] acorbi commented on #391
@chris-aeviator I could not implement this tonight. Please address as part of finalization of navigation concept

[2016-01-17 23:27] acorbi commented on #415
@kathi-aeviator  in order to ensure responsiveness in the layout and better data functionalities, I have implemented a different approach without grouping entries by document type. See current implementation in PP. http://pp.opendevelopmentmekong.net/laws/

![screenshot from 2016-01-18 00-24-57](https://cloud.githubusercontent.com/assets/384894/12380728/276992c2-bd7a-11e5-98fd-ea430d3f57c3.png)

[2016-01-17 23:27] acorbi commented on #415
Im closing this issue

[2016-01-17 23:27] #415 closed

[2016-01-17 23:28] acorbi commented on #470
Closing this issue.

[2016-01-17 23:34] acorbi commented on #500
This issue is related to https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/434 and https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/391. It should be addressed together with the finalization of the navigation concept.

[2016-01-17 23:48] acorbi commented on #499
Fixed via 1453696ad52738d9cf377634a3b3df0217ae9b60

[2016-01-17 23:48] #499 closed

[2016-01-18 00:55] #502 closed

[2016-01-18 02:51] jlrobles74 opened #516 "Adding Forest Cover legacy page"

[2016-01-18 04:09] ChandaraKhun commented on #213
Multi-lingual fields don't work yet. So the difficulties might exist with searching and uploading new laws/agreements. This may happen with library items as well. ODC editor team might have challenges with this since they need to upload related laws and publications with topical pages.
![law-agreements-policy_ckan](https://cloud.githubusercontent.com/assets/10953792/12383042/a227502c-bdd3-11e5-959

[2016-01-18 04:24] kathi-aeviator commented on #415
Yeah thanks. Agreed!

[2016-01-18 04:37] jpeizer1 commented on #477
@Huyeng @chris-aeviator @kathi-aeviator This is related to still unresolved issue of the more information map and its lack of a class its now wrapping into tjhe next line and overlaying other items...
https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/356

[2016-01-18 04:38] kathi-aeviator commented on #370
@prustar you can use us as many layers as you want there is just limitation of categories! So best would be to have topic-categories and add layers into it! But we should definatly find better solution after launch!
@jpeizer to use more than four categories came up after presenting concept for mapexplorer. That's the reason why it's not so easy to change something before launch. We will see if we

[2016-01-18 05:24] kathi-aeviator commented on #477
This is although one point for responsive implementation. Thanks for the note

[2016-01-18 05:25] kathi-aeviator commented on #213
@acorbi please comment in this issue.

[2016-01-18 08:15] #388 closed

[2016-01-18 08:20] kathi-aeviator commented on #378
so let's do it like this and see later how we fix the problem in mobile. Closed issue.

[2016-01-18 08:20] #378 closed

[2016-01-18 08:26] Huyeng opened #520 "Country a glace page: space issue betwee the piktochart and widget"
Issue cause by:
section#page-content {
    margin-top: 80px;
}
![screenshot_20](https://cloud.githubusercontent.com/assets/6613530/12386368/a733c70c-bdf7-11e5-9966-83a2de4dd1a0.jpg)

[2016-01-18 09:06] acorbi commented on #213
@Huyeng @chris-aeviator @ChandaraKhun Currently in the laws section in CKAN data.opendevelopmentmekong.net/laws_record there are 2 groups of laws:
1. Those imported by the scripts which have both titles in EN and KM. See the metadata (through API call) of an example of those https://data.opendevelopmentmekong.net/api/3/action/package_show?id=prakas-no-106-on-the-prohibition-of-hazardous-child-labo

[2016-01-18 09:32] kathi-aeviator opened #523 "Laws on Wp have scrollbar"
@alex
why do you used scrollbar function for laws section here?

![image](https://cloud.githubusercontent.com/assets/15011163/12387699/c07add0a-bdce-11e5-823f-9aebe66f0155.png)

[2016-01-18 09:38] kathi-aeviator commented on #523
Thats totally not functional and its need to be changed before launch.

[2016-01-18 09:51] kathi-aeviator commented on #357
@DBishton @Huyeng what aout this issue? Did you solve it so we can close or is it still open?

[2016-01-18 09:53] kathi-aeviator commented on #356
@chris-aeviator please review!

[2016-01-18 09:58] kathi-aeviator commented on #451
@Huyeng please review and close!

[2016-01-18 09:59] kathi-aeviator commented on #446
@Huyeng please review and close issue.

[2016-01-18 10:01] kathi-aeviator commented on #426
@Huyeng  please implement issue and close after.

[2016-01-18 10:03] acorbi commented on #523
agree, unfortunately I cannot undertake any more tasks :disappointed: . @Huyeng you have a lot of experience with datatables and are the most appropiate person to approach this, im assigning this task to you.

[2016-01-18 10:07] chris-aeviator commented on #405
contact form removed for map explorer, thanks dan, jp for that suggestion :)

[2016-01-18 10:07] #405 closed

[2016-01-18 10:07] #392 closed

[2016-01-18 10:22] chris-aeviator commented on #370
solved for now,  see current implementation!

![bildschirmfoto 2016-01-18 um 17 07 46](https://cloud.githubusercontent.com/assets/11522213/12388864/05f09346-be08-11e5-9dd6-f3a919eda7c4.png)

[2016-01-18 10:22] #370 closed

[2016-01-18 10:23] #366 closed

[2016-01-18 10:23] chris-aeviator commented on #523
why has this been changed? in my implementation it was not there?!

[2016-01-18 10:24] chris-aeviator commented on #523
@Huyeng feel free to contact me for advise, we can lookup in commit history!

[2016-01-18 10:28] #520 closed

[2016-01-18 10:33] acorbi commented on #523
@chris-aeviator your implementation was in baby steps when i overtook it and needed to be completely refactored because it had, in my opinion, an incorrect approach ( several dataTables instances instead of one).

[2016-01-18 10:37] chris-aeviator commented on #523
only thing is please communicate before going that dramatic step!

The approach is valid as these steps are supported by the data_table api

[2016-01-18 10:43] acorbi commented on #523
@chris-aeviator @kathi-aeviator it had been already communicated -> see https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/415 and discussed!

You approach of maintaining multiple datatable instances involved writing a genenal pagination, index and info logic for ALL tables when this functionality is shipped out of the box by datatables instead of implementing **grouping** which for m

[2016-01-18 10:43] acorbi commented on #523
@chris-aeviator @kathi-aeviator it had been already communicated -> see https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/415 and discussed!

You approach of maintaining multiple datatable instances involved writing a genenal pagination, index and info logic for ALL tables when this functionality is shipped out of the box by datatables instead of implementing **grouping** which for m

[2016-01-18 10:45] Huyeng commented on #451
@Alex, I don't use the odm-automation. I'm not familiar with it yet, I will use it later.
@kathi-aeviator, I fixed it, but i don't have the macbook test to test,if the issue is fixed. It would be better if you could check it, and close it if fixed.

[2016-01-18 10:46] #387 closed

[2016-01-18 10:46] acorbi commented on #451
@Huyeng :+1:

[2016-01-18 10:46] #383 closed

[2016-01-18 10:47] Huyeng commented on #331
I think I can close it now. if there is an issue relevant, please create new one.

[2016-01-18 11:06] prustar opened #526 "MAP EXPLORER: long string text from CartoDB legend not displaying correctly"
There formatting needs to be fix to allow for long string text:

![image](https://cloud.githubusercontent.com/assets/14996905/12387406/974c9d08-bdcc-11e5-94bd-a7763060c5d1.png)

[2016-01-18 11:17] kathi-aeviator commented on #451
@Huyeng Is this issue fixed? Please review again and close issue.

[2016-01-18 11:19] kathi-aeviator commented on #331
Closed issue.

[2016-01-18 11:19] #331 closed

[2016-01-18 12:01] chris-aeviator commented on #508
will be addressed all at once it's an issue with the plugin map, tried the usual stuff but could not implement a quick fix.

Please follow up on https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/478

[2016-01-18 12:01] #508 closed

[2016-01-18 12:12] kathi-aeviator commented on #426
@ HE Can not see the implementation on pp! Did you implement the color?

[2016-01-18 12:13] DBishton opened #529 "Required new components by site"
Mekong: news explorer, map explorer

Cambodia: news explorer, map explorer, laws page, profiles page

Vietnam: news explorer, map explorer, topic page links disabled

Laos: news explorer, map explorer, topic page links disabled (home page behind placeholder)

Thailand:  news explorer, map explorer, topic page links disabled (home page behind placeholder)

Myanmar:  news explorer, map explorer, top

[2016-01-18 12:53] kathi-aeviator opened #530 "LAWS-Page 404 on Cambodia laws page"
There is 404 for https://pp-cambodia.opendevelopmentmekong.net/laws

[2016-01-18 12:59] chris-aeviator commented on #523
@acorbi
another valid approach it solving the document type display with "title rows" & colspan, see implementation of the old laws section on odc website
![bildschirmfoto 2016-01-18 um 19 58 17](https://cloud.githubusercontent.com/assets/11522213/12391935/de706bdc-be1d-11e5-8795-296d5375c5f5.png)

[2016-01-18 13:05] acorbi commented on #530
FIxed, created a new Page with template "profile pages" https://pp-cambodia.opendevelopmentmekong.net/laws/

[2016-01-18 13:05] #530 closed

[2016-01-18 13:21] kathi-aeviator opened #531 "Implement small distance in subnavigation"
![image](https://cloud.githubusercontent.com/assets/15011163/12392145/5da64402-be1f-11e5-94f0-91cbc83bec19.jpeg)

implement small distance (about 3-5px) above the HL of the sub-menus
E.g. On this screenshot it's above "PEOPLE" and the border. So there must be more orange space.

[2016-01-18 13:53] Huyeng commented on #426
The pin color has changed following the country color:
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/12392938/35957676-be25-11e5-98c7-4210d735bc96.png)
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/12392979/75ef04a8-be25-11e5-8aa0-04463648f811.png)

[2016-01-18 13:53] #426 closed

[2016-01-18 13:54] Huyeng commented on #505
Added!

[2016-01-18 13:54] #505 closed

[2016-01-18 14:02] Huyeng commented on #353
That's because of the no images are migrated. Fixed.

[2016-01-18 14:02] #353 closed

[2016-01-18 14:25] jpeizer1 opened #532 "What MYANMAR, LAOS, THAILAND front pages should look like"
@Huyeng

I visited MYANMAR, LAOS, THAILAND pages on staging server
https://myanmar.opendevelopmentmekong.net/
https://laos.opendevelopmentmekong.net/
https://thailand.opendevelopmentmekong.net/

1. Myanmar has smaller width for all items on the page -- please make Laos and Thailand like this
2. The Pikto map has the last line of statistics cut off for all countries right now -- Please make sure th

[2016-01-18 14:39] Huyeng commented on #451
The issue is on Macbook, not in window. I'm using the window, so I don't have the problem like this.
However, i have disable the js, so i thought that it fixed. It would be better if someone use Macbook test and confirm it.

[2016-01-18 14:46] jpeizer1 opened #533 "ELC-KEY - Formating is REALLY problemmatic - We want to show this at presentation"
ELC land concession key on front page comes up with items overlapping

![elc-key](https://cloud.githubusercontent.com/assets/16559612/12394180/4b9285b6-bdc8-11e5-8832-050c75aacbe6.JPG)

[2016-01-18 15:08] #446 closed

[2016-01-18 15:33] acorbi commented on #533
HTML tweaking on the legends can be done directly on the cartodb map. NO need for touching the code on our servers

![screenshot from 2016-01-18 16-32-15](https://cloud.githubusercontent.com/assets/384894/12395310/24f6e152-be01-11e5-83da-70e4b5b605ff.png)

[2016-01-18 16:22] Huyeng commented on #422
This is the performance to set equal height of the Dev item in each line once the map is rotated. Otherwise, the div item will mix up.
![screenshot_21](https://cloud.githubusercontent.com/assets/6613530/12396497/56d0dd0c-be3a-11e5-8d15-cde6a45aa780.jpg)

[2016-01-18 16:24] kathi-aeviator commented on #533
Sorry @Arbigkung for assigning you. Happens while using mobile version on GitHub!

[2016-01-18 16:26] kathi-aeviator commented on #530
@dbriston please notice!

[2016-01-18 16:30] kathi-aeviator commented on #367
Dots are not finalized! Reopened

[2016-01-18 16:33] jpeizer1 commented on #356
@chris-aeviator @kathi-aeviator @DBishton   Dan and I have spoken and if it is actually too technically complicated for you to do a menu with two sub-levels configured similarly to the DATA menu just right two buttons away then create one level in MORE INFORMATION for Cambodia and use:

Sub-Sub Item Label 1: 2008 CENSUS Link: http://www.opendevelopmentcambodia.net/census-data/
Sub-Sub Item Label 2

[2016-01-18 16:38] kathi-aeviator commented on #422
The feature you are talking about is not in use anymore...every dig stays the same height always. It can be removed. With performence is ment that it Takes way to much time to load the hole site. After deleting non relevant Feature the Performance will be much better/faster!

[2016-01-18 16:39] Huyeng commented on #427
Can the issue close?

[2016-01-18 16:44] jpeizer1 opened #537 "MAP EXPLORER- category bars still configured with multiple words other than Cambodia"
In Mekong, Myanmer, Vietnam ect. I see multiple word bars that are overhanging their color bars and screwing up the UI

![mapserver-menu-items](https://cloud.githubusercontent.com/assets/16559612/12397065/c89073b0-bdd8-11e5-902f-a33bf9c7d03d.JPG)

[2016-01-18 16:55] kathi-aeviator commented on #427
@DBishton please close issue if finished.

[2016-01-18 17:01] kathi-aeviator commented on #373
@acorbi the width of the categories bars depends on the content shown in the layers so we can't shorten them! Just click on one categorie then choose one layer at click more information...

[2016-01-18 17:14] chris-aeviator opened #539 "Map Explorer: Fix coul"
![bildschirmfoto 2016-01-19 um 00 13 36](https://cloud.githubusercontent.com/assets/11522213/12397770/dcc53136-be41-11e5-87d9-871a57593d66.png)

dot, HL, and info button should be in same color.

[2016-01-18 17:24] chris-aeviator opened #540 "Map Explorer: categorie-box should be clickable"
![bildschirmfoto 2016-01-19 um 00 21 56](https://cloud.githubusercontent.com/assets/11522213/12397923/e356c40a-be42-11e5-9e63-114cfbfcd00d.png)
the whole box (in this example magenta) should be clickable - same for all other categorie boxes

[2016-01-18 17:30] jpeizer1 commented on #356
I need a Cambodia menu configured like this under more information LINK and the formatting should be fixed. What we are trying to demonstrate here CRITICALLY is the ability to access Legacy Cambodia data that could not be immediately migrated because of some custom work done previously that we can still access.

Sub-Sub Item Label 1: 2008 CENSUS Link: http://www.opendevelopmentcambodia.net/census-

[2016-01-18 17:50] chris-aeviator commented on #537
we're coordinating with pyrou already about it

[2016-01-18 18:15] chris-aeviator commented on #533
@kathi-aeviator

please see review folowing proposal and reopen the issue if necessary

![bildschirmfoto 2016-01-19 um 01 13 16](https://cloud.githubusercontent.com/assets/11522213/12398988/ec850f8a-be49-11e5-89dd-0257011b2677.png)

https://pp-cambodia.opendevelopmentmekong.net/economic-land-concessions-profiles

[2016-01-18 18:16] DBishton opened #541 "Language picker control missing"
from the header in Cambodia and Vietnam instances on staging and pre-production servers.

[2016-01-18 18:18] #533 closed

[2016-01-18 18:22] chris-aeviator opened #543 "ELC : Giant table rows"
only 2 rows visible on my screen, please remove unneccesary height from table rows

![bildschirmfoto 2016-01-19 um 01 21 20](https://cloud.githubusercontent.com/assets/11522213/12399202/202ca6e4-be4b-11e5-963c-fde51c8c621b.png)

[2016-01-18 18:25] DBishton opened #544 "Front-facing strings need translation"
Currently the following interface strings need to be translated into Khmer and added to the interface:

Header menu:
Laws, policies and agreements
Publications library
Data hub
Maps
Map explorer
Economic land concession profiles

Footer menu:
About us
Disclaimer
Terms of use

Disclaimer text:
By accessing this website or database, you indicate your agreement with our terms and conditions of use, w

[2016-01-18 18:32] chris-aeviator opened #545 "QTranslate not working"
qtranslate is raising
Error: Could not write to "/var/www/html/wp-content/languages", Gettext Databases could not be downloaded!

[2016-01-18 18:33] chris-aeviator commented on #541
translation plugin is not working --> https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/545

[2016-01-18 18:38] jpeizer1 commented on #533
This looks great

[2016-01-18 18:38] chris-aeviator commented on #541
assigned correct system user

before:

[code]
after:
[code]

[2016-01-18 18:39] chris-aeviator commented on #545
assigned correct system user on PP

before:

[code]

after:

[code]

[2016-01-18 18:39] #545 closed

[2016-01-18 19:48] jpeizer1 commented on #356
So the menu functions and -- that's really great - but there is still an issue with submenu items being shown with bar extended in the wrong direction vis-a-vis all other submenu items.

![000038](https://cloud.githubusercontent.com/assets/16559612/12401094/456a9c62-bdf2-11e5-93d4-6eb801aebf1c.png)

[2016-01-18 19:54] prustar opened #548 "MAP EXPLORER: Horizontal scroll bar, i info icon and active window bugs"
There shouldn't be a need for the horizontal scroll bar if the 'i' info is moved a little the the left. In all categories there should be space if the distance between the point and text is reduced slightly. In the active window there is plenty of space to eliminate the horizontal bar and fit the download and info icons in.

![map-explorer9](https://cloud.githubusercontent.com/assets/14996905/1240

[2016-01-18 19:56] chris-aeviator commented on #541
language switcher available on

https://pp-cambodia.opendevelopmentmekong.net/

![bildschirmfoto 2016-01-19 um 02 55 04](https://cloud.githubusercontent.com/assets/11522213/12401294/1edb7f42-be58-11e5-8aff-946b39c5f4d1.png)

@kathi-aeviator please make proposal for optimal position

@DBishton please coordinate on language settings and translation

[2016-01-18 19:56] jpeizer1 commented on #498
https://cambodia.opendevelopmentmekong.net/company-profiles/economic-land-concessions/

Am looking at ELC and the download just for the CSV files brings up a 404 --
https://data.opendevelopmentmekong.net/dataset/1cd6c00a-867b-4e90-887b-f47a55fb87a3/resource/3b817bce-9823-493b-8429-e5233ba3bd87/download/elcen.csv

CAV -- 404 Error
![csv-404](https://cloud.githubusercontent.com/assets/16559612/12401

[2016-01-18 19:56] DBishton opened #549 "Deployment process and impact on menu items -- dead links on pre-production"
There are currently some inconsistencies between anchor targets for menu item URLs on staging and pre-production. We need to test them thoroughly but also require clarification on menu items first.

My understanding is that:

1. Country-specific menu items (those created by Wordpress admins) would be migrated and would hence remain on staging if added there.

2. Menu items in code on pre-productio

[2016-01-18 20:05] DBishton opened #550 "OD Cambodia menu items: clarification"
Please clarify final wording and targets for desired menu items on OD Cambodia:
https://cambodia.opendevelopmentmekong.net/kh/

Also indicate if you would like the "data" menu item to point to:
https://data.opendevelopmentmekong.net/dataset?extras_odm_spatial_range=kh
or
https://data.opendevelopmentmekong.net/

[2016-01-18 20:09] jpeizer1 opened #551 "Word wrap - Under logo issue on data records"
This is still not looking right -- Wordwrap of organization

OPEN DEVELOPMENT C
AMBODIA

under logo on the records. Other countries too?

![logo-wordwrap](https://cloud.githubusercontent.com/assets/16559612/12401578/5ae20cf8-bdf5-11e5-971b-3a35596f4bc5.JPG)

[2016-01-19 01:46] Huyeng commented on #532
I have checked the homepage of the three countries, width for all items on the page are the same. Could you please check it again please.

The Pikto map has the last line of statistics of three charts are showed up. Sorry for that.

[2016-01-19 01:55] #83 closed

[2016-01-19 02:07] Huyeng opened #552 "Headline and Navigation Menu have not translated in Khmer site"
The navigation menu items should be translated in Khmer language once switch to Khmer site.
![screenshot_22](https://cloud.githubusercontent.com/assets/6613530/12407698/184cc832-be8c-11e5-9145-1b309cf80a81.jpg)

[2016-01-19 06:54] kathi-aeviator commented on #541
@chris-aeviator please but the language picker above the searchbar.

[2016-01-19 06:55] kathi-aeviator commented on #533
Thanks agree with that.

[2016-01-19 06:57] #543 closed

[2016-01-19 07:00] kathi-aeviator commented on #451
@chris-aeviator please review again and close after!

[2016-01-19 07:01] kathi-aeviator commented on #213
@chris-aeviator please comment on this issue if you can!

[2016-01-19 07:03] Huyeng opened #554 "Map Explorer: Identify the field names in info window"
There are a lot of fields name showed on the pop-info. Identify some that are important needs to show.

[2016-01-19 07:03] chris-aeviator commented on #451
Working perfect, thank you !
:+1:

[2016-01-19 07:03] #451 closed

[2016-01-19 07:04] Huyeng commented on #554
Punwath selected fields that need to show on the pop-info.
[Data_Attribute1.txt](https://github.com/OpenDevelopmentMekong/opendev-wptheme/files/95464/Data_Attribute1.txt)

[2016-01-19 07:06] chris-aeviator commented on #422
Tested, clean & **fast**  now !
Thanks :+1:

[2016-01-19 07:06] #422 closed

[2016-01-19 07:07] chris-aeviator commented on #533
Thank you for confirming !
:+1:

[2016-01-19 07:08] kathi-aeviator commented on #470
these are not meant @acorbi we are already talking about this (I commented it in some issues before)

![image](https://cloud.githubusercontent.com/assets/15011163/12412000/709372b0-be83-11e5-8edd-4aa4228f2585.png)

as you can see in this screenshot the "KM" and the "EN" download-buttons are not vertically in one line. but should be. it was in the deployment chris gave you in the right way. Now its

[2016-01-19 07:08] Huyeng opened #555 "Navigation: make the width of menu navigation wide across the site wide"
![screenshot_23](https://cloud.githubusercontent.com/assets/6613530/12412028/23df512c-beb6-11e5-8f2f-bf2013546465.jpg)

[2016-01-19 07:12] chris-aeviator commented on #213
@acorbi @Huyeng got a big p1 list, have to downvote to p2 or @Huyeng are you able to work on this?

[2016-01-19 07:14] kathi-aeviator commented on #391
@chris-aeviator please review.

[2016-01-19 07:22] chris-aeviator commented on #555
this is caused by your commit in https://github.com/OpenDevelopmentMekong/opendev-wptheme/commit/a6086e49f7348e1c3c17d8c77251493a83ed9b10#diff-cf7ccbf757dd3a0c3ff92c85efc4f847R558

when you remove those css lines again it's working fine!

[2016-01-19 07:22] chris-aeviator commented on #555
oh sorry..was already assigned to you :)

[2016-01-19 07:37] chris-aeviator commented on #550
data link **needs** to point to
https://data.opendevelopmentmekong.net/dataset?extras_odm_spatial_range=kh , but please do not set any absoulute links, the links are generated from php code.

Targets in wp should be set using the wordpress page selector on the left and not by custom link.

[2016-01-19 07:42] Huyeng commented on #555
I knew that's why I assigned to myself. I will fix it soon.

[2016-01-19 07:42] chris-aeviator commented on #549
https://pp-data.opendevelopmentmekong.net/dataset?extras_odm_spatial_range=kh

is working for me, seems to be the server issue.

As long as country-specific menus are not set using "custom link" everything will be smothely migrated.

[2016-01-19 07:42] #549 closed

[2016-01-19 07:50] kathi-aeviator opened #557 "MAPEXPLORER: specified colors for categories"
#0EB20B
#FFEE07
#FF8600
#FF003E
#2E0CCC
#00C7A4

[2016-01-19 07:59] Huyeng commented on #555
Fixed.

[2016-01-19 07:59] #555 closed

[2016-01-19 08:06] acorbi commented on #552
@Huyeng the code contains calls to gettext translation function ( _e() ) so it indicates that those translations are not in the .po files integrated with the wordpress theme

[2016-01-19 08:09] acorbi commented on #552
@Huyeng I saw you did https://github.com/OpenDevelopmentMekong/opendev-wptheme/pull/553#event-518673886 , so,.... is this fixed?

[2016-01-19 08:15] acorbi commented on #470
@kathi-aeviator what do you think about having them horizontally aligned on other parts of the system but not here? ( See 2 comments :top: ) isn't that more confusing? Also if you see your original design proposal they are horizontally aligned in it:

![publicpreview](https://cloud.githubusercontent.com/assets/384894/12413130/e3f8db56-be8c-11e5-9271-8b577819bc69.png)

I am confused..... :confused:

[2016-01-19 08:21] kathi-aeviator commented on #470
@acorbi Ok. Now I know why you are confused! In my last comment it should meant "vertically". I 'll change that directly! BUt is that more clear for you now?

[2016-01-19 08:23] kathi-aeviator commented on #470
Anyway in that layout its correct it is correct but not on PP. It looks like my last screenshot!

[2016-01-19 08:36] acorbi commented on #470
@kathi-aeviator I understood your intention perfectly, you want the download buttons to be one below the other, as in:

[EN]
[KM]

But what it is not clear is why you want them that way so much, since the download buttons for resources are everywhere horizontally aligned and even your proposed design indicates that they should be horizontally aligned. Please elaborate on this

[2016-01-19 08:54] #552 closed

[2016-01-19 08:59] kathi-aeviator commented on #470
what i mean is aligning the columns of the dataset's download buttons like so:

[EN] [KH] [TH]
[EN] [KH] [TH]
        [KH] [TH]
[EN] [KH]
[EN]         [TH]
[EN] [KH] [TH]
[EN] [KH] [TH]

[2016-01-19 09:02] kathi-aeviator commented on #470
@acorbi awhat i mean is aligning the columns of the dataset's download buttons like so:

[code]

[2016-01-19 09:08] acorbi commented on #470
ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh got it. Unfortunate, I do not have time to implement that :disappointed:

[2016-01-19 09:08] #478 closed

[2016-01-19 09:12] kathi-aeviator commented on #470
@acorbi  ?? Takes 5 min to set column width! Just play around with your browser ;P

[2016-01-19 09:17] kathi-aeviator commented on #354
@jpeizer1 sorry but we are not hiered to do any optimizations on search! Please see milestone 7 part 1 task list. WE have to finalize prio 1 issues and unfortunately we have no time for any other incomming issues before launch.

[2016-01-19 09:18] gimmemochi commented on #477
MORE INFORMATION should be removed from the homepage or the header menu items. A feature box for the census data, election page, and forest cover pages will be added to the relevant topic/landing pages.

[2016-01-19 09:20] Huyeng opened #561 "Strings on the menu items have not translated all"
![screenshot_21](https://cloud.githubusercontent.com/assets/6613530/12414506/6f82affe-bec8-11e5-8c0d-ca97b4a957d3.jpg)

[2016-01-19 09:23] kathi-aeviator commented on #477
@DBishton can you please coordinate that issue!

[2016-01-19 09:25] DBishton commented on #477
@kathi-aeviator @gimmemochi is correct -- we will lose the country-specific menu for Cambodia

[2016-01-19 09:27] gimmemochi commented on #356
Remove MORE INFORMATION menu. The link to the legacy projects/pages will be added on the relevant pages. e.g. a feature box for 1970-2014 Forest cover study will be added to the "Forest cover reporting" page the new site. We could also add a slider for this legacy project on the home page.

[2016-01-19 09:39] #443 closed

[2016-01-19 09:40] chris-aeviator commented on #477
closed with current implementation

[2016-01-19 09:40] #477 closed

[2016-01-19 09:57] kathi-aeviator commented on #551
@jpeizer1 do you mean that the "c" from "cambodia" is broken - written in 2 lines?

[2016-01-19 09:59] Huyeng commented on #561
Fixed it.

[2016-01-19 09:59] #561 closed

[2016-01-19 09:59] chris-aeviator commented on #356
@OpenDevelopmentMekong/cambodia @OpenDevelopmentMekong/core @DBishton @jpeizer1

**_IMPORTANT NOTICE**_

do not use the `custom link` feature, as all links will be **_non-consistent**_ between staging - PreProd - Prod.

Instead use the list on the left to pick the desired sites from WP content directly.

![bildschirmfoto 2016-01-19 um 16 55 37](https://cloud.githubusercontent.com/assets/11522213/1

[2016-01-19 10:00] kathi-aeviator commented on #551
@jpeizer1 you labeled this issue in "PK1" but I guess you meen first priory, did you? "PK1" = "package 1" and "p1" = first priority! Please note!

[2016-01-19 10:03] kathi-aeviator commented on #544
@gimmemochi do you have any results for this issue?

[2016-01-19 10:07] chris-aeviator opened #564 "country-specific-menus have bad linking"
All the country-specific-menu entries are linked the wrong whay.

Please use wordpress function to set the links.

See my comment "important notice" on
https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/356
for detailed explanation.

[2016-01-19 10:22] chris-aeviator commented on #529
@DBishton

top topic menus disabled by https://github.com/OpenDevelopmentMekong/opendev-wptheme/pull/565

[2016-01-19 10:31] kathi-aeviator commented on #498
@acorbi did you solve that problem?

[2016-01-19 10:38] kathi-aeviator commented on #548
The once on the bottom are fixed the once on the right site not. @chris-aeviator please implement the right site if possible.

[2016-01-19 10:39] kathi-aeviator commented on #526
This prolem is solved in other issue. Closed

[2016-01-19 10:39] #526 closed

[2016-01-19 10:44] kathi-aeviator commented on #511
As requested by terry the full view should be an option to see map without any categories. You can "close" fullcreen option and will have again lots of place to play.

[2016-01-19 11:16] gimmemochi opened #567 "Add disclaimer box container to the ELC projects profiles page"
ELCs profiles set should have a visible disclaimer on the page (for political reasons). This should be above the map. See screenshot. I have the text for the disclaimer. Alternatively, you could copy them from ODC current website (in English and Khmer). Link to find the text. http://www.opendevelopmentcambodia.net/company-profiles/economic-land-concessions/

<img width="992" alt="screen shot 2016-

[2016-01-19 11:20] gimmemochi opened #568 "ELC PROFILES: don't show map_id"
Remove map_id from the table. This is for internal use only.
<img width="940" alt="screen shot 2016-01-19 at 6 16 41 pm" src="https://cloud.githubusercontent.com/assets/6489398/12417251/40e8b89e-bed9-11e5-8bc5-b1f95c556e44.png">

[2016-01-19 11:22] chris-aeviator commented on #548
@prustar can you confirm they are gone for the bottom layert categories? I never saw the horizontal bar on my machine...active layer boxes (right side ) will be fixed

[2016-01-19 11:29] gimmemochi opened #569 "ELC PROFILES: Amendments section is incomplete & doesn't show up properly"
Text is cropped off.
<img width="969" alt="screen shot 2016-01-19 at 6 18 17 pm" src="https://cloud.githubusercontent.com/assets/6489398/12417320/d6c91340-bed9-11e5-8695-e2ce7e73bdb9.png">

The amendments only show 1 event, not all. Thus, this listing is incomplete.
<img width="969" alt="screen shot 2016-01-19 at 6 18 17 pm" src="https://cloud.githubusercontent.com/assets/6489398/12417414/8b187886

[2016-01-19 11:41] prustar opened #570 "MAP EXPLORER: Legend display is random"
I can't show this well in screen shots however the legend display function is random. When you have several layers open some do not display and others will.

For instance when economic land concessions and protected area are selected the protected area legend does not open.
![map-explorer11](https://cloud.githubusercontent.com/assets/14996905/12417660/e12d3012-bea9-11e5-9634-08a0b1009ea7.JPG)

How

[2016-01-19 11:42] jpeizer1 commented on #551
Kathi, honestly...... What did you think I meant? The title is:
Word wrap - Under logo issue on data records

I described the problem as

OPEN DEVELOPMENT C
AMBODIA

And sent a picture.

[2016-01-19 12:13] DBishton opened #571 "404s on OD Mekong Top-Topic items"
For OD Mekong, links should be removed from:

Government
Law and judiciary

Ideally, a message should be displayed: "This page are is construction. Please come back soon."

[2016-01-19 12:20] DBishton commented on #571
Update 404 page to display text above.

[2016-01-19 12:51] DBishton opened #572 ""Urban administration and development" menu items cut off"
Please display full title. If not possible in timeframe, remove "and" from menu item.

[2016-01-19 13:13] kathi-aeviator commented on #548
@jpeizer1 are you able to confirm?

[2016-01-19 13:14] chris-aeviator commented on #570
oh that's a bug, will take care of it!

[2016-01-19 13:36] DBishton opened #573 ""English" language option disappears when "Khmer" option selected"
E.g. https://pp-cambodia.opendevelopmentmekong.net/kh/laws

![pickerdisappears](https://cloud.githubusercontent.com/assets/1206387/12420005/509b969a-beec-11e5-89f7-ff7cf0837852.png)

[2016-01-19 13:51] Huyeng opened #574 "Taxonomic navigation appears properly in their order of hierarchy"

[2016-01-19 13:57] gimmemochi opened #575 "ELC PROFILES: Khmer page is not availble"
How it appears on PP site:
<img width="1134" alt="screen shot 2016-01-19 at 8 52 47 pm" src="https://cloud.githubusercontent.com/assets/6489398/12420436/25ecb912-beef-11e5-9a79-8f3448d77594.png">

How it appears on the staging site:
<img width="1130" alt="screen shot 2016-01-19 at 7 33 19 pm" src="https://cloud.githubusercontent.com/assets/6489398/12420440/2bbc4e3e-beef-11e5-9ab8-a61208adb9fd.png"

[2016-01-19 13:57] #567 closed

[2016-01-19 13:59] jpeizer1 opened #577 "Search Langauge Selection in Myanmar, Laos, Thailand -- In English & German"
Intead fo teh appropriate language for the country

![search-wronglanguage](https://cloud.githubusercontent.com/assets/16559612/12420490/f4c66f2c-be8a-11e5-9025-095a60ec4931.JPG)

[2016-01-19 14:05] acorbi commented on #577
@Huyeng @chris-aeviator @jpeizer1 this is a configuration issue of the qtranslateX on the mentioned sites. Just remove German form the list of supported languages on https://myanmar.opendevelopmentmekong.net/wp-admin

[2016-01-19 14:59] jpeizer1 opened #578 "Company Profiles Menu Item Not aligned on Cambodian Site"
Its not aligned with other items

![menu-item-outofsync](https://cloud.githubusercontent.com/assets/16559612/12422103/3892a178-be93-11e5-99ba-0649a6cfae8d.JPG)

[2016-01-19 15:16] chris-aeviator commented on #329
Let's coordinate on -->

https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/541

[2016-01-19 15:17] #329 closed

[2016-01-19 15:23] chris-aeviator commented on #578
due to missconfiguration...

correct configuration:
![bildschirmfoto 2016-01-19 um 22 21 50](https://cloud.githubusercontent.com/assets/11522213/12422784/2c63a678-befb-11e5-803e-b8d7c04a6c71.png)
(already implemented)

[2016-01-19 15:23] #578 closed

[2016-01-19 15:58] chris-aeviator opened #580 "Check cookie for saving country value"
When moving from cambodia to datahub the sidebar states mekong as the current country site. Ensure the cookie is working for production

[2016-01-19 16:05] #573 closed

[2016-01-19 16:11] jpeizer1 commented on #532
Huy Eng I think its ok for what we need to present tomorrow....

[2016-01-19 16:11] #532 closed

[2016-01-19 16:20] jpeizer1 opened #581 "ELC -- Trim Error - Warning Message"
Shows up in title on all selected records now....

![elc-trim-error](https://cloud.githubusercontent.com/assets/16559612/12424522/8a5446dc-be9e-11e5-9494-85cf482fd592.JPG)

[2016-01-19 16:22] DBishton opened #582 "Search, Download, whitespace on concession page cuts off table"
The "Search" and "Download" controls seem to 'float' in a weird position on the page, obscuring the table of concession results. A white bar the same width as them cuts off the rest of the table.

![elctablecut](https://cloud.githubusercontent.com/assets/1206387/12424608/89784c62-bf03-11e5-8c36-191c69237708.png)

[2016-01-19 16:25] jpeizer1 opened #583 "Remove PLEASE VISIT from top of Cambodia Pages"
Rachel -- the person paying the bills in NY is now actively looking at the site because she is worried somehow about a presentation we have to give in less than 10 hours.. This was one of the first things she noted as problem... More of her comments to come...

![please-visit](https://cloud.githubusercontent.com/assets/16559612/12424699/4bde18aa-be9f-11e5-890c-67eec26aac6a.JPG)
ns to come...

[2016-01-19 16:28] jpeizer1 commented on #403
Search site text on HOME PAGES should read  "search site..."  to conform to "search datasets..." message in CKAN

[2016-01-19 16:39] Huyeng opened #584 "No hyperlink on topic navigation"

[2016-01-19 16:40] jpeizer1 opened #585 "Cambodia -- Menu Items not aligned correctly"
Profiles  and now Laws and Agreements Not aligned to other items

![menu-items-notaligned](https://cloud.githubusercontent.com/assets/16559612/12425125/5d451876-bea1-11e5-882a-07d4f9abbe66.JPG)
![menu-item-outofsync](https://cloud.githubusercontent.com/assets/16559612/12426948/86f9b39e-beaa-11e5-9fd7-c1548d7fc992.JPG)
![menu-alignmentissue](https://cloud.githubusercontent.com/assets/16559612/12426

[2016-01-19 17:00] jpeizer1 opened #586 "Social Network Button Formats on Issue Pages need to be aligned properly"
https://cambodia.opendevelopmentmekong.net/topics/social-development

Social network Buttons overlap menu list and Twitter button should align to BOTTOM With facebook and Google Buttons and not to the TOP COUNTER's of those buttons.

![socialnetwork-buttons](https://cloud.githubusercontent.com/assets/16559612/12425669/e3ddb2ce-bea3-11e5-8e87-33c8c403eff4.JPG)

[2016-01-19 17:02] #356 closed

[2016-01-19 17:06] jpeizer1 commented on #355
After Moving  to production- Search

![search-shit](https://cloud.githubusercontent.com/assets/16559612/12425886/ebe00c28-bea4-11e5-845a-be61fed3ae8f.JPG)

[2016-01-19 17:19] jpeizer1 opened #587 "Cambodian Home Page Width issue and Overlap Error"
Its set up wider than the other pages and as a result on smaller screens and browsers the logo text overlaps the icon text. You can see the problem on a wide screen setup - Cambodia page has to wide a setting versus mekong and other pages set more narrowly that work when the browser is smaller

![ws-cambodia](https://cloud.githubusercontent.com/assets/16559612/12426196/8dd1318c-bea6-11e5-91ac-889c

[2016-01-19 17:25] jpeizer1 commented on #577
BTW I do not have access to WP-Admin in New York to change this

[2016-01-19 17:27] jpeizer1 commented on #585
Will look amateurish for presentation to our donors tomorrow and is clearly noticeable - hence the high priority

[2016-01-19 17:32] jpeizer1 commented on #346
LOGO Still not correctly aligned so that text is LEFT ALIGNED TO THE LOGO  on the top of screen on wide screens. This is an IMPORTANT standards and branding issue as I have indicated numerous times over the last week.

![logo-problem](https://cloud.githubusercontent.com/assets/16559612/12426627/a2ab3f88-bea8-11e5-9809-96669206c575.JPG)

[2016-01-19 17:35] DBishton opened #588 "Country instance navigation does not reflect current site"
Country instance selector in LHS bar does not reflect current site, always displays "Mekong".

![countryselector](https://cloud.githubusercontent.com/assets/1206387/12426721/b5a69b72-bf0d-11e5-9259-ff77b533a638.png)

[2016-01-19 18:08] DBishton opened #589 "Laws page missing from production"
Laws page no longer appears to be present in production for Cambodia. When re-created a "no data available in table" message appears. Page has title "Laws" and is blank with "laws page" template.

https://cambodia.opendevelopmentmekong.net/laws/

[2016-01-19 18:16] jpeizer1 opened #590 "Map Explorer Category Titles STILL exceed their boxes"
In Mekong, Vietnam, Laos, Thailand and Myanmar

This is the only Thing that rachel could see actually function post-deployment and that she liked. So it needs to look right everywhere.

![mapserver-menu-items](https://cloud.githubusercontent.com/assets/16559612/12427675/934489ae-beae-11e5-94cf-17e0f2b36523.JPG)

[2016-01-19 18:42] #577 closed

[2016-01-19 19:03] DBishton commented on #590
I've changed the title of the map layer category for "Environment" for all country instances, which resolves this issue.

[2016-01-19 19:03] #590 closed

[2016-01-19 19:21] gimmemochi opened #593 "ELC PROFILES: Add Khmer text to the profiles page on Khmer site"
![screen shot 2016-01-20 at 2 18 27 am](https://cloud.githubusercontent.com/assets/6489398/12429374/761862ec-bf1c-11e5-9beb-313a4dbf607c.png)

use the following text:

កំណត់សំគាល់៖ សំណុំទិន្នន័យនេះ មានទិន្នន័យអំពីសម្បទានដីសេដ្ឋកិច្ចក្នុងប្រទេសកម្ពុជា ដែលមានកាលបរិច្ឆេទកិច្ចសន្យាចាប់ផ្តើមពីឆ្នាំ១៩៩៦ ដល់ឆ្នាំ២០១២។សំណុំ​ទិន្នន័យ​នេះ​ ត្រូវ​បាន​ធ្វើ​បច្ចុប្បន្នភាព​នៅ​ខែមិថុនា​ឆ្នាំ​ ២០១៥​ ដើម្បី​រួម​បញ

[2016-01-19 19:39] chris-aeviator commented on #588
related to https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/580

[2016-01-19 19:42] chris-aeviator commented on #585
`one-line country1` needed to be added to company profiles
`one-line country2` to be added to more information
as css classes in the wp menu editor

[2016-01-19 19:42] #585 closed

[2016-01-19 19:46] #583 closed

[2016-01-19 20:03] chris-aeviator commented on #582
current implementation works with horizontal scrolling, @acorbi any idea on improving this?

[2016-01-19 20:22] #571 closed

[2016-01-19 20:33] #589 closed

[2016-01-19 20:51] DBishton commented on #587
Hi @Huyeng can you look into this one as a priority? The width for Cambodia should be the same as for OD Mekong and it effects the responsiveness and layout of the theme a lot.

[2016-01-19 21:35] #550 closed

[2016-01-19 21:42] prustar commented on #548
In Mekong the horizontal bar is still present:

![map-explorer14](https://cloud.githubusercontent.com/assets/14996905/12432842/f328b44a-befd-11e5-90f2-d18fb9d78bf0.JPG)

[2016-01-19 22:15] prustar commented on #548
I take it back the horizontal bar is still in ODC but seems to be random depending upon how many layers are up:

![map-explorer15](https://cloud.githubusercontent.com/assets/14996905/12433617/633e9fd4-bf02-11e5-96d0-4a6b2b809230.JPG)
![map-explorer16](https://cloud.githubusercontent.com/assets/14996905/12433642/7c812c46-bf02-11e5-8003-4f665c9a0c22.JPG)

[2016-01-19 22:17] acorbi commented on #593
Fixed via https://github.com/OpenDevelopmentMekong/opendev-wptheme/commit/e12c576c2087f8799e1834b852e77c28db56f801 and by adding the content on the page

[2016-01-19 22:17] #593 closed

[2016-01-19 22:18] acorbi commented on #575
Fixed

[2016-01-19 22:18] #575 closed

[2016-01-19 22:25] prustar opened #599 "Aqueduct legend labels"
chloropleth legend labels aren't displaying correctly. HTML copied from CartoDB displays correctly in cartoDB.

![map-explorer17](https://cloud.githubusercontent.com/assets/14996905/12433891/e24842d4-bf03-11e5-8a73-3a88462259ff.JPG)

[2016-01-19 22:31] acorbi commented on #581
Fixed via ed0ff67f2a2338398e1ab70d37e31578ba1f7038

[2016-01-19 22:31] #581 closed

[2016-01-19 23:18] prustar opened #601 "MAP EXPLORER: Category boxes in ODC kh site not displaying or clickable"
Demographic and Agriculture aren't visible on category bar in the khmer language site. Also not clickable
![map-explorer18](https://cloud.githubusercontent.com/assets/14996905/12435063/4d0845f4-bf0b-11e5-8e64-a8696171da13.JPG)
.

[2016-01-20 00:35] acorbi commented on #588
yeah, duplicated. closing...

[2016-01-20 00:35] #588 closed

[2016-01-20 00:36] acorbi commented on #569
Can we consider this fixed?

[2016-01-20 00:36] acorbi commented on #551
Fixed

[2016-01-20 00:36] #551 closed

[2016-01-20 00:43] jpeizer1 commented on #431
![logo-terry](https://cloud.githubusercontent.com/assets/16559612/12436614/df43618c-bee4-11e5-9418-e61a22c3c488.JPG)

[2016-01-20 00:48] jpeizer1 commented on #431
![sc](https://cloud.githubusercontent.com/assets/16559612/12436696/8fa1e5b2-bee5-11e5-8137-a3e719b9e378.JPG)

[2016-01-20 00:52] jpeizer1 commented on #431
![capture](https://cloud.githubusercontent.com/assets/16559612/12436768/2146e562-bee6-11e5-8e44-a3b3ccd0445b.JPG)

[2016-01-20 01:25] acorbi commented on #544
Fixed via da2910c1b58da43845c95328550429374887ad9a

[2016-01-20 01:25] #544 closed

[2016-01-20 22:27] jpeizer1 opened #603 "ELC - Table Scroll Bar & Other Formatting Issues"
Can we:

1) Place the DISCLAIMER AND NOTE below the data Table so the table is right under the Map That way people can see when a search is occurring.

2) Left Align the top map and SEARCH and DOWNLOAD blocks next to the map so its looks correct for large screened monitors?

3) Move the horizontal scroll bar on the table to the top instead of bottom so its easier for users to see?

![elc-formattin

[2016-01-20 22:29] jpeizer1 opened #604 "ELC -- CSV File -- Download 404 Error"
![elc-csv-dwnld](https://cloud.githubusercontent.com/assets/16559612/12465286/4d13ef7c-bf9b-11e5-9d6a-6fb4eb6e65c9.JPG)

[2016-01-21 08:12] Huyeng commented on #584
Function is updated to fix the problem!

[2016-01-21 08:12] #584 closed

[2016-01-21 11:34] Huyeng commented on #587
Fixed.

[2016-01-21 11:34] #587 closed

[2016-01-22 04:03] Huyeng commented on #574
The custom order functionality has provided to allow to order them properly in their order of hierarchy.

[2016-01-22 04:03] #574 closed

[2016-01-22 04:10] DBishton opened #609 "Taxonomic navigation -- URLs not rendering on OD Mekong"
The URLs to reach the topical pages in OD Mekong's taxonomy navigation widget are currently not rendering.

See https://opendevelopmentmekong.net/topics/infrastructure for an example.

[2016-01-22 04:35] gimmemochi commented on #569
Hi Alex. You fixed the first issue (first screenshot) with the new layout adjustment. The second one has not bee fixed yet. Please see explanation below:

1). Missing "amended texts"
Phea Phimex (map_id = elc_gdc_7) has been amended 34 times. Please see (using map_id filter on CKAN): https://data.opendevelopmentmekong.net/dataset/economic-land-concessions/resource/8cc0c651-8131-404e-bbce-7fe6af728

[2016-01-22 06:43] Huyeng commented on #586
Will change with the icomoon icons instead that recommenced on this issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/445

[2016-01-22 08:04] acorbi commented on #569
@gimmemochi thanks for the detailed explanation. I will try to find some time this weekend and fix it, It should not be a lot of effort.

[2016-01-22 08:29] #586 closed

[2016-01-22 08:33] Huyeng commented on #541
Fixed

[2016-01-22 08:33] #541 closed

[2016-01-22 09:16] Huyeng commented on #609
Fixed Now.

[2016-01-22 09:16] #609 closed

[2016-01-22 09:35] Huyeng commented on #442
Fixed!

[2016-01-22 09:35] #442 closed

[2016-01-22 09:40] Huyeng commented on #436
This issue raising here is already fixed on issue: https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/587
@jpeizer1, could you please confirm if the issue is fixed?

[2016-01-22 09:42] Huyeng commented on #427
This is the homepage of Vietnam looks like:

![screenshot_4](https://cloud.githubusercontent.com/assets/6613530/12507276/475ef616-c127-11e5-9c26-b93c7cb09eaf.jpg)

[2016-01-22 09:45] Huyeng commented on #424
I saw that the Map explorer has changed to map on WP, but not on CKAN. Please change it to be consistent.

[2016-01-22 09:45] #424 closed

[2016-01-22 09:50] DBishton commented on #427
Thanks for clarifying all -- it's looking good.

[2016-01-22 09:50] #427 closed

[2016-01-22 10:07] Huyeng commented on #403
I have already change the texts in search field to "search site..." in lowercase on WP. Please update texts on CKAN to lowercase too.

[2016-01-22 10:07] #403 closed

[2016-01-22 10:12] Huyeng commented on #346
This issue is fixed together with the issue #587.

[2016-01-22 10:12] #346 closed

[2016-01-22 10:21] Huyeng opened #615 "Missing search icon on top search bar"
Should have a search icon in the search field.
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/12508093/7d40e096-c12c-11e5-9549-43597cf6f70a.jpg)

[2016-01-22 10:26] ChandaraKhun commented on #213
News Container/Explorer on Open Development Cambodia don't have a filter. So, when there is no consistency between the number of English and Khmer versions, it does not look good. If I may suggest, a filter is necessary for a presentation of only Khmer version.
![khmer filter](https://cloud.githubusercontent.com/assets/10953792/12508200/3d8e4820-c12d-11e5-8ca9-63d135ab6893.png)

[2016-01-22 10:27] #615 closed

[2016-01-22 10:39] Huyeng commented on #355
Are those screenshot above viewed and tested on the Pre-Production site?
On the pre-production site, there is no images are migrated to.  The blank of thumbnails on the searching results because of images are added to the post/news, but no image files, but on the production site the problem won't exist.  However, I noticed that there some errors with styling issue. I'm working on to fix it now.

[2016-01-24 10:11] acorbi opened #617 "Change qTranslateX language code for Khmer from kh to km"
Khmer's language code is KM https://countrycode.org/cambodia

Currently, qTranslateX for the Khmer language on the cambodia site is configured with KH as country code which makes the localized contents accessible through URLs behind https://cambodia.opendevelopmentmekong.net/kh/

This needs to be fixed in order to maintain consistency with the contents in CKAN. A "hack" was implemented in Laws pag

[2016-01-24 10:15] acorbi opened #618 "Contact form button disturbs scrolling"
Currently, the yellow contact form button is placed over the scroll bar which makes it difficult to scroll vertically on the site. It should be placed on another place. My suggestion would be to integrate it on the left sidebar at the bottom of it.

![screenshot from 2016-01-24 11-12-55](https://cloud.githubusercontent.com/assets/384894/12535692/b130ea12-c28b-11e5-9a35-102377b10cf3.png)

[2016-01-24 11:16] #569 closed

[2016-01-24 12:07] #604 closed

[2016-01-24 12:24] #568 closed

[2016-01-24 12:30] acorbi commented on #498
Fixed via e61311790c7488b7e436a2d253f1cae9b5782297

[2016-01-24 12:30] #498 closed

[2016-01-24 16:47] jpeizer1 opened #622 "News Formating Issue -- Article Opverlap"
On Sunday I noticed the last set of articles on the Mekong main menu had overlapping text issues.
(see below)

![news-formatting-issue](https://cloud.githubusercontent.com/assets/16559612/12537567/28c2b71e-c290-11e5-850b-6f35865dd738.JPG)

[2016-01-24 16:55] jpeizer1 opened #623 "ELC - Download buttons - Duplicates Confusing?"
Am just a bit concerned the multiple buttons with the same labels are confusing and may look like dups... I thought it might be an error until I moused over to see the difference between 4 duplicate CSV buttons. I wonder if it would be better to reduce the buttons by a little and put them in a vertical list left aligned to the download bar they are under -- and then put a short single line of text

[2016-01-26 04:06] jpeizer1 opened #624 "Law-Policies-Agreements Page Large Screen Issue"
Center frame left alignment issues

![laws-policy-agreements](https://cloud.githubusercontent.com/assets/16559612/12572296/4128f7e0-c3b8-11e5-8357-8aa335e87a0d.JPG)

[2016-01-26 07:35] acorbi opened #625 "Cleanup wordpress instance for reducing loading times"
The current wordpress multisite instance is very heavy. Many plugins loaded, lots of contents, heavy javascripts for mapping and new container make the loading times of the site very long.

TODO:
- [ ] Remove unused plugins
- [ ] Cleanup old and unused draft posts
- [ ] Study use of caching mechanisms for wordpress content.
- [ ] Cleanup unused configuration variables https://github.com/OpenDevelo

[2016-01-26 08:04] #355 closed

[2016-01-26 08:31] #335 closed

[2016-01-26 08:32] Huyeng commented on #326
Fixed in issue: #355

[2016-01-26 08:32] #326 closed

[2016-01-26 08:37] Huyeng commented on #325
I would like to suggest to use the wordpress function "wp_nav_menu(array('theme_location' => 'header_menu'));" instead of the manually coding for the Nav menu. Using the wp function will be easier to manage for non-tech users like editor to update or change the order.

[2016-01-26 08:40] Huyeng commented on #174
It is old issue, and also fixed.

[2016-01-26 08:40] #174 closed

[2016-01-27 04:46] #292 closed

[2016-01-27 04:47] #436 closed

[2016-01-28 04:17] Huyeng opened #627 "RELATED NEWS: the related news is not showed up on the topic: Decentralization and deconcentration"
The missing of the related news box in the topic page because the news is quesried by the category slug, but due to the slug and name of the category are different, news won't be displayed.
eg Category name: Decentralization and deconcentration, but the slug is: de-centralization-and-de-concentration, actually the slug should be decentralization-and-deconcentration.

Suggestion: query the news by

[2016-01-28 05:11] gimmemochi opened #629 ""References" to appear in Khmer on Khmer pages"
<img width="741" alt="screen shot 2016-01-28 at 12 08 02 pm" src="https://cloud.githubusercontent.com/assets/6489398/12635646/224c51a8-c5b8-11e5-8e89-0b7024de1a3c.png">
https://cambodia.opendevelopmentmekong.net/kh/topics/land/

[2016-01-28 05:13] #627 closed

[2016-01-28 05:15] Huyeng opened #630 "Some of taxonomy items are missed in Taxonomy Navigation"
Some of the taxonomy are missed in the topic navigation list of topic pages such the sub category of the Government, pleas check.

[2016-01-28 06:23] gimmemochi opened #631 "PROFILES: change "ELC" to "Economic Land Concessions""
<img width="907" alt="screen shot 2016-01-28 at 12 13 14 pm" src="https://cloud.githubusercontent.com/assets/6489398/12636567/83f53976-c5c0-11e5-95c2-ce9d58fb468c.png">

[2016-01-28 06:26] gimmemochi opened #632 "PROFILES: translate the label to Khmer on the Khmer page"
Editor should give you the word.

<img width="1191" alt="screen shot 2016-01-28 at 1 04 46 pm" src="https://cloud.githubusercontent.com/assets/6489398/12636788/8ec969ec-c5c2-11e5-9499-49cb093c7e61.png">

[2016-01-28 11:31] Huyeng commented on #630
I would like to enhance the topic navigation to be able to expend and collapse them like this:
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/12643172/1ae860d4-c5ed-11e5-9c4b-ee81113768a3.jpg)
If everyone thought that is good, then I will update the code and implement it which fixing the issue above.
@DBishton and @gimmemochi , what do you think?

[2016-01-28 12:21] jpeizer1 commented on #630
This looks like a pretty good idea to me...

[2016-01-28 18:43] #622 closed

[2016-01-29 07:49] acorbi opened #635 "PROFILES: Map not showing filtered results"

[2016-01-29 07:58] #635 closed

[2016-01-29 08:54] Huyeng commented on #630
Enhanced now.  Please check.

[2016-01-29 08:54] #630 closed

[2016-01-29 09:33] Huyeng opened #641 "News Explorer: the images on the news container has the demontion issue"
The size of images were changed. Please fix them.
![news-photo](https://cloud.githubusercontent.com/assets/6613530/12671997/e2829908-c6a5-11e5-9b4b-de91a2569eec.JPG)

[2016-01-29 10:22] #641 closed

[2016-01-30 12:04] chris-aeviator commented on #325
We could make use of wp menu approach to provide ckan the whole menu and avoid the top topic Json approach and have WP menu control back. Anyway you can easily modify coded Json menu by editing the top topics Json file in ODM taxonomy.

[2016-01-30 14:37] chris-aeviator commented on #572
fixed with https://github.com/OpenDevelopmentMekong/opendev-wptheme/commit/4773b44f4ab822266bcb9d8fe83c55e0df8df3e1 and implemented on http://pp.opendevelopmentmekong.net

[2016-01-31 00:37] jpeizer1 commented on #572
Chris, on January 20th after two weeks of asking for the logo to be fixed and being told by Aeviator "We'll get to it, We'll get to it"  -- We went into a presentation with a roomful of donors with the logo STILL UNFIXED --- and the text overlapping ICONS on the next line -DURING THE PRESENTATION- making our work look amateurish and the local Cambodian presenter totally losing face in front of a r

[2016-01-31 02:04] chris-aeviator commented on #572
JP I cannot see what you are referring to. This issue is about one multi line menu item ( urban administration and development ) please check this on PP Wordpress and close again or refer to the detail that's missing. This has clearly nothing to do with the logo. We are coordinating with Dan continuously, please contact him for setting priorities.

[2016-01-31 12:12] jpeizer1 commented on #572
@chris-aeviator  We need consistency related to Github Issue closures in Production versus PP- and I have emailed @DBishton to coordinate. Post-Deployment Huy Eng and Alex are closing issues after they have been moved into production. Apparently Aeviator is closing issues like this one that are still only resolved in PP-

So we need all the developers doing the same thing to determine what is legi

[2016-02-01 03:17] Huyeng opened #647 "PROFILE: ELC single page in Khmer has format errors"
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/12707972/ef04e266-c8cc-11e5-8493-eaee7097e9e7.jpg)

The format of Khmer page should look the same English as below:
![screenshot_8](https://cloud.githubusercontent.com/assets/6613530/12707973/ef061c1c-c8cc-11e5-9d4a-d40b67844a3a.jpg)

[2016-02-01 03:58] #647 closed

[2016-02-01 07:55] Huyeng commented on #629
Fixed!
![screenshot_9](https://cloud.githubusercontent.com/assets/6613530/12711598/cbfe22ec-c8f3-11e5-8a7f-1c67b3f59ebf.jpg)

[2016-02-01 07:55] #629 closed

[2016-02-01 08:10] #632 closed

[2016-02-01 08:11] #631 closed

[2016-02-01 08:13] #624 closed

[2016-02-01 09:37] Huyeng commented on #572
The texts "Urban administration and development" on the menu items cut off was fixed, but the code was not pulled to the Production. I pulled it now, so it fixed.

![screenshot_10](https://cloud.githubusercontent.com/assets/6613530/12713596/24a89856-c902-11e5-9db6-fa95c1514a9f.jpg)

[2016-02-01 09:37] #572 closed

[2016-02-01 11:05] chris-aeviator commented on #580
Fixed, please Test with your Browsers !

[2016-02-01 16:34] jpeizer1 commented on #603
@Huyeng
In addition to above I just noted that the zoom and Social network BUTTONS on the map have just gone blank  in production version.

![buttons-missing](https://cloud.githubusercontent.com/assets/16559612/12723487/ac453646-c8d7-11e5-9839-91e6b8de550d.JPG)

[2016-02-01 17:05] jpeizer1 opened #653 "New Map Exploror Format Bugs Just Appeared - Missing Download, Info Buttons, Key items appearing off background"
- Missing Download Button on Key
- Missing Information button on key
- Multiple Key item "fall off" background

![map-explores-error](https://cloud.githubusercontent.com/assets/16559612/12724429/ef15d936-c8db-11e5-9b43-02e1c65c1458.JPG)

[2016-02-01 17:26] jpeizer1 opened #654 "Internet Explorer Browser - Major Format Issue -- Two Vertical lines on each page"
Every page on MS Windows Explorer has these two vertical lines running down the center. Its been that way for some weeks

![2lineswindowsexplore](https://cloud.githubusercontent.com/assets/16559612/12725070/e4777b80-c8de-11e5-90c8-862e6acffd54.JPG)

[2016-02-02 02:58] #564 closed

[2016-02-02 03:33] chris-aeviator commented on #654
Interesting Issue, thanks for reporting!

[2016-02-02 03:34] chris-aeviator commented on #654
Does it also appear when you are not selecting browser content? ( I can see in your screenshot the hightlighted text on menu and slideshow)

[2016-02-02 03:35] chris-aeviator commented on #654
Removing skull priority as this issue
- just affects internet explorer
- does not affect site usability

[2016-02-02 03:51] chris-aeviator commented on #653
Fixed this!

![bildschirmfoto 2016-02-02 um 10 50 22](https://cloud.githubusercontent.com/assets/11522213/12739287/ce8156fe-c99a-11e5-8b65-b191ab7b30f7.png)

[2016-02-02 03:51] #653 closed

[2016-02-02 04:04] chris-aeviator commented on #582
This has been hotfixed and will be implemented according to the design after we return to Europe !

[2016-02-02 04:04] #582 closed

[2016-02-02 05:09] Huyeng opened #655 "Social Network: Facebook share link doesn't work"
![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/12740440/bde7352e-c9a5-11e5-8818-65024f6ce426.jpg)

[2016-02-02 05:15] #655 closed

[2016-02-02 06:13] jpeizer1 commented on #654
@chris-aeviator  This happens when you bring up https://www.opendevelopmentmekong.net/ and any other page on the site in Windows Explorer - you don't have to be doing anything -- and since Rachel brought up this issue and Windows Explorer is used by 43% of the all Internet users we feel it is a VERY serious issue and DOES affect site usability in our opinion.  So The SKULL priority will remain unt

[2016-02-02 07:17] chris-aeviator commented on #654
From a developer perspective there are far more serious problems that affect usability (this issue is more considered "cosmetic"). We have around 5% users visiting the site with IE.

I propose that we should talk together with Dan (he's off till Mon next week) as we need a better common understanding of priorisation, usage of github (currently overused as a discussion platform) and general communi

[2016-02-02 10:13] prustar commented on #623
I noticed this as well and wonder if it's not best to simply provide a link to CKAN where the files are already listed and described, this way they can also read the metadata at the same time.
https://data.opendevelopmentmekong.net/dataset/economic-land-concessions?type=dataset

[2016-02-02 10:26] prustar commented on #537
I just checked them all again and I they are all fixed now.

[2016-02-02 10:29] jpeizer1 commented on #654
@chris-aeviator  Your Email  is coming back OVER QUOTA (below) making any discussion with you outside of github rather difficult - Rachel at EWMI will need to contact you. I've advised her a conversation is in order regarding EWMI priorities and what is expected of Aeviator at this point and an email was sent to you both which bounced in your case.

What you fail to appreciate and your 5% statisti

[2016-02-02 11:01] Huyeng commented on #603
1) Place the DISCLAIMER AND NOTE: done
2) Left Align the top map and SEARCH and DOWNLOAD blocks next to the map: done
3) Mored the horizontal scroll bar on the table to the top, the header is fixed when the page is scrolled up.
I don't have the problem with those icons. what browser did you view?
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/12747504/ed970ebc-c9d6-11e5-81a7-5a

[2016-02-02 11:06] jpeizer1 commented on #603
@Huyeng This button issue seems to have been fixed in the last 24 hours and I wonder if it was fixed when Aeviator updated the button issues in Map Explorer. I was in Firefox and it works now for me as well

[2016-02-03 02:07] #603 closed

[2016-02-03 09:06] Huyeng commented on #509
The highlighted will disable temporary, and it will enable when I find the way to fix it.

[2016-02-03 09:06] #509 closed

[2016-02-03 09:58] #601 closed

[2016-02-03 10:10] prustar commented on #373
@ Chris - this is what I see in the layer category:
![image](https://cloud.githubusercontent.com/assets/14996905/12779143/bc699194-ca66-11e5-92ca-dea6d293a06d.png)

Where do I assign the labels for colour like you suggested?

[2016-02-03 11:03] prustar commented on #367
Sorry for late response to this issue, I agree with JP and as long as the proposed functionality is realised then I don't see immediate issue with it - until testing.

[2016-02-03 12:30] chris-aeviator commented on #373
@prustar
Currently this issue is still open and presented functionality needs to be implemented.
The color's are currently in the code and selected by the slug name (you can see the value in your screenshot). Important to notice if you change the slug of an already defined item (e.g. Environment-and-nat...) the color value cannot anymore be applied to it and will be shown in the default value:red

[2016-02-04 02:39] Huyeng opened #662 "Topic Navigation: Expend sub items if landing is viewed"
For example, if the user on the Economy and commerce page, then it sub items navigation should expend. See the sreenshot.
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/12804162/1389d670-cb23-11e5-9f34-729f3285f03f.jpg)

[2016-02-04 02:47] #662 closed

[2016-02-04 03:32] Huyeng commented on #618
Where do you think the button should place on the site? Below are the screenshot that you can choose or share your comment if you have.
![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/12804970/7821f426-cb2a-11e5-974a-b0d8930be8dd.jpg)
![screenshot_11](https://cloud.githubusercontent.com/assets/6613530/12804976/7cdded80-cb2a-11e5-8840-84f962890928.jpg)
![screenshot_10](https://c

[2016-02-04 03:33] Huyeng commented on #654
I found that the issue of the two vertical lines caused by the the updating of the "Contact Form" to the right hand side. As the core of the problem is found, then I could help to fix this issue. However, I would like to fix it with this issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/618 that @Alex logged. Please share your comment on the issue #618 where you think that Cont

[2016-02-04 04:04] #516 closed

[2016-02-04 04:53] gimmemochi opened #665 "MENU ICONS: Change "LAND" to "ENVIRONMENT AND LAND""
So we don't look like we focusing on land a whole lot.

![screen shot 2016-02-04 at 11 50 44 am](https://cloud.githubusercontent.com/assets/6489398/12806131/d562d352-cb35-11e5-9110-e084836f5362.png)

[2016-02-04 04:56] gimmemochi opened #666 "MENU ICONS: Add "Science and technology" to "ECONOMY""
Add "Science and technology to the drop-down list, below "Labor"
![screen shot 2016-02-04 at 11 51 06 am](https://cloud.githubusercontent.com/assets/6489398/12806174/26850f2a-cb36-11e5-92d3-315673b4f2ed.png)

[2016-02-04 05:01] gimmemochi opened #667 "CKAN MENU: Make consistent with WP Homepage menu"
The "Economic Land Concessions" should be a sub-menu of "PROFILES"
![screen shot 2016-02-04 at 11 58 58 am](https://cloud.githubusercontent.com/assets/6489398/12806251/dcd3e54e-cb36-11e5-95af-88e56177d8b9.png)

[2016-02-04 05:06] gimmemochi opened #668 "CKAN MENU: Make labels appear in Khmer on Khmer page"
![screen shot 2016-02-04 at 12 04 22 pm](https://cloud.githubusercontent.com/assets/6489398/12806334/ae1f0bec-cb37-11e5-9934-6b4267de7798.png)

[2016-02-04 11:01] Huyeng commented on #500
The breadcrumb is enhanced as the screenshot below:
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/12813230/41b4d702-cb69-11e5-9e97-9a3d63de0445.jpg)

[2016-02-04 14:50] jpeizer1 opened #670 "Big Screen Issue: Laws policy and agreements"
On large screen the formatting is incorrect - the middle frame needs to be aligned left and the Right most SEARCH and COMPENDIUM boxes fall to the bottom because of the alignment issue

![law-policy-agree](https://cloud.githubusercontent.com/assets/16559612/12818350/76c55470-cb24-11e5-9243-0efb3a203a41.JPG)

![law-policy-agree2](https://cloud.githubusercontent.com/assets/16559612/12818360/8eca9e5e

[2016-02-04 15:46] jpeizer1 commented on #618
@Huyeng I think the Contact form is a large nuisance where it is now ;-) - It seesm to get in teh way of everything - I think it would be much better where you actually suggested it #3 on the left sidebar at the bottom.

[2016-02-04 17:16] jpeizer1 opened #671 "MAP Explorer -- Description Indentation issues"
In both the category and key menus the indenting of first line of the description is far to the right. Note that in one case (2nd to top on INFRASTRUCTURE)  the indented description is intermingled with the title as well.

![severeindent](https://cloud.githubusercontent.com/assets/16559612/12821361/152add18-cb31-11e5-9a0a-0a6a6efa7830.JPG)

[2016-02-05 02:08] #670 closed

[2016-02-05 02:37] Huyeng commented on #654
Fixed!

[2016-02-05 02:37] #654 closed

[2016-02-05 02:38] Huyeng commented on #618
Moved to the left bottom.

[2016-02-05 02:42] Huyeng commented on #500
Can I close this issue?

[2016-02-05 03:56] jpeizer1 commented on #618
@Huyeng Can you please check the CONTACT FORM button -- when you mouseover it, the button "moves" a few pixels (alignment is off). Also Can we move the bottom up "just a little" so its not so close to Windows START button on browser -- maybe just making contact button a little thinner would work.

Otherwise I like it very much over there! And we're all thankful the two lines are gone.

[2016-02-05 04:01] #665 closed

[2016-02-05 04:01] #666 closed

[2016-02-05 07:35] Huyeng commented on #618
That's the styling effect on mouseover. If you don't like, i can disable it.

[2016-02-05 15:58] jpeizer1 commented on #618
@Huyeng  Could you look carefully at this? -- what is happening is that the orange background is actually moving down about two pixels on mouseover making the box look bigger and breaking the thin white background around the orange background - it looks like the alignment is different between mouseover and nonmouseover rather than a standard mouseover effect. If it really is a mouseover effect cou

[2016-02-08 05:55] chris-aeviator commented on #500
@Huyeng

looks perfect, thanks!

[2016-02-08 05:55] #500 closed

[2016-02-09 15:51] prustar commented on #671
JP, in the initial spec that Aeviator gave us there was supposed to be a long and short description. I was never able to ascertain where these descriptions should have been kept/logged in the WP end therefore the descriptions are duplicated in both the catalog and active window which I believe is an over kill. My recommendation is to remove the description from the catalog bars entirely, maintaini

[2016-02-10 03:26] Huyeng commented on #618
It is the mouseover effect. Anyways, it was fixed as your suggestion.

[2016-02-10 03:26] #618 closed

[2016-02-10 03:27] #391 closed

[2016-02-10 07:39] Huyeng commented on #523
The scrollbar of laws section are removed. Page will fully view.

[2016-02-10 07:39] #523 closed

[2016-02-10 07:41] Huyeng commented on #554
The selected fields that need to show on the pop-info Both Khmer and English.
[Data_Attribute_ KH_EN.txt](https://github.com/OpenDevelopmentMekong/opendev-wptheme/files/124338/Data_Attribute_.KH_EN.txt)

[2016-02-11 06:23] #537 closed

[2016-02-11 07:56] Huyeng commented on #441
I have updated the plugin to enable the rich text, so you can format the content as you wish.  Moreover, if you would like add the border like the screenshot, you can do that by adding the block-quote attribute in the topic page.
![screenshot_13](https://cloud.githubusercontent.com/assets/6613530/12971640/f082670c-d0cf-11e5-9a26-d15b00eb6403.jpg)

![screenshot_8](https://cloud.githubusercontent.co

[2016-02-11 09:17] Huyeng opened #680 "News Explorer: On Khmer homepage should show only the Khmer news"
Currently, the news on the homepage of khmer site show English news instead if the it has not translated.
Suggestion from editor: show only Khmer news, hide any English news that has not translated.
![screenshot_14](https://cloud.githubusercontent.com/assets/6613530/12972842/fa220168-d0da-11e5-8aed-2491fe7433fb.jpg)

[2016-02-11 10:16] #680 closed

[2016-02-11 10:18] #441 closed

[2016-02-12 04:18] Huyeng opened #682 "LAWS PAGES: the menu items on the widget are not translated"
The terms below should translate in Khmer:
![screenshot_15](https://cloud.githubusercontent.com/assets/6613530/12998376/c3b46c2e-d175-11e5-92d3-5481e07a34e4.jpg)

[2016-02-12 09:42] #682 closed

[2016-02-12 14:14] prustar commented on #511
There should be options to expand the map to full view while still being able to utilise the menu functions. This will enable users to use the ME during presentations where loading layers allows for narration.

[2016-02-15 02:42] Huyeng opened #684 "Cambodia Color Shema"
I just notice that the Basic colors (bright green and dark green) using on the Cambodia site are not the same color code that using for logo and sticker design.
Dark green 	#0A3542
Bright green	#97D320

[2016-02-15 04:43] #684 closed

[2016-02-15 09:10] Huyeng commented on #470
Updated! see this.
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/13044044/89a7b85c-d3fe-11e5-9f7d-bf6eae777b29.jpg)

[2016-02-15 09:10] #470 closed

[2016-02-15 10:16] chris-aeviator commented on #570
Fixed & deployed to production!

[2016-02-15 10:16] #570 closed

[2016-02-15 10:25] #540 closed

[2016-02-15 10:26] chris-aeviator commented on #540
visible on production in a minute..

[2016-02-15 10:58] chris-aeviator commented on #557
@kathi-aeviator

could you please provide feedback on the implementation present at
https://pp-cambodia.opendevelopmentmekong.net/map-explorer
![bildschirmfoto 2016-02-15 um 11 57 50](https://cloud.githubusercontent.com/assets/11522213/13046835/64d622e8-d3db-11e5-9bd9-3575629d8ad2.png)

[2016-02-15 11:22] chris-aeviator commented on #557
changing the rest of the color's according to the provided color scheme now, see https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/539

[2016-02-16 09:10] Huyeng opened #692 "Map Explorer: Move the map category from bottom to left side"

[2016-02-16 11:49] chris-aeviator commented on #692
The agreed design features the categories to be on the bottom, if there are enhancements you whish to see please make your suggestions here.

[2016-02-16 15:32] jpeizer1 commented on #692
@prustar @chris-aeviator The categories are proving inflexible at the bottom. More than the few categories we can place there are needed, The menu's popping from the bottom are proving to be counterintuitive so the suggestion was to have the menu categories on the  right side in a vertical menu where where more can exist. The legend will open by default popping up at the bottom right. This is a mo

[2016-02-17 06:50] Huyeng opened #693 "LAWS PAGES: The sidebar navigatian's header is not consistent with topic header"
The sidebar header on law page is bigger that the topic page. Please make its font smaller.
Law page:
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/13101985/5b16ff36-d57d-11e5-8a8e-003ad34e6409.jpg)

Topic page:
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/13101986/5b20a36a-d57d-11e5-9319-eca0dacb6eff.jpg)

[2016-02-17 07:38] #693 closed

[2016-02-17 12:16] chris-aeviator commented on #671
@prustar
I aggree with your suggestion to not show duplicate info, as long as the layer title is meaningful.

@kathi-aeviator do you agree with the solution to only show the description texts in the active layer section?

[2016-02-18 17:08] chris-aeviator commented on #529
#Status

## Mekong
- [x] News Explorer
- [x] Map Explorer

## Cambodia
- [x] News Explorer
- [x] Map Explorer
- [x] Laws Page
- [x] Profiles Page

## Vietnam
- [ ] News Explorer
- [ ] Map Explorer
- [x] topic page links disabled

## Laos
- [ ] News Explorer
- [ ] Map Explorer
- [x] topic page links disabled

## Thailand
- [ ] News Explorer
- [ ] Map Explorer
- [x] topic page links disabled

## Mya

[2016-02-18 17:09] chris-aeviator commented on #529
@DBishton

Can we coordinate with the other country teams (?) on filling their subsites to enable the featured list content ?

[2016-02-18 17:14] chris-aeviator commented on #548
@prustar @jpeizer1

can you confirm the issue still exist for you:
- horizontal scrolling in active layer box (right side) still present – y/n?
- vertical scrollbar in active layer box (right side) still overlapping the icons – y/n?
- horizontal scrollbar in layer catalogue (bottom) still present – y/n?
- vertical scrollbar in layer catalogue (bottom) still overlapping icons – y/n?

I tested in al

[2016-02-19 10:12] chris-aeviator opened #695 "ELC Page // Download Icons breaking container"
On Cambodia's ELC page the download buttons on the right are breaking the container.

The container should adapt it's size to the containing Elements.

![bildschirmfoto 2016-02-19 um 11 08 39](https://cloud.githubusercontent.com/assets/11522213/13172661/833ffa80-d6f9-11e5-9966-9db2da9683e3.png)

[2016-02-22 10:28] kathi-aeviator commented on #671
@chris-aeviator Yes I agree with prustar. The informations should be in the active layer.

[2016-02-22 11:31] kathi-aeviator commented on #692
@jpeizer1 just to make clear what is your solution to this issue:
1. exchanging the active layer section and the list of layers to choose (map category)
2. showing the contend of the active layers by clicking on the HL of the layer
3. fixing the active area on the left side + scroll bar

Your 3 rd note is not clear enough for me. It would be great if you could explain that point a bit more for not

[2016-02-22 11:34] kathi-aeviator commented on #511
@chris-aeviator can you please make a proposal on that issue.

[2016-02-22 11:45] kathi-aeviator commented on #623
I agree with prustars proposal. One button for each data opportunity.

@chris-aeviator can you please implement that?

[2016-02-22 14:31] prustar opened #696 "Resource link symbols have no function"
The Related Resource link on each page list the links to CKAN resources however also display an icon for file types. These are large and bulk spliting up the list and have not function currently. Suggest to remove them as if they did have function they would all direct the user to the same dataset page in CKAN where these file types are all listed and it would improve the visual list.

![resourcel

[2016-02-22 14:42] prustar opened #697 "Related Resources link to Map explorer missing"
This might be a simple fix but in the 'related resource' link box for issues that have maps affiliated with them we should provide a link to that map in the map explorer as well as the data - and potentially visa versa.

The screen grab is for the hydropower page.

![related resource link](https://cloud.githubusercontent.com/assets/14996905/13221258/cdf8b192-d97a-11e5-9d6e-f6e4db474b78.JPG)

[2016-02-22 14:59] prustar commented on #697
On this particular page when you click on the link for More.... it takes to you CKAN and displays a search result for hydropower dams and gives no results? Shouldn't it at least bring up the list that's listed in the Related Resource box to start plus additional if there are any.

![hydrosearch](https://cloud.githubusercontent.com/assets/14996905/13221757/320f428e-d97d-11e5-859b-69ea00dc44c1.JPG)

[2016-02-22 15:07] kathi-aeviator commented on #431
@jpeizer1 please write down specific information as you can see in dans comments above (screensize, browser,...)

[2016-02-23 09:19] chris-aeviator commented on #511
The proposed solution is making the layer catalogue available at the bottom in Full screen view

[2016-02-23 09:26] chris-aeviator commented on #623
I will check why the download buttons appear multiple times, this shouldn't be happening.

[2016-02-24 09:46] kathi-aeviator commented on #557
@chris-aeviator: yellow on white is not readable enough! Please implement "#FFD825" for "environment" for bg as well as for the layer HLs!

[2016-02-24 09:53] kathi-aeviator commented on #434
@chris-aeviator please implement.

[2016-02-24 10:12] chris-aeviator commented on #394
Depending on wich browser you use the logo's are still rendered different.

I suggest using a svg based solution. This makes sure that there are no more discrepancies.

@kathi-aeviator can you please create svg logos for all 6 country sites + the datahub.
 The color values can be directly inspected on the "OpenDevelopment" HL with your favorite browser-dev-tool :smile:

[2016-02-24 10:20] chris-aeviator commented on #539
please follow on on #557
fixes will be included with fix-557

[2016-02-24 11:17] #557 closed

[2016-02-24 12:50] #539 closed

[2016-02-24 12:53] kathi-aeviator commented on #696
I agree with prustars solution to disable them because not having functionality! --> add to p1

[2016-02-26 02:34] Huyeng opened #700 "News source icon won't display on the news container"
Currently, there is no news sources show up next to the news title, unless view detail. Suggestion, the news sources should exist like the old site.

[2016-02-26 03:35] #700 closed

[2016-02-26 09:42] chris-aeviator commented on #325
@kathi-aeviator

can you please propose a solution to what happens to the menu when screen size is reduced?

[2016-02-26 15:35] #695 closed

[2016-02-26 16:54] chris-aeviator commented on #623
@jpeizer1 @kathi-aeviator @prustar

The current implementation goes beyond the design. When we were planing and feedbacking this section there was supposed one dataset (containing all ELC's in different formats). Current implementation has multiple datasets and explains why we have multiple CSV, geoJSON, ZIP, ... files appearing. (see screenshot)

![elc_resources](https://cloud.githubusercontent.c

[2016-02-26 17:13] #696 closed

[2016-02-26 17:39] chris-aeviator commented on #380
closing this as the current implementation is working like described (cambodian law page shows only cambodian laws) .

At the moment we don't have a mekong law's section active, this ability to filter by country (sort by country is already implemented) needs to be included into the next release!

[2016-02-26 17:39] #380 closed

[2016-02-29 07:57] prustar commented on #692
@chris-aeviator @kathi-aeviator

After some user feedback from various people the Map Explorer has been heavily critiqued as being less than optimally functional. I have outlined a series of changes and new fixes that will take into consideration these suggestions and more to improve the usability of the Map Explorer.

Please see the spec outlined here and as discussed with @Huyeng who will be und

[2016-02-29 14:40] prustar commented on #475
@acorbi

Could you define styled? I thought these popups come from CartoDB?

[2016-02-29 14:47] chris-aeviator commented on #548
_removing label p1 as map explorer development is on freeze for V2 development_

[2016-02-29 14:47] chris-aeviator commented on #671
_removing label p1 as map explorer development is on freeze for V2 development_

[2016-02-29 14:50] chris-aeviator commented on #484
_removing label p2 as map explorer development is on freeze for V2 development_

[2016-02-29 14:50] chris-aeviator commented on #483
_removing label p2 as map explorer development is on freeze for V2 development_

[2016-02-29 16:34] chris-aeviator commented on #344
fixed all header specific bug's on window-width-reduction, issues described in this topic have mainly been fixed with #346

_before fix_
![bildschirmfoto 2016-02-29 um 17 25 42](https://cloud.githubusercontent.com/assets/11522213/13400968/85610e6c-df0a-11e5-85f0-aad2cebe37da.png)

_after fix_
![bildschirmfoto 2016-02-29 um 17 26 09](https://cloud.githubusercontent.com/assets/11522213/13400973/8a49

[2016-02-29 16:34] #344 closed

[2016-02-29 17:11] prustar commented on #599
Bubble legend from CartoDB also doesn't display the labels in the Map Explorer correctly. There is a border and the figures aren't displayed on either side of the bubbles.

![bubble map labels](https://cloud.githubusercontent.com/assets/14996905/13402294/eab5974c-df0f-11e5-968e-bda853b87ce0.JPG)
![bubble map labels-cartodb](https://cloud.githubusercontent.com/assets/14996905/13402301/f0b7a9f0-df0f

[2016-02-29 17:13] #531 closed

[2016-02-29 17:13] #431 closed

[2016-02-29 17:15] chris-aeviator commented on #333
@kathi-aeviator @DBishton

is this still on the table/wanted?

[2016-02-29 17:16] chris-aeviator commented on #79
@DBishton @kathi-aeviator

is this still on the table/wanted ?

[2016-02-29 17:22] chris-aeviator commented on #97
this seems fixed, my khmer is up to zero knowledge, but I  tried to start a search with one of the top topic items (see screenshot)

![bildschirmfoto 2016-02-29 um 18 20 54](https://cloud.githubusercontent.com/assets/11522213/13402600/56f95adc-df11-11e5-8f9a-85a54a04b85e.png)

[2016-02-29 17:22] #97 closed

[2016-02-29 22:28] acorbi commented on #475
@prustar According to the initial design proposed by AEviator (https://cloud.aeviator.cc/public.php?service=files&t=1f6b24dd8bdc99c36a6d2b14400d7e21&path=%2FPK2-ODM_CP) the pop-up window would have a particular layout and style.

This can be achieved programatically (changing the code) or from within cartodb: http://blog.cartodb.com/full-editing-of-infowindow-html/

[2016-03-07 10:24] Huyeng opened #717 "Add Baselayer into the Map explorer"
Addition of base layer options directly selectable on the Map Explorer to include: [tbc]
o    Primary clean shade relief map – upon loading
o    Satellite image
o    Landsat
o    Topo Map
o    EnviSat

[2016-03-08 08:27] prustar commented on #333
@chris-aeviator there has been discussions over emails, I'm not sure what the final decision is on this. There have been two different specs offered by @Huyeng and @jpeizer1 see below. I suggested having a 'tour' function to explain the site to users but not sure if this is within the remaining scope of your work.

![update-odm-homepage 1](https://cloud.githubusercontent.com/assets/14996905/135960

[2016-03-08 08:33] prustar commented on #623
@chris-aeviator @kathi-aeviator This will be a recurring issue in the profile section because the database for this information has not been centralised or consistent. I'm working on this. So for the moment it's best to put just one link to the resource in CKAN only then people can determine which piece of information/data they want to download and look at.

[2016-03-08 08:46] #504 closed

[2016-03-08 08:46] #692 closed

[2016-03-08 08:47] #671 closed

[2016-03-08 08:47] #548 closed

[2016-03-08 08:48] prustar commented on #512
Once changes made we need to determine if this is still an issue?

[2016-03-08 08:50] prustar commented on #599
HTML code issue - need to review, @Huyeng when you have time could please look at this for the aqueduct legends as I know you have fixed the bubble ones already.

[2016-03-08 08:52] #484 closed

[2016-03-08 08:56] chris-aeviator commented on #333
A tour would have to be implemented more interactively, as nobody is going to read introduction text. But out of the scope of this issue.

@DBishton what is the outcome of the small logo discussion?

[2016-03-08 09:00] prustar commented on #475
@acorbi Thanks for the tip - will give it a go but might needs some review assistance with my primitive coding skills.

[2016-03-08 09:51] chris-aeviator opened #718 "News Container // Remove share buttons from summaries on front page"

[2016-03-08 09:53] chris-aeviator opened #719 "News Container // Change font size to allow more characters in headline containers"
@kathi-aeviator

could you please provide a proposal on this?

[2016-03-08 09:56] chris-aeviator opened #720 "News Explorer // Add "see all" function"
Add a "See all" link for users to see all news posts

[2016-03-08 09:57] chris-aeviator opened #721 "News Explorer // Provide filter functionality for "see all" function"
Add a filter to let the user to filter news by category.

[2016-03-08 10:17] chris-aeviator opened #722 "Exchange light and pastel colours for text highlighting"
For the Launch various text's have been given light color schemes on different places on the site
e.g.
 News Explorer - see screenshot
![bildschirmfoto 2016-03-08 um 11 10 11](https://cloud.githubusercontent.com/assets/11522213/13598616/213e6ba8-e51f-11e5-9b23-0e4f320c5b78.png)

 Company Profiles - https://cambodia.opendevelopmentmekong.net/topics/energy

Please provide and implement an alternativ

[2016-03-08 14:25] kathi-aeviator commented on #79
@DBishton @chris-aeviator: From my side not – but if wanted we still need the provided images. Please close issue if clear.

[2016-03-08 14:29] kathi-aeviator commented on #722
@chris-aeviator please take the bright one as it is. The differences between the dark colors and the black font are not big enough!

[2016-03-08 14:30] kathi-aeviator commented on #722
@chris-aeviator please close issue if no other comment.

[2016-03-08 14:30] kathi-aeviator commented on #719
@chris-aeviator Can you post a screenshot on this issue, please?

[2016-03-08 14:31] chris-aeviator commented on #722
@kathi-aeviator

i think you misunderstood that the bright color is not an option - see quote on the beginning

[2016-03-08 14:32] chris-aeviator commented on #719
This is the news explorer, you will find it :smile:

---

Christopher Krempel
ÆVIATOR.CC
Pflügerstr 18
D-12047 Berlin

www.aeviator.cc http://www.aeviator.cc/

[2016-03-08 14:33] kathi-aeviator commented on #623
@chris-aeviator  I agree with prustar

[2016-03-08 14:34] chris-aeviator commented on #623
@kathi-aeviator

can you then please provide a proposal on how this should look like

e.g.
font, font size, font weight, wording

[2016-03-08 15:04] chris-aeviator opened #723 "Laws // Add document type header to the law table"
The law's should be separated by document type, each represented with
 a column header.

![hackpad com_t0bjdrqcofx_p 475433_1449484467224_151206_odm_laws_scribble_dsp-hd_overview](https://cloud.githubusercontent.com/assets/11522213/13605320/46d373ae-e547-11e5-98de-7c01d3c27119.png)

[2016-03-08 15:06] chris-aeviator opened #724 "Laws // Adapt font sizes to match design spec"

[2016-03-08 15:18] chris-aeviator opened #725 "ELC // re-position headline below map"
please bring headline position in line with the design spec!

[2016-03-08 15:20] chris-aeviator opened #726 "ELC // add colored column header"
see design spec.

[2016-03-08 15:29] chris-aeviator opened #727 "Laws // Adapt column header fonts to match design spec"
use same styling like in ELC column headers

![hackpad com_t0bjdrqcofx_p 475433_1449485012342_151206_odm_cp_scribble_dsp-hd_overview_teaser](https://cloud.githubusercontent.com/assets/11522213/13606104/e746aa10-e54a-11e5-970f-6dac26f7c4c8.png)

[2016-03-08 15:33] chris-aeviator opened #728 "ELC // adapt map and boxes position"
According to design specs
- the map should be occupying the whole screen width
- the search& download boxes should be **below** the map and **beside** the table

[2016-03-08 15:36] chris-aeviator opened #729 "ELC // Change map position on single-record view"
The map should be moved to the top and occupy the full width

see *2.1.2*
![hackpad com_t0bjdrqcofx_p 475433_1449485816281_bildschirmfoto 2015-12-07 um 11 56 33](https://cloud.githubusercontent.com/assets/11522213/13606286/c41250b6-e54b-11e5-85a3-04a8f7dea060.png)

[2016-03-08 15:38] chris-aeviator opened #730 "ELC // Metadata on single-record view needs to be styled"
Metadata needs to be styled to match design specs.

see *2.1.5*
![hackpad com_t0bjdrqcofx_p 475433_1449485816281_bildschirmfoto 2015-12-07 um 11 56 33](https://cloud.githubusercontent.com/assets/11522213/13606286/c41250b6-e54b-11e5-85a3-04a8f7dea060.png)

[2016-03-08 15:42] chris-aeviator opened #731 "ELC // Include statistics on data"
On the ELC table, an area with summarized information of all entries should be displayed.

![Summary](https://hackpad-attachments.imgix.net/hackpad.com_rKpYMLtofGp_p.268271_1456910036188_profilestats.png?fit=max&w=882)

[2016-03-08 15:45] chris-aeviator opened #732 "ELC // display relevant data in donut-graph on single-record view"
Relevant and compareable metadata should be displayed on each single-record in a donut-graph.

see *2.1.5*
![hackpad com_t0bjdrqcofx_p 475433_1449485816281_bildschirmfoto 2015-12-07 um 11 56 33](https://cloud.githubusercontent.com/assets/11522213/13606286/c41250b6-e54b-11e5-85a3-04a8f7dea060.png)

[2016-03-08 16:32] chris-aeviator opened #733 "News Explorer // Bring in line with design spec"

[2016-03-08 16:40] #718 closed

[2016-03-08 16:52] kathi-aeviator commented on #722
@chris-aeviator

New proposal here:
- implement "italic" font for the links
- change color into #999

[2016-03-08 17:01] prustar opened #735 "MAP EXPLORER: Info window overlapping."
This has been raised by a user so I don't have screen shots specifically however when info windows are clicked they can sometimes overlap each other. Is it possible to implement a general default that when a window is clicked it is offset to not overlap a window that is currently open?

[2016-03-08 17:06] chris-aeviator commented on #735
I suggest deciding on using one feature (as far as i know this is a cartoDB setting), showing the info window on hover **or** click, not both ( not 100% sure if this is the users intention with the feedback)

[2016-03-08 17:24] chris-aeviator commented on #718
**please note**

there is some code work going on on production which holds deployment of this back on Production Server

[2016-03-08 17:55] chris-aeviator opened #736 "Master Branch is not clean"
Currently master branch represents an unclean state of the system.

![bildschirmfoto 2016-03-08 um 18 49 07](https://cloud.githubusercontent.com/assets/11522213/13610574/ad692a0c-e55e-11e5-868f-203ef09dcbca.png)

This should be avoided, every merge to master needs to be tested as we will deploy it to Production and trust it in general.

@OpenDevelopmentMekong/core

*please revert any changes done

[2016-03-09 10:23] chris-aeviator commented on #736
@Huyeng could you please check the list of merged Pull Requests you did in the last days to see what causes this?

We are blocked with deployment through this at the moment!

[2016-03-09 12:55] kathi-aeviator commented on #623
@chris-aeviator take one single button (the down arrow) to the CKAN download-site instead of all the separated ones.

[2016-03-09 13:09] kathi-aeviator commented on #719
@chris-aeviator please implement:

- change font-size from 18px to 14px

code:

.sticky-posts .sticky-item article h3 { font-size: 14px;}

----------
@DBishton @jpeizer1 Please review before deploying on master. This is minimum font-size.

[2016-03-09 13:27] chris-aeviator commented on #722
after another iteration the final solution specifies:
- text will be italic
- color is set to the dark country specific color
- for the content area (links in the topic pages for example) the font is set bold
- for the links in the right sidebar font will stay normal

[2016-03-09 13:29] kathi-aeviator commented on #623
Temporary solution of this issue from tec- and design-site is to copy the CKAN list and constitute it in the download-section in WP until the files are sorted.

@chris-aeviator do you agree with that?

[2016-03-09 13:50] kathi-aeviator commented on #719
@chris-aeviator please implement:

change font-size from 18px to 14px
code:

.sticky-posts .sticky-item article h3 { font-size: 14px;}

@DBishton @jpeizer1 Please review before deploying on master. This is minimum font-size.

[2016-03-09 13:51] chris-aeviator commented on #722
- deployed to PP
- blocked from deployment to production due to https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/736

[2016-03-09 13:55] kathi-aeviator commented on #458
@chris-aeviator is there any outcome of this issue? Please comment if you can.

[2016-03-09 14:03] #722 closed

[2016-03-09 16:01] kathi-aeviator commented on #512
Once we said a fast way to make it usable is to implement a scroll-bar on the right site of the box.

[2016-03-10 08:41] chris-aeviator commented on #512
Technically seen this is correct behavior of a moveable map - the user has not moved his POI into the center of the screen.

We could think about removing the hover (we have hover and click at the moment) feature and centering the map if a user clicks a map entry to get the info window

[2016-03-11 12:33] chris-aeviator commented on #580
re-opening as the bug is back in the system

@Huyeng could you please check if this relates to your changes with moving logic from jeo to jeo-odm when you check the master-branches ?!

[2016-03-11 13:54] chris-aeviator commented on #736
@Huyeng

applying jeo (basetheme) changes does still result in the same issue.

OSX  10.10 , Firefox Version 44.02

[2016-03-11 14:00] #719 closed

[2016-03-11 17:36] #725 closed

[2016-03-11 17:37] chris-aeviator commented on #725
- deployed to PP
- blocked from deployment to production due to #736

[2016-03-11 17:54] chris-aeviator commented on #719
- deployed to PP
- blocked from deployment to production due to #736

[2016-03-11 17:55] chris-aeviator commented on #729
- deployed to PP
- blocked from deployment to production due to #736

[2016-03-11 17:55] #729 closed

[2016-03-11 19:57] chris-aeviator commented on #728
- deployed to PP
- blocked from deployment to production due to #736

[2016-03-11 19:59] #728 closed

[2016-03-15 16:53] chris-aeviator opened #745 "Combine & compress CSS files for faster page loading"
Currently we are loading about 34 stylesheets from the server on a page request.

Each request to a stylesheet add's up about 20-100 ms loading time, in worst case this means the site will take 2-3 seconds longer to load.

To make the page load faster, it would be useful if all css files could be combined and minifed by the server for production usage.

An example implementation can be found under

[2016-03-15 19:09] #727 closed

[2016-03-15 19:09] chris-aeviator commented on #727
- deployed to PP
- blocked from deployment to production due to #736

[2016-03-16 09:30] prustar commented on #512
I've changed the majority of the info windows to click and not hover as this has been raised as a confusing issue. Can we please now centre the map when the info window is clicked.

[2016-03-16 09:33] prustar commented on #735
Thanks @chris-aeviator I've edited most of the info window's in CartoDB to remove the hover function. it should be rectified now with the fix for #512

[2016-03-16 09:33] #735 closed

[2016-03-16 09:36] prustar opened #747 "MAP EXPLORER: Info Window click precision"
I've noticed that sometimes when you are hovering to try and click an item to bring up the info window the precision is off and often you need to click around the object to active rather than on the object itself. Can we do something to increase this precision? See random example below, the blue smug is where I need to click to activate the window.

![infowindow1](https://cloud.githubusercontent.c

[2016-03-16 09:47] chris-aeviator commented on #736
fixed

[2016-03-16 09:47] #736 closed

[2016-03-16 10:19] chris-aeviator commented on #722
Deployed to Production!

[2016-03-16 10:19] chris-aeviator commented on #725
Deployed to Production!

[2016-03-16 10:19] chris-aeviator commented on #719
Deployed to Production!

[2016-03-16 10:19] chris-aeviator commented on #729
Deployed to Production!

[2016-03-16 10:19] chris-aeviator commented on #728
Deployed to Production!

[2016-03-16 10:19] chris-aeviator commented on #727
Deployed to Production!

[2016-03-16 12:54] prustar opened #748 "MAP EXPLORER - Category window"
The new category window has a default float at the bottom right - could we please change this to the top right so that the bottom doesn't get cut off and then when clicking a category the box expands downwards rather than up.

![categorymenu](https://cloud.githubusercontent.com/assets/14996905/13812845/9f71f7dc-eb7e-11e5-86b7-6e551d6d2d9f.JPG)

[2016-03-16 13:18] prustar commented on #747
This is another example where the info window precision is incorrect.
In Map Explorer this example is incorrect the area is not the Tonle Sap
![image](https://cloud.githubusercontent.com/assets/14996905/13813417/c20d5c2a-eb81-11e5-902f-3e9b6369a2f4.png)

In CartoDB it displays it correctly:
![image](https://cloud.githubusercontent.com/assets/14996905/13813434/de6332aa-eb81-11e5-8dd7-ccfe7ea11b3c.p

[2016-03-17 03:17] Huyeng opened #751 "Hightlight the Current Country Site"
The highlight current country site has already implemented before, but now the issue has existed again. That may cause by the conflict code.
This is Vietnam Country, but Mekong is highlighted:
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/13835317/5952fa98-ec29-11e5-99cb-2aca0bd88cbe.jpg)

[2016-03-17 04:16] #751 closed

[2016-03-17 04:25] ChandaraKhun opened #753 "Topic Pages KH: Bold"
Unnecessary Bold (B) appears on footnote, foot note number (in body text) and related dataset titles (right hand side).
![screenshot_1](https://cloud.githubusercontent.com/assets/10953792/13836331/a5141f9e-ec32-11e5-9205-67822ae3c93f.png)

[2016-03-17 09:17] Huyeng opened #754 "Map Explorer: Some published layers are missing on the map page"
The map layers under some categories are missed. For example, under the Environment, there are about 17 map layers are published, but only 7 layers are shown.

[2016-03-21 12:06] prustar opened #759 "MAP EXPLORER: Missing legend and info windows"
The info window and legend is not displaying in some of the layers - see example below. I double checked the links in CartoDB and CKAN as well as the legend html. It all should be displaying.

![image](https://cloud.githubusercontent.com/assets/14996905/13918131/8e279b7c-ef65-11e5-8e30-eda195f9b52e.png)

[2016-03-21 13:09] jpeizer1 commented on #759
I dont see the legends displaying at all on OD mekong or OD Vietnam, just blank boxes - so I wonder if the individual map layers are a problem -- and its not some other issue.

[2016-03-21 13:11] jpeizer1 opened #760 "MAP EXPLORER - Fatal Error - Laos, Thailand, Myanmar"
When you click map son home page of   Laos, Thailand, Myanmar

You Get:

Fatal error: Call to undefined function qtrans_use() in /var/www/html/wp-content/themes/jeo-odm/inc/layers.php on line 498

[2016-03-21 13:15] jpeizer1 opened #761 "MAP EXPLORER - Map Layer Choice box still too low"
On wide screen monitors The map layer choose on bottom right doesn't show on whole screen. It cuts off and you have to scroll down to see the rest of the layer categories. So for example it cuts off at ENVIRONMENT on OD mekong and you have to scroll down to see

HYDROLOGY & INFRASTRUCTURE

 ![maplayer](https://cloud.githubusercontent.com/assets/16559612/13919652/212958c8-ef45-11e5-966a-66624dbe4e3

[2016-03-21 16:10] prustar commented on #761
@jpeizer1  I logged this already - see #748

[2016-03-21 16:10] #761 closed

[2016-03-21 16:15] prustar opened #762 "MAP EXPLORER: Blank window when loading map layers"
When you are loading layers the map reloads itself constantly and leaves a blank white space which takes a while to load. Is there a way to reduce the load times and allow layers to be loaded without reloading the entire map.

![image](https://cloud.githubusercontent.com/assets/14996905/13925404/76e1ea44-ef88-11e5-9212-6bc386081945.png)

[2016-03-21 16:44] prustar commented on #762
in relation to the above enhancement this half loaded screen also appears:

![image](https://cloud.githubusercontent.com/assets/14996905/13926416/851220f8-ef8c-11e5-9803-c5af2b943393.png)

[2016-03-23 09:38] Huyeng opened #763 "Migrant Mapping Kit page to the new site for Spacial training purpose"
Next week, the spacial training will be conducted, the students will request to use mapping kits for the training. Thus, migrant the page of mapping kit to the new site is necessary.

[2016-03-23 09:39] #763 closed

[2016-03-25 10:38] Huyeng commented on #762
They are working fine for me. @prustar, could you try again please. It can cause by the internet issue.
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/14042819/3373b21c-f2b0-11e5-911a-6f1a0d90f2fc.png)
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/14042820/33766336-f2b0-11e5-832a-e8506978c59b.png)

[2016-03-25 10:41] Huyeng commented on #760
The errors are fixed.

[2016-03-25 10:41] #760 closed

[2016-03-28 02:17] Huyeng commented on #759
The problem cause by the html of legend that added to the individual map.
There is no legend headline added, I just updated the script to show the layer's title if there is no legend title instead.
See, the first screenshot has <h5></h5> which is the legend headline that required to have. After updated the code, the tag <h5></h5> is not required. If no <h5></h5> tag, it will use the layers name in

[2016-03-28 02:17] #759 closed

[2016-03-28 03:08] Huyeng opened #768 "The khmer fonts on the ODC site"
The khmer font on the ODC site is always changed based on everyone's computer.
Sometimes, it really looks ugly.
Suggestion: Embed the Khmer font for the Styling.
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/14070145/f79e66be-f4cc-11e5-929a-e6cc2a885038.png)

[2016-03-28 04:34] #768 closed

[2016-03-28 09:35] punwath opened #773 "Mapexplorer: need 2 layer box for catodb map"
In the Wordpress now, there is only one box for catodb layer. Therefore, there is only one language can be shown in the Mapexplorer because each layer represents for only 1 language.

![image](https://cloud.githubusercontent.com/assets/18112596/14075385/f65a0020-f502-11e5-8e32-7a73a5edd292.png)

[2016-03-28 11:10] ChandaraKhun commented on #753
ODC new site is "not responsive", thus young people with mobile devices might have difficulties in using our site. The following is a screenshot from my I-phone.
![47d981b768a67f1998d2109fe9f1baf5f834560b97c70f4425 pimgpsh_thumbnail_win_distr](https://cloud.githubusercontent.com/assets/10953792/14076905/3ae4b476-f510-11e5-9043-2085fc69de4d.jpg)

[2016-03-28 11:15] Huyeng opened #774 "ODC new site is "not responsive", thus young people with mobile devices might have difficulties in using our site. The following is a screenshot from my I-phone."
ODC new site is "not responsive", thus young people with mobile devices might have difficulties in using our site. The following is a screenshot from my I-phone.
![47d981b768a67f1998d2109fe9f1baf5f834560b97c70f4425 pimgpsh_thumbnail_win_distr](https://cloud.githubusercontent.com/assets/10953792/14076905/3ae4b476-f510-11e5-9043-2085fc69de4d.jpg)

[2016-03-28 11:15] Huyeng commented on #753
Responsive issue is moved to issue #774

[2016-03-28 11:15] #753 closed

[2016-03-28 11:22] ChandaraKhun opened #776 "Alert on deadlinks"
Some links on topic pages can not be accessed due to, perhaps, any error with inserting the links onto Word Press, or any changes in URL by news outlets.

It would be great if there is a tool for altering those dead links.
Here is a tool used on the old site.
![screenshot_3](https://cloud.githubusercontent.com/assets/10953792/14077065/f7c352fe-f511-11e5-93ea-27f32bf8e764.png)

[2016-03-29 05:42] Huyeng commented on #773
Added!

[2016-03-29 05:42] #773 closed

[2016-03-29 08:04] #748 closed

[2016-03-29 08:06] Huyeng commented on #762
@prustar, could you confirm if the issue still exists?

[2016-03-29 08:09] Huyeng opened #780 "Create News Archieve page"
On the new site, there is no news achieve page that users can view all the news posted like ODC old site. http://www.opendevelopmentcambodia.net/kh/news-archive/

[2016-03-31 09:03] Huyeng commented on #780
News archive page is created:
https://pp-cambodia.opendevelopmentmekong.net/news-archive/
https://cambodia.opendevelopmentmekong.net/news-archive/

[2016-03-31 09:03] #780 closed

[2016-03-31 10:33] Huyeng commented on #776
Broken Link Checker is already installed and used.

[2016-03-31 10:33] #776 closed

[2016-03-31 11:11] #720 closed

[2016-03-31 11:15] Huyeng opened #785 "The top navigation of Publication Library, Data, and its sub linked to PP"
Update the links to the current urls.

[2016-03-31 13:36] jpeizer1 opened #786 "ODC Main Menu MAP & PROFILES Work Inconsistantly"
ODC Main Menu Production Instance -- DATA selection points to pp development server so no data is being displayed and link goes to:

https://pp-data.opendevelopmentmekong.net/dataset?extras_odm_spatial_range=kh

[2016-03-31 13:47] jpeizer1 opened #787 "Main Menu Submenu Item urban-administration-and-development is cut off"
![000047](https://cloud.githubusercontent.com/assets/16559612/14177695/7ded437a-f725-11e5-95cb-0dadc08a15f4.png)
This Menu Item is being cut off again in *all* country instances after Urban Administration and.....
"Development" is missing

[2016-04-01 01:44] #785 closed

[2016-04-01 03:20] Huyeng opened #790 "Add the Category list to the single page of news"
On single page of news article should add the category list that allow users to view the news by categories without going back.

[2016-04-01 04:25] #790 closed

[2016-04-01 04:29] Huyeng opened #792 "Create Widget to can add different taxonomy to as the sidebar"
Provide the option that can add the multiple taxonomy to the sidebar of single page, category and other taxonomy.

[2016-04-01 04:41] jpeizer1 opened #793 "Redundancy in Datahub Main Menu (Cambodia)"
You have LAWS & AGREEMENTS that resolve to the CKAN data  and LAWS, POLICY & AGREEMENTS that resolve to the new WP front end interface. I think the two are confusing to the user especially when you click on LAWS, POLICY & AGREEMENTS and get a different top menu.

MAPS are also duplicated

PROFILES and ECONOMIC LAND CONCESSIONS also go to the same WP front end

![capture](https://cloud.githubuserco

[2016-04-01 10:35] #792 closed

[2016-04-04 05:13] #787 closed

[2016-04-04 07:43] Huyeng commented on #786
There is not much dataset added into the PP DE. Anyways, the link was fixed since last week by calling wp function to replace the manual links added.

[2016-04-04 07:43] #786 closed

[2016-04-04 07:44] #754 closed

[2016-04-04 07:45] #721 closed

[2016-04-04 07:58] Huyeng opened #798 "PROFILE PAGE: Enhance ELC profile page template"
- Profile the filter function to the profile page like the old site.
- The width of map and table is not fit each together, suggest make their width be equal each other.
- Search box and download box drop down on scolling.

[2016-04-04 11:33] prustar opened #799 "MAP EXPLORER: Download and Info button in category box"
The Map Layer category box in the local language site for both Myanmar and Vietnam are not working. Vietnam has already translated their local Map Explorer and will be translating the CKAN entries shortly. It would be nice if they could test the download and info window function as they translate.

![image](https://cloud.githubusercontent.com/assets/14996905/14246788/bbdf34b2-fa69-11e5-8d8e-014a4c

[2016-04-05 07:55] Huyeng commented on #799
Please follow this guideline: https://wiki.opendevelopmentmekong.net/partners:adding_maps_to_map_explorer

[2016-04-05 08:17] Huyeng commented on #799
Please also  translates the needed strings on transifex: https://www.transifex.com/open-development-mekong/odm-frontend-theme/dashboard/

[2016-04-06 11:39] prustar opened #800 "MAP EXPLORER: Missing download and info window symbol"
ODC map layer - environment category missing the download and info window symbol for Fish sanctuaries. Seems random, I checked and there are CKAN link listed for english language.

![image](https://cloud.githubusercontent.com/assets/14996905/14315362/e5f8c38c-fbfc-11e5-9665-71078bd35542.png)

[2016-04-07 04:19] ChandaraKhun commented on #774
On Homepage, "Announcements and Press Releases" & "Site Updates" don't have Khmer version yet.
And, all in the capital letters may be adjusted accordingly.
![screenshot_1](https://cloud.githubusercontent.com/assets/10953792/14340469/512b1230-fcb2-11e5-9a27-c40a237054b3.png)

[2016-04-07 04:25] ChandaraKhun opened #801 "Homepage: Announcements & Press Releases"
On Homepage, "Announcements and Press Releases" & "Site Updates" don't have Khmer version yet.
And, all in the capital letters may be adjusted accordingly.
![screenshot_1](https://cloud.githubusercontent.com/assets/10953792/14340469/512b1230-fcb2-11e5-9a27-c40a237054b3.png)

[2016-04-07 04:30] ChandaraKhun commented on #801
RE: Announcements and Press Releases,
 When you click "View All," the same format of the News Archive Page applies with AP as well, so no attached docs, except with a click on specific AP. In News, resources links are available so does AP as well.
![screenshot_2](https://cloud.githubusercontent.com/assets/10953792/14340667/f5211a28-fcb3-11e5-9ea0-963e8cd6e203.png)

[2016-04-07 04:33] ChandaraKhun commented on #801
RE: Click on a particular AP, fonts for title and body text are comparatively too big and too small, and the size of the attached as well.
![screenshot_1](https://cloud.githubusercontent.com/assets/10953792/14340730/7daad23a-fcb4-11e5-8a07-93c9d27c4929.png)

[2016-04-08 02:27] ChandaraKhun opened #802 "News Archive page"
There are 2 errors.
-Next Page: does not work.
-Topic page and map layer appear on the News Archive page.
![screenshot_1](https://cloud.githubusercontent.com/assets/10953792/14372542/dc6fa932-fd6b-11e5-876d-c2a237898227.png)

[2016-04-10 14:31] acorbi commented on #580
@chris-aeviator @Huyeng is this fixed? please close issue if so

[2016-04-11 10:44] chris-aeviator commented on #580
@acorbi

seem's fixed, closing

[2016-04-11 10:44] #580 closed

[2016-04-14 08:58] prustar opened #806 "MAP EXPLORER: line in middle of map"
There is a white line in the middle of the Cambodia Map Explorer:

![image](https://cloud.githubusercontent.com/assets/14996905/14522640/d07322a8-022f-11e6-9652-70338cec685c.png)

[2016-04-14 09:07] chris-aeviator commented on #806
could be related to

https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/654

[2016-04-14 14:20] acorbi opened #807 "test"
test

[2016-04-14 14:21] #807 closed

[2016-04-18 01:51] #802 closed

[2016-04-18 01:58] Huyeng commented on #800
That's because of no link added into download box. Please ask mapper to check it.

[2016-04-18 02:01] Huyeng opened #808 "The single interactive map won't show up"
The error caused by jeo.clearscreen.
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/14591975/0c541dce-0544-11e6-9204-22a55c98e282.png)

[2016-04-18 02:07] #808 closed

[2016-04-18 03:19] ChandaraKhun opened #810 "Law compendium: types of law"
In regards with "types of law," under the menu Laws-Agreements-Policy CKAN, adjustments to names/types of law is necessary since ODC editors are working to add/review/publish reference dataset. Also, Khmer sounds/phonetics of each law type should be dropped out to ensure consistency of all the platform. This will reflect what is presented on WordPress of each OD Mekong country as well.
![types of

[2016-04-18 09:19] acorbi opened #811 "Add documentation about Cambodia folder on README.md"
Hi @Huyeng,

I have noticed that on https://github.com/OpenDevelopmentMekong/opendev-wptheme/tree/master/Cambodia you have uploaded a series of php files with some templates.  I understand this is code from the legacy site that will be eventually reused but I am not sure if it is actually linked from somewhere within the site.

Can you maybe add some documentation on the README.md file for clarity

[2016-04-18 12:09] acorbi commented on #324
Cannot be reproduced, closing

[2016-04-18 12:09] #324 closed

[2016-04-18 12:13] prustar commented on #800
Thanks @Huyeng I guess the guys checked it out and fixed it.

[2016-04-18 12:13] #800 closed

[2016-04-19 02:31] Huyeng opened #812 "ELC: Column Header not aligned with column data in table"
On the current page of ELC table, it is noticed that the column header is not aligned to its column data. See the screenshot:
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/14625932/711fd96e-0611-11e6-819c-0cbadbdf2ff4.jpg)

[2016-04-19 21:20] acorbi opened #814 "Topic icons missing on https://vietnam.opendevelopmentmekong.net"
![screenshot from 2016-04-19 23-19-57](https://cloud.githubusercontent.com/assets/384894/14655979/45911a46-0685-11e6-86d2-77219c2c8462.png)

[2016-04-20 07:05] #812 closed

[2016-04-20 12:49] acorbi commented on #814
Closing. This is done on purpose since there are no topics to display currently

[2016-04-20 12:49] #814 closed

[2016-04-20 13:01] acorbi opened #817 "Add basic tests structure and CI"

[2016-04-21 14:40] #817 closed

[2016-04-21 15:24] acorbi opened #819 "Eliminate the search box at the top of the Wordpress pages and replace it simply with a search icon (magnifying glass)"
Comment current functionality to streamline search experience

[2016-04-22 04:43] Huyeng opened #821 "PROFILE PAGE: Get profile data from the provided link instead of maually create configuration file."
Current code, in order to create a profile or new profile page, it requests to create individual configuration file to get the data to display on the page.

Suggestion: Allow the add the url in to the WP, and then read data from that link.

[2016-04-22 10:04] DBishton opened #822 "CKAN resource embeds do not render"
While testing the embed of a CSV CKAN resource into a WordPress page on pre-production, the loading animation does not complete and the table does not render.

I have tested this with a resource from production:

https://data.opendevelopmentmekong.net/dataset/economic-land-concessions/resource/3b817bce-9823-493b-8429-e5233ba3bd87?type=dataset

And its default embed code:

<iframe width="700" heigh

[2016-04-22 10:40] acorbi commented on #793
Fixed via https://github.com/OpenDevelopmentMekong/ckanext-odm_nav/pull/52

[2016-04-22 10:40] #793 closed

[2016-04-22 12:55] DBishton opened #823 "Center table alignment on topic pages"
HTML tags are overridden on tables in topic pages on WordPress. We would like these to always be centred so as to be in line with other embedded elements.

Please see an example on this page: https://opendevelopmentmekong.net/topics/science-technology/#technologies

This is also urgent as it is preventing this page from being published.

[2016-04-22 15:51] jpeizer1 commented on #806
@prustar Could you specify which browser and version you see this on? I don't see exactly the same thing on my Firefox browser (latest version) with larger screen - rather when the map comes I see a both a horizontal and vertical line (in the place you indicate) for just a millisecond until everything is fully loaded and then it resolves itself. Also when I select a new layer to use on the map I s

[2016-04-25 11:23] acorbi commented on #822
@DBishton just for the record.

Embed functionality for CSV records seems to be broken on CKAN. However, other formats as GEOJSON, PDF or WEB can be embed properly.

As an alternative for that what you are trying to achieve, a datawrapper visualization can be created separatelly using that CSV resource and embedded on the page.

[2016-04-26 11:54] acorbi commented on #798
@Huyeng I see you have merged this PR https://github.com/OpenDevelopmentMekong/opendev-wptheme/pull/820. Does it mean that this task can be closed?

[2016-04-26 12:07] acorbi opened #825 "Errors on WP dashboard"
on https://cambodia.opendevelopmentmekong.net/wp-admin/post.php?post=87686&action=edit

![screenshot from 2016-04-26 14-02-38](https://cloud.githubusercontent.com/assets/384894/14817543/3d685338-0bb8-11e6-8e5c-669541f497d9.png)

[2016-04-26 15:52] jpeizer1 opened #826 "See Thru to Background Main Menu Items ODI-Mekong"
If you look at the sub menu items in OD-MEKONG
![menu-items-see-thru-bckground](https://cloud.githubusercontent.com/assets/16559612/14824821/4f7a963e-0ba5-11e6-8e1f-8e1b2670f41c.png)
you can now see between the selections to the background which is not the case in any of the other sections of the site.

I noticed this in the PP environment a few days back but not in production. Now its in producti

[2016-04-26 16:02] acorbi commented on #823
@Huyeng this issue was fixed via b316d7ac615e6b68efc66d67c3e22fd3eb44ed99 , right? I can see its implemented in https://opendevelopmentmekong.net/topics/science-technology/#technologies . Please close this issue if complete. ping @DBishton

[2016-04-26 16:04] acorbi opened #827 "Hide contact form for mobile users"

[2016-04-26 16:38] #827 closed

[2016-04-27 08:20] Huyeng commented on #823
Nope. It wasn't fixed via that commit, but it was fixed by adding class "aligncenter". Thus, the table will be central aligned if the class "aligncenter" is added.

[2016-04-27 08:20] #823 closed

[2016-04-27 15:57] jpeizer1 commented on #826
I noted changes to the menus in the last distribution but there are still issues as noted in the images below:
![000054](https://cloud.githubusercontent.com/assets/16559612/14858720/27458226-0c6f-11e6-8f3e-4b4c1d12a389.png)
![000055](https://cloud.githubusercontent.com/assets/16559612/14858721/27467668-0c6f-11e6-871f-f5a3686329d1.png)
![000056](https://cloud.githubusercontent.com/assets/16559612/1

[2016-04-27 16:52] acorbi commented on #826
@jpeizer1 browser, os?

[2016-04-27 17:00] jpeizer1 commented on #826
Firefox - Updated Version. MS 7

[2016-04-28 07:46] Huyeng commented on #825
I opened the link, but there is no error. Could you please check and close it if it is fixed, @acorbi.

[2016-04-29 11:10] acorbi opened #830 "View links for posts, pages and topics on PP pointing to PROD"
On the current test page on PP: https://pp.opendevelopmentmekong.net/wp-admin/post.php?post=1261247&action=edit

The permalink is wrongly pointing to the PROD site:

![screenshot from 2016-04-29 12-37-59](https://cloud.githubusercontent.com/assets/384894/14914031/3df666ae-0e07-11e6-8ec9-c7dc7cbee277.png)

when you click on **View post** then it takes you to that URL on PROD which does not exist ye

[2016-04-29 13:21] acorbi opened #831 "Profile page tooltips not rendering properly on firefox"
Browsing https://pp.opendevelopmentmekong.net/profiles/economic-land-concessions/ on firefox I have detected that the tooltips on the table view are not rendering properly and the text is outputted directly on the table cell when it should be shown only when on mouse over.

![screenshot from 2016-04-29 15-18-59](https://cloud.githubusercontent.com/assets/384894/14917171/fc1217a8-0e1d-11e6-9890-cf5

[2016-04-29 13:22] acorbi opened #832 "Profile pages Cartodb map not showing on firefox"
Browsing https://pp.opendevelopmentmekong.net/profiles/economic-land-concessions/ with firefox, I have detected that the embedded cartodb map is not showing.

![screenshot from 2016-04-29 15-22-05](https://cloud.githubusercontent.com/assets/384894/14917203/2cd20b82-0e1e-11e6-8ddf-87e82dcb83d5.png)

The same URL on chromium works well

![screenshot from 2016-04-29 15-22-12](https://cloud.githubuser

[2016-04-30 05:32] jpeizer1 opened #833 "Profile Page ELC -- Map Data not showing for filtered selection"
I wanted to demonstrate something and filtered "sugar" in the ELC profile. The data came up on the table but the map was blank instead of showing these sugar concessions. However clicking one of the sugar concessions in the data table brought up a detail page (second image)  demonstrating a concession should have shown up on the summary map along with the table data.

![suger-concession](https://c

[2016-04-30 05:36] jpeizer1 opened #834 "Profile Page ELC -- Concession Summary Stats now showing up?"
I assume these stats at the top of the table should be listing a number next to each item e.g. # of Govt Data Complete Concessions, # of Govt Data Partial Concessions, no?

![suger-concession](https://cloud.githubusercontent.com/assets/16559612/14934092/b2c6644a-0e73-11e6-98f7-db1ec600f0e9.JPG)

[2016-04-30 05:45] jpeizer1 opened #835 "Profile Page ELC -- Clicking Individual Concession on Map not taking me to detail page on that concession"
Shouldn't clicking on an individual concession on the map take me to the detail page of that concession in the same way clicking on an item in the table below does? It doesn't now meaning I have to search for the individual concession on the table below the map if I wish to see more detail.

![indiv-concession](https://cloud.githubusercontent.com/assets/16559612/14934124/f1951d5a-0e74-11e6-93dd-7d

[2016-05-03 05:16] #821 closed

[2016-05-03 05:19] Huyeng commented on #798
Yes, it was closed.

[2016-05-03 05:19] #798 closed

[2016-05-03 09:14] acorbi commented on #825
Cannot reproduce anymore, closing.

[2016-05-03 09:14] #825 closed

[2016-05-03 09:58] Huyeng commented on #834
That's the issue on the current site.

This is the testing url: https://pp.opendevelopmentmekong.net/profiles/economic-land-concessions/
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/14980038/4b9dcf26-1150-11e6-90f3-ca0f8e3c9730.png)

If the code is pulled, the summary stats will be fixed.

[2016-05-03 13:04] #833 closed

[2016-05-03 13:19] acorbi commented on #830
@Huyeng I know the origin of this Issue.
Since the wordpress PP is a clone of PROD, the siteUrl and home config options are probably set as "opendevelopmentmekong.net". I believe just changing those variables to "pp.opendevelopmentmekong.net" would not work automatically. I see there might be problems with the subsites, since they are behind subdomains of .opendevelopmentmekong.net

[2016-05-03 13:31] acorbi commented on #834
Fixed via 1cc1c3e3777c49391189cd67b846e6f87aac7f26

[2016-05-03 13:31] #834 closed

[2016-05-03 14:01] acorbi commented on #830
Fixed by proteus after my request. it was indeed a config issue

[2016-05-03 14:01] #830 closed

[2016-05-03 14:40] prustar commented on #835
@jpeizer1 -- the info windows previously had a read more.. button on them but as the map was created in CartoDB I'm not sure what the added step would be to include this function. I know that it is possible. But to manually add each link in would be time consuming.

@acorbi @Huyeng  -- is there a way to automate this via the API?

[2016-05-03 14:47] prustar commented on #806
@jpeizer1 I also get these horizontal and vertical lines when layers are loaded and reloaded. I'm using Chrome mainly but also use Firefox on occasion. I had logged an issue regarding the AJAX script after discussion with @acorbi it seems that it's not working correctly and perhaps this is the problem. I will raise with @Huyeng when I speak to her tomorrow re-map explorer progress.

[2016-05-03 14:50] prustar commented on #799
@gimmemochi could you please help to coordinate this with ODV.

[2016-05-03 14:52] acorbi commented on #835
I guess that link would take to the detail page of the corresponding concession? We can study to add this in the code so it is can be automated.

[2016-05-03 14:53] prustar commented on #762
@Huyeng it's not a problem now. I'm closing.

[2016-05-03 14:53] #762 closed

[2016-05-03 16:37] jpeizer1 opened #837 "Map Explorer - ELC Layer- Table Icon Knocked Out of Place in Latest Update"
I noticed in the latets update the that the Table icon on the map layer chooser was knocked out of place.. Looks like an 1 extra spacer to many...

![elc-table](https://cloud.githubusercontent.com/assets/16559612/14990689/be2971fa-112b-11e6-9754-6c45454a4722.JPG)

I'm using firefox latest version on widescreen monitor

[2016-05-03 16:43] jpeizer1 opened #838 "MAP- EXPLORER - ELC Layer - Big Bug - Clicking Table Icon Produces Program Error"
Selecting the ELC Table using map Explorer table Icon on ELC layer now produces a program error  instead of pulling up the ELC Table Page

![elc-table-error](https://cloud.githubusercontent.com/assets/16559612/14990847/9e32d822-112c-11e6-965e-465c17ddce5c.JPG)

I clicked this table icon to get this result and I assume the configuration format with the Table Icon (#837) is related to this problem.

[2016-05-03 16:50] acorbi commented on #838
@jpeizer1 @Huyeng This issue happens because that table icon is linking to the previous ELC implementation under https://cambodia.opendevelopmentmekong.net/company-profiles/economic-land-concessions/ . The new one is on https://cambodia.opendevelopmentmekong.net/profiles/economic-land-concessions/

I am not sure if I have time to fix this today. @Huyeng please give it a look if you see this Issue

[2016-05-03 16:51] jpeizer1 commented on #835
Yes, you'd want clicking the concession on the map to take you to the same concession detail as if you clicked corresponding table link on the table. Otherwise the user is left to try and figure out  which concession on the map is related to which table item in order to click through on the table to more detail.

[2016-05-03 17:49] prustar commented on #475
This has been done but is there a way to automate the code within CartoDB so that the template is the same and consistent throughout all of the maps? The WMS layers will also have to be formatted using the same template.

[2016-05-03 21:28] jpeizer1 commented on #838
Clicking the Table Icon link now resolves to a 404 error page rather than aborting outright

![elc-table-error](https://cloud.githubusercontent.com/assets/16559612/14998971/70bad57a-1154-11e6-9105-f6b7abae510d.JPG)

[2016-05-04 10:45] Huyeng commented on #838
The links on the menu and icon are still pointed to the old page. I just updated them. Fixed!

[2016-05-04 10:45] #838 closed

[2016-05-04 13:52] prustar opened #840 "ELC Profile Page // Expand filter options for both table and map"
Currently you can only filter by the adjustment classification and it would be useful to users to also be able to filter by at least 2 other attributes for each profile. In the case of ELC's perhaps the data source and also the type of crop being planted.

This filter would not only be reflected in the table but also in the map where these attributes would be mapped.

[2016-05-04 13:59] prustar opened #841 "ELC & Mining Datasets // Additional explanation for data types needed to be added"
Within the map data sets (including ELC, mining) in the previous ODC site there was a '?' placed next to the categories to explain the definition of the attributes. This included for the data sources category for both ELC's and mining and the adjustment type for ELC's.

The text is in this file:
[Data_Source_description.txt](https://github.com/OpenDevelopmentMekong/opendev-wptheme/files/248856/Dat

[2016-05-05 05:02] Huyeng commented on #511
It was fixed.

[2016-05-05 05:02] #511 closed

[2016-05-05 05:05] Huyeng commented on #412
What are the translating strings use for. The current Khmer law page are already translated, see this.
https://cambodia.opendevelopmentmekong.net/kh/laws

[2016-05-05 05:08] Huyeng commented on #367
The template of map explorer is changed, so the issue doesn't exist anymore.

[2016-05-05 05:08] #367 closed

[2016-05-05 05:10] Huyeng commented on #285
It was fixed with the last updated of new template of map explorer.

[2016-05-05 05:10] #285 closed

[2016-05-05 05:14] Huyeng commented on #806
I think the issue has gone after I fixed this issue https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/654

[2016-05-05 05:14] #806 closed

[2016-05-05 06:18] Huyeng opened #843 "PROFILE PAGE: Adding the related profile pages"
Need the option that be able to add the related profile pages like what ODC has done before.
![screenshot_16](https://cloud.githubusercontent.com/assets/6613530/15037290/d2c6f3be-12c3-11e6-92c8-fe03598eaea7.png)

[2016-05-05 10:56] Huyeng commented on #832
@Alex, it works fine for me on Firefox. Could you try again please?

[2016-05-05 10:58] Huyeng commented on #831
I didn't get the same problem on Firefox. @acorbi, pls test it again.

[2016-05-05 11:10] Huyeng opened #845 "PROFILE PAGE: Total list errors if no value"
![screenshot_18](https://cloud.githubusercontent.com/assets/6613530/15042232/7ba75de8-12ec-11e6-9ec4-0ad807ded2f6.png)
Suggestion: add condition to check if variable has value or not.

[2016-05-05 20:24] acorbi commented on #843
@Huyeng this issue is fixed and can be closed?

[2016-05-05 20:25] acorbi commented on #837
@Huyeng is this issue fixed and can be closed?

[2016-05-05 20:26] acorbi commented on #832
@Huyeng it was my cookies blocker, works now! closing...

[2016-05-05 20:26] #832 closed

[2016-05-05 20:26] acorbi commented on #831
@Huyeng it was my cookies blocker, works now! closing...

[2016-05-05 20:26] #831 closed

[2016-05-05 20:27] acorbi commented on #811
@Huyeng please provide feedback on this one

[2016-05-05 20:27] acorbi commented on #799
@Huyeng @gimmemochi @prustar can you update on the status of this issue? Can this be closed?

[2016-05-05 20:28] acorbi commented on #774
@Huyeng mobile devices get served with a previous,  but responsive version of jeo-odm. This is a fallback solution until the frontend gets redesigned. closing by now

[2016-05-05 20:28] #774 closed

[2016-05-05 20:30] #730 closed

[2016-05-05 20:30] #731 closed

[2016-05-05 20:31] #732 closed

[2016-05-05 20:32] #724 closed

[2016-05-05 20:32] #726 closed

[2016-05-05 20:34] #667 closed

[2016-05-05 20:34] #723 closed

[2016-05-05 20:37] acorbi commented on #599
@prustar @Huyeng can this issue be closed?

[2016-05-05 20:37] #529 closed

[2016-05-05 20:38] acorbi commented on #512
@prustar is this issue fixed?

[2016-05-05 20:42] #412 closed

[2016-05-05 20:43] #373 closed

[2016-05-05 20:46] #357 closed

[2016-05-05 20:48] #352 closed

[2016-05-05 20:48] #333 closed

[2016-05-05 20:49] #320 closed

[2016-05-05 20:51] #319 closed

[2016-05-05 20:52] #226 closed

[2016-05-05 20:59] #209 closed

[2016-05-05 21:00] #79 closed

[2016-05-06 04:57] Huyeng commented on #837
Fixed!

[2016-05-06 04:57] #837 closed

[2016-05-06 06:50] #845 closed

[2016-05-06 06:50] #843 closed

[2016-05-06 06:50] #840 closed

[2016-05-09 10:52] acorbi opened #850 "Discrepancy on taxonomy box on topic pages"
Currently, the taxonomic topics are displayed in different order, not alphabetically, in the wordpress frontend:

https://cambodia.opendevelopmentmekong.net/topics/disasters-and-emergency-response
![screenshot from 2016-05-09 12-50-14](https://cloud.githubusercontent.com/assets/384894/15111014/acfee758-15e4-11e6-84fb-d186c2fe30f3.png)

https://opendevelopmentmekong.net/topics/disasters-and-emergen

[2016-05-09 10:55] gimmemochi commented on #850
As for ODC, the main categories are intended to be displayed in an
alphabetical order. The sub-categories are intended to be displayed based
on the hierarchical order. Huy Eng made it happened for ODC before the
launch. I believe she implemented this for the other sites including ODM
post launch.

On Mon, May 9, 2016 at 5:52 PM, Alex Corbi notifications@github.com wrote:

ᐧ

[2016-05-09 11:01] acorbi opened #851 "Old important draft posts are not being cleaned up"
Currently, there are 12K+ draft posts on https://opendevelopmentmekong.net/wp-admin/edit.php?post_status=draft&post_type=post. They are supposed to be deleted automatically by a cron job defined on https://opendevelopmentmekong.net/wp-admin/tools.php?page=crontrol_admin_manage_page.

@Huyeng can you take a look at this?

[2016-05-09 18:06] jpeizer1 opened #852 "Major Error- ELC Profiles Page in Production now Resolving to Failure/Error"
Warning: include(/var/www/html/wp-content/themes/jeo/page-profiles.php): failed to open stream: No such file or directory in /var/www/html/wp-content/plugins/magic-fields-2/main.php on line 395

Warning: include(): Failed opening '/var/www/html/wp-content/themes/jeo/page-profiles.php' for inclusion (include_path='.:/usr/share/php:/usr/share/pear') in /var/www/html/wp-content/plugins/magic-fields-2